﻿
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, select, textarea, p, blockquote {
    font-family: Verdana;
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
#sslSeal {
    float: left;
    height: 70px;
    padding: 6px;
    width: 130px;
}
#sslSeal span {
    display: block;
    float: left;
    height: 87px;
    margin: 14px 0 0 22px;
    width: 120px;
}
#bookingControl {
    float: left;
    height: 75px;
    padding: 6px;
    width: 575px;
}
#vehicleConfigureContainer #bookingControl {
    height: 35px;
}
* html #bookingControl {
    clear: none;
    margin: 40px 0 0 30px;
    padding: 0;
}
* html #breadCrumbs ul {
    margin: 0;
    padding: 0;
}
* html #vehicleCatalogContainer {
    margin-left: 0;
}
* html .ShowPriceList {
    width: 120px !important;
}
* html .VehicleImages {
    width: 200px !important;
}
* html .VehicleHeader {
    width: 320px !important;
}
* html #travelDetails {
    width: 320px !important;
}
* html #depositPanel em {
    width: 180px !important;
}
#bookingControl div.CtrlCol {
    float: left;
}
#bookingControl #leftCol {
    width: 170px;
}
#bookingControl #leftCol span {
    margin-bottom: 6px;
}
#bookingControl #centreCol {
    width: 180px;
}
#bookingControl #centreCol span {
    float: right;
    margin-bottom: 2px;
}
#bookingControl #rightCol {
    margin-bottom: 2px;
    margin-left: 6px;
    width: 205px;
}
#bookingControl #centreCol span.TimeSpan {
    width: 180px;
}
* html #bookingControl #centreCol span.TimeSpan option {
    display: none;
}
#bookingControl select, #bookingControl input {
    font-size: 10px;
}
#bookingControl span {
    display: block;
    font-size: 10px;
}
#bookingControl #centreCol span {
    float: right;
}
#bookingControl #centreCol .Splash {
    display: none;
}
#bookingControl.SplashMode #centreCol .Splash {
    display: block;
}
#bookingControl.SplashMode #centreCol .Splash select {
    width: 180px;
}
#bookingControl.SplashMode #centreCol .Model {
    display: none;
}
#bookingControl #ctrlSearchBox_dropVehicleType {
    width: 123px;
}
#bookingControl #ctrlSearchBox_dropCountryOfResidence {
    width: 180px;
}
#bookingControl #ctrlSearchBox_calPickUp_DateText, #bookingControl #ctrlSearchBox_calDropOff_DateText {
    width: 80px;
}
#bookingControl #ctrlSearchBox_dropPickUpTime, #bookingControl #ctrlSearchBox_dropDropOffTime {
    width: 92px;
}
#bookingControl select.LocationDD {
    margin-bottom: 2px;
    width: 108px;
}
#bookingControl #leftCol .SingleType {
    visibility: hidden;
}
#bookingControl #rightCol .Passengers span {
    float: left;
}
#bookingControl #rightCol .Passengers select {
}
#bookingControl #rightCol .Passengers .LeftPass {
    float: right;
    text-align: right;
    width: 97px;
}
#bookingControl #rightCol .Passengers .RightPass {
    text-align: right;
    width: 108px;
}
#bookingControl #rightCol #bottomRight {
    width: 205px;
}
#bookingControl #rightCol span {
    margin-bottom: 2px;
}
#bookingControl #rightCol #bottomRight #locationsPanel {
    display: block;
    float: left;
    width: 110px;
}
#bookingControl #rightCol #bottomRight a {
    display: block;
    float: right;
}
#HorizontalControlContainer .SearchBox_FullListBox {
    margin: 0;
}
#HorizontalControlContainer .CofR {
}
#vehicleCatalogContainer .VehicleItem div.Err {
    background: url("../images/icons/exMarkAvailRow.gif") no-repeat scroll 0 0 #FFF1A3;
    border: 1px solid #2EB3D2;
    color: #33335A;
    display: none;
    font-size: 11px;
    height: 48px;
    padding: 5px 0 0 33px;
    width: 427px;
}
#vehicleCatalogContainer .Blocking .Err {
    display: block !important;
}
#vehicleCatalogContainer .Blocking .Limited {
    display: none;
}
* html #vehicleCatalogContainer .Limited div span {
    width: 300px !important;
}
#vehicleCatalogContainer .VehicleItem div.Limited {
    float: left;
    margin-left: 5px;
}
#vehicleCatalogContainer .VehicleItem div.Limited .Top a {
    color: #206E81;
    display: block;
    float: left;
    font-size: 13px;
    text-decoration: none;
}
#vehicleCatalogContainer .VehicleItem div.Limited .Top a.Quest {
    background: url("../images/icons/quest.gif") no-repeat scroll 0 0 #FFFFFF;
    height: 15px;
    margin-left: 2px;
    overflow: hidden;
    text-indent: -1000px;
    width: 15px;
}
div.HasResults #emptySelectionMsg {
    display: none;
}
#vehicleCatalogContainer #emptySelectionMsg {
    float: left;
}
#vehicleCatalogContainer #emptySelectionMsg span {
    display: block;
    float: left;
    font-size: 11px;
    margin: 20px 0 40px;
    text-align: center;
    width: 760px;
}
#vehicleCatalogContainer .VehicleItem img.RowLogo {
    display: none;
    float: left;
}
.PriceDetailsList table.chargesTable {
    width: 675px;
}
#vehicleCatalogContainer .VehicleItem div.Limited .Top span {
    display: block;
    float: left;
    width: 290px;
}
#vehicleCatalogContainer .VehicleItem div.Limited .Top .Contact {
    clear: both;
    color: #000000;
    float: left;
    font-size: 11px;
}
#vehicleCatalogContainer .VehicleItem div.Limited .EmailLink {
    text-align: center;
    width: 120px;
}
#vehicleCatalogContainer .VehicleItem div.Limited .EmailLink a {
    color: #302B6F;
    font-size: 11px;
    text-decoration: none;
}
#configurePanel .Total small, #configurePanel .total em {
    font-weight: bold;
}
#allInclusivePanel ul li {
    font-size: 11px;
    margin-left: 45px;
}
#allInclusivePanel li {
}
#insurancePanel tr.IsInclusive {
    display: none;
}
div.InclusiveOn table {
    display: none;
}
div.InclusiveOn #inclusiveSelectedTxt {
    display: block !important;
}
#inclusiveSelectedTxt {
    clear: both;
    display: none !important;
}
#ferryPanel.Hide {
    display: none;
}
#configureUpdatePanel .TaxMsg big {
    display: none;
    float: right;
    font-size: 11px;
    margin-right: 30px;
}
#configureUpdatePanel .HasAdminFee small {
    display: none;
}
#configureUpdatePanel .HasAdminFee big {
    display: block;
}
#configureUpdatePanel #alternateCurrency {
    color: #999999;
    display: none;
}
#resultsHeader select {
    font-size: 10px;
    width: 172px;
}
div.DiscountedDaysPopUp {
    display: none;
}
#tooltip {
    background-color: #EEEEEE;
    border: 1px solid #000000;
    opacity: 0.95;
    padding: 5px 10px 15px;
    position: absolute;
    z-index: 3000;
}
#tooltip h3, #tooltip div {
    margin: 0;
}
#topHeader {
    width: 750px !important;
}
#topHeader .CurrencyPanel select, #topHeader .CurrencyPanel small {
    font-size: 11px;
}
tr.NoSurcharge {
    display: none !important;
}
#footerPanel .Buttons label.Error {
    display: block;
}
#footerPanel .Buttons label {
    clear: none !important;
    color: #FF0000;
    display: none;
    float: left;
    font-size: 11px;
    width: 300px;
}
#disclaimer span {
    clear: both;
    float: left;
    width: 760px;
}
#paymentPanel .Submitting .Buttons {
    background: url("../../images/tiles/ajax-loader.gif") no-repeat scroll 228px 9px #FFFFFF;
}
#paymentPanel #creditCardDetails #sealPanel {
    background: url("../../images/icons/go_daddy_holdingimage.gif") no-repeat scroll 0 17px rgba(0, 0, 0, 0);
    display: block;
    float: right;
    height: 107px;
    width: 140px;
}
#paymentPanel #macTerms {
    display: none;
}
#totalPricesPanel big, #totalPricesPanel small {
    clear: both;
    width: 200px !important;
}
#depositPanel .left big, #depositPanel .left small {
    width: 480px !important;
}
.PayFull big.PayDeposit, .PayFull small.PayDeposit {
    display: none;
}
.PayFull big.PayFull, .PayFull small.PayFull {
    clear: both;
    display: block;
    width: 100px !important;
}
.PayFull tr.PayDeposit {
    display: none;
}
#depositPanel big.PayFull {
    display: none;
}
.PayFull #depositPanel big.PayFull {
    display: block;
}
#depositPanel em {
    clear: both;
    display: block;
    float: right;
    font-style: normal;
}
#customerTitleDD {
    float: left;
}
div.Confirmation {
    font-size: 12px !important;
}
.Confirmation #travelDetails td.tc, #travelDetails td.tc, #rentalSum td.rt, #paymentDet td.rt, #contactUs td.tc, #yourDetails td.tc {
    width: 210px;
}
#rentalSum td.rp, #paymentDet td.rp {
    width: 410px;
}
#confirmationPanel #ConfText, #confirmationPanel #onRequest {
    width: 550px !important;
}
#confirmationPanel #ConfText p, #confirmationPanel #onRequest p {
    margin: 20px;
}
#confirmationPanel #ConfText p big, #confirmationPanel #onRequest p big {
    color: #206E81;
    float: none;
    font-size: 14px;
    font-weight: bold;
    width: auto;
}
#printLinkDiv {
    float: left;
    width: 150px !important;
}
#printLinkDiv img {
    float: left;
    margin: 40px 0 40px 20px;
}
#printLinkDiv a {
    display: block;
    float: left;
    height: 24px;
    overflow: hidden;
    text-indent: -1000px;
    text-transform: capitalize;
    width: 140px;
}
#travelDetails td {
    margin-top: 5px;
    vertical-align: top;
}
#rentalSum table, #paymentDet table, #travelDetails table, #yourDetails table, #contactUs table {
    margin-left: 20px;
    width: 730px !important;
}
#rentalSum tr.total {
    background-color: inherit;
}
#rentalSum tr td.price, #paymentDet tr td.price {
    text-align: right;
}
#contactUs div {
    margin: 10px 0 10px 20px;
}
#feedBack span {
    display: block;
    float: left;
    margin: 0 20px 20px;
}
#feedbackForm p, #feedbackForm div {
    display: block;
    float: left;
    margin-left: 20px;
}
#feedbackForm div table {
    display: block;
    float: left;
    margin: 0;
}
#feedbackForm table td {
    height: 5px !important;
    text-align: center;
    width: 10px !important;
}
#feedbackForm table td label, #feedbackForm table td input {
    width: 20px;
}
div.Confirmation #contactUs {
    margin-bottom: 40px;
}
div.Confirmation #contactUs table {
    clear: both;
    float: left;
}
#paymentContainer div.Hide {
    display: none;
}
#completedMessage {
    background-color: #FFFFFF;
    float: left;
    width: 700px;
}
#completedMessage span, #completedMessage big {
    clear: both;
    float: left;
    margin: 10px 0 10px 20px;
}
#paymentDet {
    padding-bottom: 20px;
}
#configureUpdatePanel .Submit input {
    cursor: pointer;
}
#footerPanel input {
    cursor: pointer;
}
.Confirmation #sealPanel {
    background: url("../../images/icons/go_daddy_holdingimage.gif") no-repeat scroll 0 10px rgba(0, 0, 0, 0);
    height: 105px;
    width: 135px;
}
.Confirmation a.contactUsLink {
    font-size: 12px;
}
#emailForm #sealPanel {
    float: right;
    width: 70px;
}
#emailForm #infoPanel {
    width: 680px;
}
.BlankConfirmation #paymentPanel #yourDetails, .BlankConfirmation #paymentPanel #travelDetails, .BlankConfirmation #paymentPanel #rentalSum, .BlankConfirmation #paymentPanel #paymentDet, .BlankConfirmation #printLinkDiv {
    display: none;
}
#configureUpdatePanel #saveQuoteLnk {
    float: right;
    height: 23px;
    margin-right: 20px;
    overflow: hidden;
    text-indent: -1000em;
    width: 144px;
}
#quoteForm {
    color: #FFFFFF;
}
#quoteForm span {
    clear: both;
    display: block;
    float: left;
    margin: 4px 0 20px 50px;
}
#quoteForm ul {
    display: block;
    float: left;
}
#quoteForm ul li p {
    display: block;
    float: left;
    height: 24px;
}
#quoteForm ul li label {
    display: block;
    float: left;
    height: 20px;
    line-height: 22px;
    margin-right: 3px;
    text-align: right;
    width: 100px;
}
#quoteForm ul li input {
    width: 208px;
}
#quoteDisclaimer {
    float: left;
    margin-bottom: 20px !important;
}
#contactUs table td {
    font-size: 11px;
}
#quoteDisclaimer span {
    display: block;
    margin: 10px 0 0 50px;
}
#printQuoteLnk {
    background-position: -600px 0 !important;
}
#printQuoteDiv {
    background-image: none !important;
    width: 150px !important;
}
#printQuoteDiv #sealPanel {
    background-image: none !important;
}
#printQuoteDiv a {
    display: block;
    float: left;
    height: 24px;
    overflow: hidden;
    text-indent: -1000px;
    text-transform: capitalize;
    width: 140px;
}
#printQuoteDiv img {
    float: left;
    margin: 40px 0 40px 20px;
}
#printQuoteDiv #searchAgainLnk {
    display: block;
    float: left;
    height: 24px;
    width: 140px;
}
a.priceMatch {
    display: block;
    float: left;
    height: 87px;
    visibility: hidden;
    width: 100px;
}
#catalogHeader span.ContactInfo {
    float: right !important;
    width: 330px !important;
}
#ferryPanel span.ferryDisc {
    display: block;
    font-size: 11px;
    margin-left: 10px;
}
#ferryPanel td.desc small {
    font-size: 11px;
    margin-left: 5px;
}
#submitExpiredQuote {
    font-size: 11px;
}
#submitExpiredQuote a {
    display: block;
    float: left;
    margin-left: 20px;
    overflow: hidden;
    text-indent: -1000em;
}
#submitQuoteLnk {
    background-position: -200px -160px !important;
    float: right;
}
#submitExpiredQuote div, #submitExpiredQuote small {
    display: block;
    float: left;
}
#submitExpiredQuote small {
    font-size: 11px;
    height: 40px;
    line-height: 34px;
    margin-left: 20px;
    text-align: center;
    width: 20px;
}
#submitExpiredQuote span {
    width: 120px;
}
#expiredQuoteForm .expired {
    height: 520px;
}
.quote td.price small {
}
.saveQuote .PayementTotal {
    display: none;
}
.quote #paymentDet {
    display: none;
}
.ccAU #ferryPanel {
    display: none;
}
#expiredQuoteForm .NoAvailability #searchVehicle, #expiredQuoteForm .NoAvailability #orLabel {
    display: none;
}
.quote #insuranceAgeSelector {
}
#bookingControl .botCol {
    clear: left;
    display: block;
    float: left;
    width: 100%;
}
#bookingControl .crossSell {
    background: url("../../images/crosssell/cs-background.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    margin-left: 16px;
    padding: 10px;
}
#bookingControl.Aggregator .botCol {
    display: none;
}
#bookingControl .crossSell .crossSellBrand {
    background: url("../../images/crosssell/cs-logos.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 23px;
}
#bookingControl .crossSell .crossSellBrand.all {
    display: block;
    float: left;
    width: 120px;
}
#bookingControl #rightCol {
    position: relative;
}
#ctrlValidationMsg {
    bottom: 0;
    position: absolute;
    right: 0;
}
#bookingControl.Aggregator #ctrlValidationMsg {
    top: 25px;
}
#vehicleConfigureContainer #bookingControlContainer #bookingControl .botCol {
    display: none;
}
#vehicleConfigureContainer #bookingControlContainer #bookingControl #rightCol #bottomRight a {
    display: block;
}
#vehicleConfigureContainer span.CofR {
    display: none;
}
.PriceDescription .promo big {
    font-size: 11px;
}
.PriceDescription .promo small {
    font-size: 9px;
    line-height: 11px;
}
.PriceDescription .promo big, .PriceDescription .promo small {
    clear: both;
    float: left;
    width: 180px;
}
#bookingControl .spinner {
    float: right;
    height: 24px;
    margin-right: 5px;
    overflow: hidden;
    position: relative;
    width: 24px;
}
#footerLinksBottom #footerLinksLogos li a#roadbearlogo {
    margin-left: 3px;
    width: 53px !important;
}
