body {
	   background:url(../images/bg_body.jpg) #e2e0e1 repeat-x top left;
   		font:9px Arial, Helvetica, sans-serif;
   		margin:0;
   		padding:0;
   		text-align:center;
   		color: #666
}

H1 {
	font-family:helvetica, arial, sans-serif;
	font-size:28px;
	font-weight:normal;
	margin:0;
}
.oneColElsCtr #container {
   margin-left:auto;
   margin-right:auto;
   text-align:left;
   width:769px;
}
.oneColElsCtr #header {
	background:url(../images/bg_header.jpg) no-repeat top left;
	font-size:11px;
	height:99px;
	text-align:right;
	padding:0 0 10px 0;
	width: 769px;
}
.oneColElsCtr #header a, .oneColElsCtr #header a.visited  {
	color:#fff;
	padding:0 10px 0 0;
	text-decoration:none;
}
.oneColElsCtr #header a:hover {
	color:#fff;
	padding:0 10px 0 0;
	text-decoration:underline;
}

.oneColElsCtr #header #logo_link {
	height:99px;
	width:225px;
	float:left;
	cursor:pointer;
}

.oneColElsCtr #bookingcontainer {
	background-image:url(../images/blue_bg.gif);
	background-repeat:repeat-x;
	float:left;
	width:769px;
	height:583px;
	margin:0 10px 0 0;
}

* html .oneColElsCtr #bookingcontainer {
	margin:0;
	
}

.oneColElsCtr #bookingcontainer #pageHeader{
	background-image:url(../images/PageHeaderBg.gif);
	background-repeat:no-repeat;
	display:block;
	width:769px;
	height:54px;
	color:#003333;
}

.oneColElsCtr #bookingcontainer #pageHeader H1{
	padding:24px 0 0 28px;}
	
	
.oneColElsCtr #bookingcontainer #pageContent{
	display:block;
	width:746px;
	height:380px;
	background-color:#FFFFFF;
	margin-left:12px;
}

#bookingcontrol{
	/*background-image:url(../images/booking_control_bg.jpg);*/
	background-repeat:no-repeat;
	display:block;
	width:210px;
	height:370px;
	float:left;
	margin-top:8px; 
	margin-left:18px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	padding:0;
	}
	
* html #bookingcontrol{
 margin-left:10px;
}

#bookingcontrolhr{
	margin:10px 0 11px 10px;
	}

#bookingcontrolheader {
	margin:17px 0 11px 10px;
	}

.oneColElsCtr #bookingcontainer #pageContent #brands{
	display:block;
	width:480px;
	height:370px;
	float:left;
	margin:0px 0px 0 23px;}

.oneColElsCtr #bookingcontainer #pageContent #brands #brandheader{	
	margin: 12px 0 12px 0;
	}

.oneColElsCtr #bookingcontainer #pageContent #brands h3 {	
	color:#006b77;
	font-weight:normal;	
	font-size:12px;
	padding:0px;
}

#brandheader big {
    color:#006b77;
    font-size:12px;
    font-weight:normal;
    padding:0;    
}

.oneColElsCtr #bookingcontainer #pageContent .brand{
	background-image:url(../images/brand_info_bg.gif);
	background-repeat:no-repeat;
	display:block;
	width:230px;
	height:160px;
	float:left;
	margin:0 10px 10px 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#666666;
	overflow:hidden;
	/*line-height:13px;*/
	}


.oneColElsCtr #bookingcontainer #pageContent #brands .brand img{
	margin:10px 0 7px 137px;
	padding:0;
	}
	
	
* html .oneColElsCtr  #bookingcontainer #pageContent #brands .brand img{
	margin-bottom:6px;
	
}

.oneColElsCtr #bookingcontainer #pageContent #brands .brand h3{
	font-size:9px;
	padding:0;
	margin:0;
	}
.oneColElsCtr #bookingcontainer #pageContent #brands .brand ul{
	margin-left: 0;
	padding-left: 0;
	display: inline;

	}
.oneColElsCtr #bookingcontainer #pageContent #brands .brand ul li{
	font-size:10px;
	margin-top: 3px;
	margin-bottom: 2px;
	margin-left: 8px;
	padding-left: 3px;
	list-style: disc;
	list-style-position: inside;

	}
	
.oneColElsCtr #bookingcontainer #pageContent #brands .brand h3, .oneColElsCtr #bookingcontainer #pageContent #brands .brand p{
	margin:0 7px 0 9px;
	}
	

#pageContent #brands .brand h2 {
    color: #003333;
    font-size: 10px;
    margin:0 7px 0 9px;
    padding : 0;
}

#pageContent #brands .brand span {
    display:block;
    height:63px;
}

#pageContent #brands .brand a.deals  {
    float: right;
    color:#017688;
    
}

#pageContent #brands .brand a.guide {
    float: left;
    color:#017688;    
}

#pageContent #brands .brand a:hover {
    color:#EF9503;    
}

	
.oneColElsCtr #bookingcontainer #pageBottom{
	overflow:auto;
	background-image:url(../images/PageBottomBg.gif);
	background-repeat:no-repeat;
	display:block;
	width:769px;
	height:22px;
}

.oneColElsCtr #adBottom {
	margin-top:8px;
	display:block;
	width:769px;
	height:116px;
}

#footer {
/*	background:url(../images/bg_footer.jpg) top left no-repeat;*/
	position:relative;
	display:inline;
	float:right;
	margin:6px 0 10px 0;
	padding:0px;
	height:42px;
	width:769px;
}
/*--------- Start Air NZ footer ------------*/
#footer #leftEnd {
	background:url(../images/f_left.gif) no-repeat 0 0;
	float:left;
	width:3px;
	height:42px;
	margin:0;
	padding:0px;
}
#footer #middleBit {
	float:left;
	margin: 0 0;
	width:763px;
	height:42px;
}
#footer #middleBit #topRow {
	height:24px;
	background:url(../images/f_midtop.gif) repeat-x 0 0;
	text-align:center;
}


#topRow ul{
	list-style-type:none;
	padding:0;
	margin:0;
	line-height:24px;
	text-align:center;
	height:24px
}
#topRow ul li{
	display:inline
}
#topRow ul li.last{
	display:inline; 
	background:url(../images/f_div.gif) no-repeat right 1px;
	height:24px;
	padding:0px 6px 0 0;
}

#topRow a{
	white-space:pre;
	color:#777;
	font-size:11px;
	background:url(../images/f_div.gif) no-repeat 0 0;
	line-height:24px;
	padding:5px 7px 5px 10px;
	margin:0 -5px 0 0px;
	color:#777;
	text-decoration:none
}
#topRow a:hover{
	white-space:pre;
	background:url(../images/f_hover.gif) repeat-x 0 0; 
	text-decoration:none;
	padding:5px 7px 5px 10px;
	line-height:24px
}


#footer #middleBit #bottomRow {
	height:18px;
	background:url(../images/f_midbottom.gif) repeat-x 0 0;
}

#bottomRow #CopyRightText{
	color:#777;
	line-height:18px;
	font-size:10px;
	text-align:center;
	margin: -2px 0 0 160px;
	float:left;
}
#bottomRow #StarAllianceLogo{
	background:url(../images/SALogo.gif) no-repeat 0 0;
	height: 17px;
	width: 170px;
	float:left;
	margin: 0 0 0 50px;
}
#footer #rightEnd {
	background:url(../images/f_right.gif) no-repeat 0 0;
	float:left;
	width:3px;
	height:42px;
	margin:0;
	padding:0px;
}
#footer #clearer {
	clear:left;
	height:1px;
	overflow:hidden; /*for IE only*/
}
/*--------- End Air NZ footer ------------*/
.clear {
	clear:both;
}

/*validation*/
input.required, select.required {
    background-color: #ffe57f;
}

div.requiredMsg 
{   
    position:absolute;
    width: 200px;
}

.requiredMsg span {
    float:left;
    display: block;
}

.requiredMsg .arrow {
    background: url(/images/arrow.png) no-repeat 0 0;
}

.requiredMsg .text {
    background-color : #ffe57f;
    border: solid 1px #000;
    border-left-width : 0;
    font-size: 10px;
    font-family : Verdana;
    line-height : 15px;
}
/*validation ends*/

/* hot deals */
div.hotdeals {
    padding: 0 !important;
}

div.hotdeals img {
    margin: 0 auto !important; 
    padding: 0 auto !important;   
    clear: both;
    float: left;
    display: block;
}

div.hotdeals ul {
    margin: 5px 0 0 3px !important;
    padding:0 0 0 7px !important;
    display:block;
    float: left;    
}
div.hotdeals ul li {
    list-style-position : outside !important;
    list-style-type : disc !important;
    font-size: 9px !important;
}