/* Page Styling for Widget page */

body {
	background:url(../images/thlbg.jpg);
}
#container {
	width:1000px;
	margin:0 auto;
	position:relative;
}
.thllogo {
	position:absolute;
	top:0px;
	left:0px;
	width:191px;
	height:137px;
}
.content {
	float:left;
	width:736px;
	background:#FFF;
	border-top:1px solid #b0b0b0;
	border-bottom:1px solid #b0b0b0;
	margin-top:55px;
	margin-bottom:55px;
	margin-left:105px;
	padding:27px;
}
.title {
	float:left;
	width:734px;
	height:35px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:31px;
	font-style:italic;
	color:#9a9a9a;
	padding-left:79px;
	padding-top:0px;
	margin-bottom:60px;
	margin-top:-11px;
}

/* LEFT PANEL */

#leftPanel {
	float:left;
	width:450px;
}
	
#configureForm p {
	float:left;
	width:430px;
	padding:10px;
	border:1px solid #dbdbdb;
	margin:0 0 10px 0;
	
}
#configureForm p.noborder {
	float:left;
	width:430px;
	padding:10px;
	margin:0 0 10px 0;
	border:none;
	
}
#configureForm p label {
	float:left;
	width:430px;
	margin-bottom:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	text-transform:uppercase;
	color:#4A4A4A;
}
#configureForm p span {
	float:left;
	width:430px;
	margin-bottom:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:italic;
	color:#777777;
}
#configureForm select {
	float:left;
	width:250px;
}
#configureForm input {
	float:left;
	width:242px;
}
textarea {
	float:left;
	width:446px;
}

	

	
.widgetbtn {
	float:left;
	display:block;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding:4px 6px;
	background:#EFEFEF;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	margin-right:10px;
	color:#4a4a4a;
	font-size:14px;
	text-shadow: 0 1px 0 white;
	border:1px solid;
	border-color: #CCC #CCC #AAA;
	background-color: #E0E0E0;
	-moz-box-shadow: inset 0 0 1px #fff;
	-ms-box-shadow: inset 0 0 1px #fff;
	-webkit-box-shadow: inset 0 0 1px white;
	box-shadow: inset 0 0 1px white;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#fffafafa,EndColorStr=#ffdcdcdc);
	background-image: -moz-linear-gradient(top,#FAFAFA 0,gainsboro 100%);
	background-image: -ms-linear-gradient(top,#FAFAFA 0,gainsboro 100%);
	background-image: -o-linear-gradient(top,#FAFAFA 0,gainsboro 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FAFAFA),color-stop(100%,gainsboro));
	background-image: -webkit-linear-gradient(top,#FAFAFA 0,gainsboro 100%);
	background-image: linear-gradient(to bottom,#FAFAFA 0,gainsboro 100%);
}

.widgetbtn:hover {
	background:#EFEFEF;
	-moz-box-shadow: 0 0 1px #888;
	-webkit-box-shadow: 0 0 1px #888;
	box-shadow: 0 0 1px #888;
}

/* RIGHT PANEL */



#rightPanel {
	float:right;
	width:245px;
	padding:9px;
	border:1px solid #dbdbdb;
	
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
}



/* ************************************************** /END page styling */