﻿/* Booking Control */

.calendar .title, .calendar .nav,.calendar .button,.calendar thead .name,.calendar thead .hilite,.calendar tbody .rowhilite td{
    background-color : #FEF4EA !important;
	color:#F58220 !important;
}

.calendar .combo .label{
    background-color : #FEF4EA !important;
}


.calendar .combo .hilite{
    background-color : #F58220 !important;
	color:#FFFFFF;
}

#bookingControl {
    margin-left:0px;
	margin-top:42px; 
}

#bookingControl #rightCol #bottomRight a {
    background:transparent url(../../images/b/btn/btn_matrix.png) no-repeat scroll 0 0;
    display:none;
    height:25px;
    overflow:hidden;
    text-indent:-100px;
    width:76px;
    margin-top:52px;
}

#ctrlValidationMsg {
    font-size:9px;
    display : block;
    visibility : hidden;
    float : left; 
    background:  transparent url(../../images/b/icons/yellowBlock.gif) no-repeat 4px 0px;
    padding-left: 18px;
    width: 70px;
    line-height : 12px;
}
#bookingControl .TimeSpan input.required {
   background-color : #fdee00;
}

#bookingControl select.required {
   background-color : #fdee00;
} 

#bookingControl span.Company {
    display: none;
}

#ctrlValidationMsg.required {
    visibility : visible;
    color: #000;
}

#bookingControl #ctrlSearchBox_dropPickUpTime, #bookingControl #ctrlSearchBox_dropDropOffTime {
    width:88px;
    float : right;
}

#bookingControl #ctrlSearchBox_calPickUp_DateText, #bookingControl #ctrlSearchBox_calDropOff_DateText {
    width:82px;
    float:left;
}

* html #centreCol {
    overflow :hidden;
    height : 83px;
}

#bookingControl span.required {
   /*background:  transparent url(../../images/b/icons/britz_control_arrow.gif) no-repeat 159px 0;*/   
}

