﻿html {
	min-width:800px;
}

body {
 	background:#efedee url(../../images/b/header.jpg) no-repeat scroll center 0 !important;
	min-width:800px;
}

body.selection {
	background-position: center /*25px*/0 ;
}

#vehicleSelectionContainer, #vehicleConfigureContainer, #paymentContainer {
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 800px;    
    border: solid 0px #fff;
}

/* Header */
#catalogHeader {
    float : left;
    width: 800px;
}

#catalogHeader span.Image {
    float: left;
    width: 200px;
    height : 87px; 
	margin:6px 0 0 7px;
}
#catalogHeader span.Image a img
{
    border:none;
}

#catalogHeader span.ContactInfo {
    margin: 16px 0 0 0;
    float: left;
    display : block;
    width : 526px;
    height : 40px;
    color:#000;
    font-family: Verdana,Arial;
    font-size:11px;
    text-decoration: none;        
}

#catalogHeader span.ContactInfo a {
    text-decoration: none;
}

#catalogHeader span a {
    color:#000;
	text-decoration:underline !important;
}

/* Booking Control */
#bookingControlContainer {
	background: url(../../images/b/booking_bg.PNG) no-repeat scroll 105px 0;
    float: left;
    width: 800px;
    height : 219px;
}


/* crumbs panel */
#breadCrumbs {
	background: #FFF url('../../images/b/tiles/bg-top.jpg');
	background-repeat:no-repeat;
	-moz-box-shadow: 0px 0px 8px #000;
	-webkit-box-shadow: 0px 0px 8px #000;
	box-shadow: 0px 0px 8px #000;
	float: left;
    width: 791px;
    padding-left:7px;
    height : 45px;
    margin-left:2px;
    border-bottom: 1px solid #E4E4E4;
    padding-bottom:10px;
}

#breadCrumbs span.Crumbs {
    float : left;
    font-size : 11px;
    margin: 18px 0 0 20px;
}
#breadCrumbs span.Crumbs a {
    color: #db741b;
    text-decoration: none; 
}

#breadCrumbs ul {
    float : right;
    display : block;
    margin : 14px 20px 0 0;
    width: 380px;
    height: 45px;
    font-size:9px;
} 

#stepsDisplayer li {
    padding :0;
    margin : 0;
    float : right; 
    height : 32px;
    width : 63px;       
}

#stepsDisplayer span {
    display: block;
    float : right;
    height : 32px;
    width : 63px;
    background:transparent url(https://secure.britz.com.au/images/b/icons/wizard_stages.gif) no-repeat  0 0;
    padding-top: 15px;     
}

#stepsDisplayer #PaymentStep {
    background-position : -114px 0;    
}

#stepsDisplayer #ConfigureStep {
    background-position : -51px 0;    
}

#stepsDisplayer #SelectStep {
    background-position : 12px 0;    
}

/* Catalog container */
#vehicleCatalogContainer {
	background: #FFF url('../../images/b/tiles/bg-top2.jpg');
	background-repeat:no-repeat;
-moz-box-shadow: 0px 5px 8px #000;
-webkit-box-shadow: 0px 5px 8px #000;
box-shadow: 0px 5px 8px #000;
    float : left;
    width: 780px;
    margin-left: 2px;   
    padding-left:18px;
    padding-bottom: 12px;
    padding-top:10px;
    margin-top:-6px;
    border-top: 1px solid #E4E4E4;
}

* html #vehicleCatalogContainer {
    margin-left: 0px;
	 }

* html #bookingControl {
    margin-left: 60px;
}

* html #disclaimer {
    margin-left: 0;
    padding: 0;
}

#vehicleCatalogContainer h2 {
    color:#F58220;
    font-size:18px;
    font-weight:bold;
    margin: 5px;
}

#vehicleCatalogContainer .VehicleItem div.Limited .Top a {
	color:#F58220 !important; /* REMOVE FROM BASE.CSS */
}

#vehicleCatalog .VehicleItem div.PriceDescription a.OnRequest {/* add <?> bG */
    color:#206E81;
    font-size:13px;
    text-decoration : none;
    margin : 3px 0 3px 0;
    display : block;
}

#vehicleCatalogContainer .VehicleItem div.Limited .Top a:hover {
	color:#F58220; 
	text-decoration:underline;
}


#vehicleCatalogContainer .VehicleItem div.Limited .CallLink a {
	color:#F58220;
	display: block;
	background:transparent url(https://secure.britz.com.au/images/b/btn/btn_matrix.png) no-repeat  0 -559px;
    text-indent: -9999px;
    overflow: hidden;
	height: 32px;
    width: 106px;
	margin-left: 45px;
}

#vehicleCatalogContainer .VehicleItem div.Limited .CallLink a:hover {
     background-position: 0 -639px;
}


#vehicleCatalogContainer .VehicleItem div.Limited .Top a.Quest { /* REMOVE FROM BASE.CSS */
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background : #fff url(https://secure.britz.com.au/images/b/icons/questMark.gif) no-repeat  0 0 !important;
	height:16px;
	margin-left:2px;
	overflow:hidden;
	text-indent:-9999px;
	width:16px;
}

#resultsHeader {
    background-color: #fff;
    width: 760px;
    height:30px;
    font-size : 12px;
    color : #000;
}

#resultsHeader h3 {
    font-size : 11px;
    color : #000;
    font-weight : normal;
    float : left;
    width : 380px;
    margin : 8px;
}

#resultsHeader span {
    float : right;
    background-color: #fff;
    display : block;
    text-align: right; 
    margin:4px;   
}

#vehicleCatalog {
    display : block;
    width : 760px;
}

/* Vehicle Row */
#vehicleCatalog .VehicleItem {
    width : 760px;    
    float : left;
    border-top: solid 1px #F58220;  
}

#vehicleCatalog div.VehicleItem {
    float : left;  
    width : 760px;
    background-color: #fff;      
}

#vehicleCatalog .VehicleItem a.VehicleThumb {
    display : block;
    float : left;
    text-decoration : none;
    margin-left: 3px;
    border: 0;   
	width:75px;              
}

#vehicleCatalog .VehicleItem a.VehicleThumb img {
    border : 0;    
}

#vehicleCatalog .VehicleItem div {
    float : left;
    text-decoration: none;
}

#vehicleCatalog .VehicleItem div.VehicleFeatures {
    width: 210px;
    margin-left:3px;    
}

#vehicleCatalog .VehicleItem div.VehicleFeatures a {
    color:#f58220;    
    font-size:18px;
    text-decoration : none; 
    display : block;      
}

#vehicleCatalog .VehicleItem div.VehicleFeatures a:hover, .ShowPriceList:hover {
    text-decoration : underline;
    color: #f58220 !important;
}

#vehicleCatalog .VehicleItem div.PriceDescription {
    width: 250px;
    margin-left: 3px; 
}

#vehicleCatalog .VehicleItem div.PriceDescription a.Avail, #vehicleCatalog .VehicleItem div.PriceDescription a.OnRequest {
    color:#f58220;
    font-size:13px;
    text-decoration : none;
    margin : 3px 0 3px 0;
    display : block;
}

#vehicleCatalog .VehicleItem div.PriceDescription .AvgPrice {
    display : block;
    float : left;
    color : #7B7B7B;
}

#vehicleCatalog .VehicleItem .ShowPriceList,  #vehicleChargeDetails  .ShowPriceList {
    display : block;
    float : left;
    height : 15px;
    width: 170px;
    color : #f58220;
    font-size: 10px;
    font-weight : normal;
    margin : 8px 0 3px 0;
    padding-left: 18px;
    background:transparent url(https://secure.britz.com.au/images/b/icons/price_list_expand.gif) no-repeat  0 0;
    cursor : pointer;
}

#vehicleCatalog .Collapse .ShowPriceList, #configurePanel .Collapse .ShowPriceList {
   background-position : 0 -15px;
}

#vehicleCatalog .VehicleItem div.PriceDescription li {
    float: left;
    margin: 0;
    padding : 0; 
}


#vehicleCatalog .VehicleItem div.PriceDescription span {
    color:#8B8B8B;
    font-size:11px;
    display : block;
    float: left;
    clear: both;      
}

#vehicleCatalog .VehicleItem div.PriceDescription span.SavePrice {
    background:transparent url(https://secure.britz.com.au/images/b/tiles/saveBG.gif) no-repeat  0 0;
    height: 45px;
    width: 110px;
    color: #fff;    
}

#vehicleCatalog .VehicleItem div.PriceDescription span.SavePrice small {
    margin: 26px 0 0 10px;
    height:10px;
    width: 100px;
    float: left;
    clear: both;
}


#vehicleCatalog .VehicleItem div.TotalPrice {
    width: 118px;   
}

#vehicleCatalog .VehicleItem div.TotalPrice li span {
    color:#202966;
    font-size:13px; 
	font-weight:bold;   
}

#vehicleCatalog .VehicleItem div.TotalPrice li span.Fp {
    color:#8B8B8B;
    font-family:Verdana;
    font-size:11px;
}

#vehicleCatalog .VehicleItem a.SelectBtn {
    display : block;
    float : left;
    width: 75px;
    height: 23px;
    margin-top: 5px;
    background:transparent url(https://secure.britz.com.au/images/b/btn/btn_matrix.png) no-repeat  0 -160px;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none; 
}

/* details list */
#vehicleCatalog .Collapse div.PriceDetailsList {
    display : none;
} 

#vehicleCatalog div.PriceDetailsList {
    float : left;   
    color: #7A7A7A;
    background-color : #fff;
    width : 702px;
    padding-left:58px;    
}

#vehicleChargeDetails div.PriceDetailsList {
    float : left;   
    color: #7A7A7A;
    background-color : #fff;    
    margin : 0 18px 0 18px;
    clear : both;
    width : 725px;
}

#vehicleCatalog div.PriceDetailsList table {
    background-color:#fdf2e9;
    margin: 0 0 5px 20px;
}

#configurePanel div.PriceDetailsList table {
	background-color:#fdf2e9;
    width: 725px !important;
}

div.PriceDetailsList table tr.total {
    background-color: #ddcfc4;
}

div.PriceDetailsList table tr.total {
    background-color: #ddcfc4;
}

#vehicleCatalog div.PriceDetailsList th {
    font-size : 11px;
    font-weight: bold;
    height :34px;
    background-color : #ddcfc4; 
    color: #7b6f66; 
}

#vehicleChargeDetails div.PriceDetailsList th {
    font-size : 10px;
    font-weight: bold;
    height :34px;
    background-color: #ddcfc4;
    color: #7B6F66;
}

#vehicleCatalog div.PriceDetailsList td, #vehicleChargeDetails div.PriceDetailsList td {
    padding : 2px 2px 2px 5px;
}

#vehicleChargeDetails div.PriceDetailsList td {
    font-size : 10px;
}

#vehicleCatalog div.PriceDetailsList td.TotalTD, #vehicleChargeDetails div.PriceDetailsList td.TotalTD{
    font-weight : bold;
}

#vehicleCatalog div.PriceDetailsList th.RateTH {
    width: 220px;
}

#vehicleChargeDetails div.PriceDetailsList th.RateTH {
    width: 220px;
}

#vehicleCatalog div.PriceDetailsList th.FreeTH, #vehicleChargeDetails div.PriceDetailsList th.FreeTH{
    width: 90px;
}

div.NoFreeDays th.FreeTH, div.NoFreeDays td.fd {
    display: none;
}

#vehicleCatalog div.PriceDetailsList th.HireTH {
    width: 90px;
}


div.PriceDetailsList .popup {
    color: #E86127;
	cursor: pointer;
}

#vehicleChargeDetails div.PriceDetailsList th.HireTH {
    width: 145px;
}

/*#vehicleCatalog div.PriceDetailsList th.PerTH {
    width: 150px;
}
#vehicleChargeDetails div.PriceDetailsList th.PerTH {
    width: 154px;
}*/


#vehicleCatalog div.PriceDetailsList th.TotalTH {
    width: 90px;
}

 #vehicleChargeDetails div.PriceDetailsList th.TotalTH {
     width: 90px;
 }

#vehicleCatalog div.PriceDetailsList td, #vehicleCatalog div.PriceDetailsList td {
    font-size : 11px;    
}

#vehicleSelectionContainer #disclaimer, #vehicleConfigureContainer #disclaimer {
	background: #FFF url('../../images/b/tiles/bg-bottom.jpg')0 -170px;
	background-repeat:no-repeat;
-moz-box-shadow: 0px 0px 8px #000;
-webkit-box-shadow: 0px 0px 8px #000;
box-shadow: 0px 5px 6px #000;
    float : left;
    width: 781px;
	padding-left:17px;
    height : 45px;
	margin-left:2px;
    font-size : 11px;
    border-top: 1px solid #E4E4E4;
    padding-top:15px;
}

#vehicleCatalog .VehicleItem div.TotalPrice li.Hide {
    display:none;
}

#vehicleCatalog .VehicleItem div.TotalPrice li.Fp span {
    color:#8B8B8B;
    font-size:11px;
	font-weight:normal;
}

/* Vehicle Row Branded */

#vehicleCatalog .VehicleItem span.BrandThumb  {
    display : block;
    float : left;
    text-decoration : none;                  
}

#vehicleCatalog li.Branded .VehicleItem div.PriceDescription span {
     font-size : 9px;
}

#vehicleCatalog li.Branded .VehicleItem div.PriceDescription {
    width: 180px; 
}

#vehicleCatalog div.VehicleItem {
    padding:12px 0;
}

#vehicleCatalog .Step1A {
    float: left;
    width: 740px;
    background-color: #fff;
    font-size: 11px; 
    padding: 10px 0 10px 20px;   
}

#vehicleCatalog .Step1AWrap div {
     background-color: #fff1a3;
     font-size: 11px;     
}

/* Configure Page */
#vehicleConfigureContainer .CofR, #vehicleConfigureContainer .Radios, #vehicleConfigureContainer .Model, #vehicleConfigureContainer .Passengers {
    display : none;
}
#vehicleConfigureContainer #bookingControl #rightCol #bottomRight a {
    margin-top: 10px;
}
#vehicleConfigureContainer #bookingControl {
    margin-top:50px;
	height: 45px !important;
	
}




#vehicleConfigureContainer #ctrlValidationMsg {
    margin-top : 0;
} 

#vehicleConfigureContainer #bottomRight span {
    display : inline;
}

#vehicleConfigureContainer #stepsDisplayer #ConfigureStep, #paymentContainer #stepsDisplayer #ConfigureStep {
    background-position:-193px 0 !important;
}

#vehicleConfigureContainer #promptTextArea, #quoteDisclaimer {
    float : left;
    width: 722px;
    height : 56px;
    background : #FDF2E9 ../../images/b/tiles/(https://secure.britz.com.au/images/b/icons/exMark.png) no-repeat  0px 0px;
    overflow : hidden;    
    margin:  5px 0 0 20px;
    border : solid 1px #F58220;
    font-size : 11px;
    color: #000; 
}

#vehicleConfigureContainer #promptTextArea span {
    margin: 10px 20px 0 50px;
    display :block;
}

#vehicleConfigureContainer #configurePanel {
    background-color: #fff;
    float: left;
    width : 760px;
}

#configurePanel .Hide{   
    display:none;
}

#vehicleConfigureContainer #topHeader {
    width: 760px;
    /*height : 34px;*/
    float : left;
    background-color : #fff;    
}

#vehicleConfigureContainer #topHeader small, #vehicleConfigureContainer #topHeader select, #resultsHeader small, #resultsHeader select {
    font-size: 11px;
}


#vehicleConfigureContainer #vehicleTopPanel {
    float : left;
    width: 760px;
    border-bottom: solid 1px #f58220;
    margin-bottom : 10px;
}

#vehicleConfigureContainer #topHeader h3 {
    float : left;
    display :block;
    margin : 38px 0 0 14px; 
}

#vehicleConfigureContainer #topHeader span, #paymentPanel #topHeader span {
    float : right;
    display : block;
    margin : 5px 4px 5px 0;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader {
    width: 385px;
    float : left;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader div {
    float : left;
    clear: both;
    width: 100%;
	padding-bottom: 15px; 
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader a {
    color:#F58220;
    text-decoration: none;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader a:hover {
    text-decoration: underline;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader h3 {
    font-size: 20px;
    margin-left:12px;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader h3, #vehicleConfigureContainer #configurePanel div.VehicleHeader h4, #vehicleChargeDetails h4, #insurancePanel h4, #hireItemsPanel h4, #ferryPanel h4 {
    color : #F58220;    
    padding-bottom : 10px;  
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader span {
    display : block;
    font-size : 10px;
    margin: 5px 0 0 10px;
    float:left;
    width: 500px;          
}

#vehicleConfigureContainer #configurePanel div.VehicleImages {
    width: 375px;
    float : right;
}

#vehicleConfigureContainer #configurePanel div.VehicleImages .Left {
    float : left;
    width: 210px;
}

#vehicleConfigureContainer #configurePanel div.VehicleImages .Left img {
    float : right;
    clear : both;
}

#vehicleConfigureContainer #configurePanel div.VehicleImages .Right {
    float : right;
    margin-right:10px;
}


#vehicleChargeDetails {
    float: left;
    margin-bottom: 18px;
    padding-bottom:20px;
    border-bottom:1px solid #f58220;
}

#configurePanel h4, ferryPanel h4{
    float :left;
    clear: both;
    font-size:14px;
    font-weight:bold;
    margin-left: 10px;
}

#configurePanel em {
    font-style:normal;
}

#vehicleConfigureContainer a.Quest {
    display : block;
    width: 16px;
    height: 16px;
    background : #fff url(https://secure.britz.com.au/images/b/icons/questMark.gif) no-repeat  0 0;
    float: left;
    overflow: hidden;
    text-indent: -9999px;
}

#vehicleChargeDetails a.PopUp {
    float: left;
}

#vehicleChargeDetails #ChargeHeader {
    float : left ;
    display : block;
    clear : both;
    width:100%;
}

#vehicleChargeDetails #ChargeHeader span.Title {
    width: 200px;
    height: 20px;
    display:block;
    float: left;
}

#vehicleChargeDetails #ChargeHeader span.Total {
   display:block;
    float: right;
    margin-right:38px;
    font-size: 13px; 
}


#vehicleChargeDetails a.ShowPriceList {
    width : 80px;
    margin: 0 0 0 10px;
}

#vehicleChargeDetails a.ShowPriceList:focus {
    -moz-outline-style: none;

}

#vehicleChargeDetails a.ShowPriceList:active {
    outline: none;
}

#vehicleChargeDetails.Collapse div.PriceDetailsList {/* on collapse */
    display : none;
}

#vehicleCatalog .VehicleItem div.PriceDescription a.Avail:hover, #vehicleCatalog .VehicleItem div.PriceDescription a.OnRequest:hover {
    text-decoration : underline;
    color: #f58220;
}


#vehicleChargeDetails #ChargeHeader small {
    font-size : 11px;
    float: left;
    margin-left: 74px; 
}

#vehicleChargeDetails #ChargeHeader span.Title {
    width: 360px;
    height: 20px;
    display:block;
    float: left;
}

#configureUpdatePanel .Total {
    width: 702px;
    line-height: 23px;
    background-color:#f9faf2;
    color:#f58220;
    font-size:17px;
    font-weight:bold;
    margin-top:15px;
}

#configureUpdatePanel .Total label {
    float : left;
}


#configureUpdatePanel .Total span.Price {
    float : right;
    clear : none; 
}

#allInclusivePanel{
    width : 725px;
    margin: 0 18px;
    float : left;
    clear: both ;   
}

#allInclusivePanel small, #insurancePanel td, #hireItemsPanel td {
    font-size:11px;
}

#allInclusivePanel td.cb, #insurancePanel td.cb, #hireItemsPanel td.cb, #ferryPanel td.cb {
    width:50px;
}

#allInclusivePanel td.desc, #insurancePanel td.desc, #hireItemsPanel td.desc {
    width:248px;
}

#allInclusivePanel td.desc small {
    display:block;
    float:left;
    margin-right:5px;
}
#allInclusivePanel td.days, #insurancePanel td.days, #hireItemsPanel td.days {
    width: 68px;
}

#insurancePanel td.price, #hireItemsPanel td.price {
    width: 250px;
}

#hireItemsPanel td.price  .max {
	float : right;
	margin-right: 3px;
}

#allInclusivePanel td.pr {
    width: 158px;    
}

#allInclusivePanel #allInclusiveDetails table {
    background-color:#FDF2E9;
    width: 710px;
}

#allInclusivePanel table ul li {
    list-style: none;
    margin-left: 55px;   
}

#insurancePanel {
    border-bottom:1px solid #f58220;    
    width:100%;    
    float: left;
    padding-bottom: 20px;    
}

#insurancePanel table, #hireItemsPanel table, #ferryPanel table {
    margin: 0 0 0 19px;
    clear: both;
}

#insurancePanel table small, #hireItemsPanel small, #hireItemsPanel label{
    display:block;
    margin-bottom:4px;
    font-size: 11px;
}

#insurancePanel span {
    display: block;
    float: left;
	clear: both;
    color: #8B8B8B;
    font-size: 10px;
    margin-left: 20px;	
    width:700px;
}

#insurancePanel .AgeSelector{
    display: none !important;
}

#hireItemsPanel, #ferryPanel {
    margin-top: 10px;
    border-bottom:1px solid #f58220;   
    width: 100%; 
    float: left;
    clear: both;
    padding-bottom: 10px; 
}

#ferryPanel table {
    background-color: #FDF2E9;
    width: 720px; 	
    font-size: 11px;
}

#ferryPanel table td.desc {
    width : 407px;
}

#ferryPanel .pax td.price {
    width:137px;   
}

#ferryPanel td small { 
    font-size: 11px;
}

#ferryPanel table.Hide {
    display : none;
}

#ferryPanel select, #hireItemsPanel select {
    font-size: 11px;
}

#configureUpdatePanel span {
    display : block;
    float: left;
    clear: both;
    margin-left: 20px;
}

#configureUpdatePanel .Total {
    width: 720px;
    line-height: 23px;
    background-color:#fdf2e9;
    color:#f58220;
    font-size:17px;
    font-weight:bold;
    margin-top:15px;
}

#configureUpdatePanel .Total .price label {
	color:#202966;
}

#configureUpdatePanel .Total small {
    float : right;
    margin-right: 20px; 
	font-size:17px;
	color:#202966;
}

#configureUpdatePanel .TaxMsg {
    margin: 5px 0 15px 20px;
    font-size: 11px;
    width: 745px; 
}

#configureUpdatePanel .Submit {
    display: block;
    width:720px;
    height:45px;
}

#configureUpdatePanel .Submit .BackBtn {
    float: left;
    display: block;
    background : #fff url(https://secure.britz.com.au/images/b/btn/btn_matrix.png) no-repeat  0 -400px;
    height: 25px;
    width: 73px;
    overflow:hidden;
    text-indent:-9999px;
}

#configureUpdatePanel .Submit input {
    float: right;
    background : #fff url(https://secure.britz.com.au/images/b/btn/btn_matrix.png) no-repeat  -393px -159px;
    border: 0px;
    height: 48px;
    overflow: hidden;
    text-indent:-9999px;
    text-transform: capitalize;/*ie ;o(*/
    width:140px;      
}

#tooltip {
    background: #f58220 url(https://secure.britz.com.au/images/b/tiles/background.png) repeat-x 0 0;
    color: #7e1f03;
    border: solid 2px #d81818;
}

.bubbleBody  {
    font-size: 9px;
    color: #ffffff;     
}

.bubbleBody h3 {
    font-size: 11px;
    color: #fff;
	margin-bottom:8px !important;
}

.bubbleBody td { 
    color: #ffffff;
}

.bubbleBody .total td { 
    color:  #89220a;
}

.bubbleBody .note {
    float : left;
    clear : both;
    color: #ffffff;   
}

/* Payment Page Statrs Here */

#paymentContainer  #stepsDisplayer #PaymentStep {
    background-position:-256px 0;
}

#paymentPanel {
    background-color: #fff;
    float: left;
    width: 760px;
    font-size: 11px;     
}

#paymentPanel div {
    float: left;
    width: 730px;    
}

#paymentPanel #topHeader span {
    margin: 10px 0 0 0;
}

#paymentContainer #stepsDisplayer {
    width:280px;
} 

#paymentPanel #rentalSummary, #paymentPanel #depositPanel {
   background-color: #FDF2E9;
   margin: 5px 0 0 20px;
}

#paymentPanel h3 {
color:#F58220;
font-family:Verdana;
font-size:18px;
font-weight:bold;
}

#paymentPanel big {
    float: left;
    width: 730px;
    margin: 10px 0 10px 0;
    color:#F58220;
    font-family:Verdana;
    font-size:14px;
    font-weight:bold;
    padding-top:10px;
}

#paymentPanel small {
    font-size: 11px;
}

#paymentPanel #rentalSummary big.ChargeSum {
    border-top:1px solid #F58220;
}

#paymentPanel #rentalSummary table {
    float: left;
}

#paymentPanel #rentalSummary #travelDetails {
    float: left;
    width:500px;
    margin: 0;
}

#paymentPanel #rentalSummary #travelDetails big  {
    color:#F58220;
    font-family:Verdana,Helvetica,sans-serif;
    font-size:14px;
    font-weight:bold;
    margin: 20px 0 10px 0;
}

#paymentPanel #rentalSummary #travelDetails td {
    vertical-align: top;
}

#paymentPanel #rentalSummary #travelDetails .lbl {
    width: 85px;
}

#paymentPanel #rentalSummary #travelDetails .date {
    width: 230px;
}

#paymentPanel #rentalSummary table.ChargeTable {
    width: 730px;
    border-bottom: 1px solid #F58220;
}

#paymentPanel #rentalSummary .ChargeTable tr.Totals td small {
    margin: 10px 0 10px 0;
    font-size:12px;
    font-weight:bold;
    color:#202966;
    font-family:Verdana,Helvetica,sans-serif;
    display: block;
}

#paymentPanel #rentalSummary .ChargeTable .title {
    width: 350px;
}

#paymentPanel #rentalSummary div.Disclaimer {
    padding-top: 5px; 
    background-color: #fff; 
}

#paymentPanel #rentalSummary .ChargeTable .desc {
    width: 215px;
}

#paymentPanel #rentalSummary .ChargeTable .cur {
    width: 60px;
}

#paymentPanel #rentalSummary .ChargeTable .price {
    text-align:right;
	padding-right:5px;
}

#paymentPanel #rentalSummary #vehicleSpecs {
    float: right;
    width: 205px;
}

#paymentPanel #rentalSummary #vehicleSpecs img {
    float: right;
    padding-right: 10px;
}

#paymentPanel #rentalSummary #travelDetails table.TravelTable, #paymentPanel #rentalSummary #travelDetails big {
    float : left;
    width: 520px !important;  
}

#paymentPanel #creditCardDetails {
    margin:5px 0 0 20px;
    border-bottom: 1px solid #F58220;  
    padding-bottom: 20px;  
}

#paymentPanel #creditCardDetails h3 {
    margin-top: 20px;
}

#paymentPanel #creditCardDetails big {
    margin : 0;
}

#paymentPanel #creditCardDetails #creditFormPanel {
    width: 560px;
    float: left;
}

#paymentPanel #creditCardDetails #creditFormPanel label, #paymentPanel #personalDetails label {
    width : 138px;
    display: block;
    float: left;
}

#paymentPanel #personalDetails {
    margin:5px 0 0 20px;
    border-bottom: 1px solid #F58220; 
    padding-bottom: 20px; 
}

#paymentPanel #personalDetails p, #paymentPanel #creditCardDetails p {
    float: left;
    clear: both;
    margin-top: 5px;    
}

/* Payment Form */
#paymentPanel #cardTypeDD {
    width: 154px;
}

#paymentPanel #cardNumberTxt {
    width: 150px;
    float: left;
}

#paymentPanel #cardHolderName {
    width: 150px;
}

#confirmEmailAddressTxt, #customerFirstName, #customerLastName, #emailAddressTxt {
    width: 265px;
    float: left;
}

#telephoneTxt3 {
    width: 120px;
}

#paymentPanel #personalDetails .number {
    display: block;
    float: left;
    margin-right: 10px;    
}

#paymentPanel #personalDetails .number small {
    font-size: 11px;
}

#paymentPanel #personalDetails .PhoneNumber {
    display: block;
    width: 550px;
    float: left;
}

#otherTravellers table th {
    font-weight: normal;
}

#paymentPanel #personalDetails .number small, #paymentPanel #personalDetails .number input {
    float: left;
    clear: both;
}

#paymentPanel #otherTravellers, #paymentPanel #termsAndConditions, #paymentPanel #footerPanel {
    margin:5px 0 0 20px;
}

#paymentPanel .onRequest .Buttons .SubmitBtn {
    background:#FFFFFF url(https://secure.britz.com.au/images/b/btn/RequestNow.gif) no-repeat scroll 0 0 !important;
}


#paymentPanel #otherTravellers td.lbl {
    width : 145px;    
}

#paymentPanel #otherTravellers table {
    clear: both;
}

#paymentPanel #termsAndConditions input{
    float : left;
    display: block;    
}

#paymentPanel #termsAndConditions a{
	color:#F58220;
	text-decoration:none;
}

#paymentPanel #termsAndConditions a:hover{
	text-decoration:underline;
}

#paymentPanel #termsAndConditions span {
    display: block;
    width : 700px;
    float : left;
    margin-left: 3px;
}

#payTotalPanel {
    margin: 20px 0 0 0;
    width: 750px !important;
}

#payTotalPanel span, #payTotalPanel input {
    float: right;
}

#payTotalPanel span {
    color:#F58220;    
    font-size:12px;
    font-weight:bold;
    margin-right: 5px; 
}

#paymentPanel #depositPanel .left {
    margin: 0;
    display: block;
    float: left;
    width: 240px;
}

#paymentPanel #depositPanel .left big, #paymentPanel #depositPanel .left small {
    padding : 0;
    margin: 10px 0 0 0;
    float :left;
}

#paymentPanel #depositPanel .left big{
	font-size:17px;
}

#paymentPanel #depositPanel .right {
    margin: 0;
    display: block;
    float: right;
    width: 240px;
    text-align:right;
    margin: 0;
    padding : 0;
}

#paymentPanel #depositPanel .right small {
    float: right;
    margin: 0 0 10px 0;
}

#paymentPanel #depositPanel .right big {
    float: right;    
    margin: 5px 0 10px 0;
    padding : 0;
    font-size : 17px;    
}

#paymentPanel #depositPanel .TotalDeposit{
	color:#202966;
}

#paymentPanel #footerPanel span {
    display: block;
    float: left;
    clear: both;
    width: 725px;
    padding: 5px;
}

#footerPanel input {
    float: right;
    background : #fff url(https://secure.britz.com.au/images/b/btn/btn_matrix.png) no-repeat  -593px -159px;
    border: 0px;
    height: 48px;
    overflow: hidden;
    text-indent:-9999px;
    text-transform: capitalize;/*ie ;o(*/
    width:140px;      
}

#footerPanel a {
    float: left;
    display: block;
    background : #fff url(https://secure.britz.com.au/images/b/btn/btn_matrix.png) no-repeat  0 -400px;
    height: 25px;
    width: 73px;
    overflow:hidden;
    text-indent:-9999px;
}

#paymentContainer #disclaimer {
	background: #FFF url('../../images/b/tiles/bg-bottom.jpg')0 -170px;
	background-repeat:no-repeat;
-moz-box-shadow: 0px 0px 8px #000;
-webkit-box-shadow: 0px 0px 8px #000;
box-shadow: 0px 5px 6px #000;
    float : left;
    width: 781px;
	padding-left:17px;
    height : 45px;
	margin-left:2px;
    font-size : 11px;
    border-top: 1px solid #E4E4E4;
    padding-top:15px;
}

/* validation */

#paymentForm label.error {
    float: right !important;    
    width: 247px !important; 
}  

#cardExpiryMonthTxt, #cardExpiryYearTxt, #cardExpirySpan span {
    float: left;
}

#telephoneTxt1, #telephoneTxt2, #telephoneTxt3 {
    width: 60px;
}
/* EmailForm */
#paymentPanel #infoPanel p {
	margin-bottom: 20px;	
}

#paymentPanel #infoPanel img {
	float: right;
	margin: 10px;
}

#paymentPanel div.FormSection {
    border-bottom:1px solid #F58220;
    width: 720px;
    margin-left: 20px;
    padding-bottom:20px;
    padding-top:20px;
}

#paymentPanel div.FormSection label {
    display:block;
    float:left;
    width:138px;
}

#personalDetailsForm  p {
    clear:both;
    float:left;
    margin-top:5px;
}

#personalDetailsForm  p .number small, #personalDetailsForm  p .number input {
    clear:both;
    float:left;
}

#personalDetailsForm  p .number {
    display:block;
    float:left;
    margin-right:10px;
}

#personalDetailsForm  p .PhoneNumber {
    display:block;
    float:left;
    width:550px;
}

#personalDetailsForm  p #countryOfResidenceDD, #personalDetailsForm  p #customerTitleDD {
    width: 270px;
}

#personalDetailsForm  #contactSelector label.title, #personalDetailsForm  #contactSelector input {
    float: left;
    width: auto;
    margin-left: 10px; 
}

#bottomPanel, #rentalsDetailsForm {
    border-bottom: none !important;
}

#rentalsDetailsForm span, textarea {
    margin-top: 20px;
    float: left;
    clear: both;
}

#rentalsDetailsForm span {
    display:block;
    width:700px;
}

#rentalsDetailsForm td label {
    margin-bottom: 4px;
}

#bottomPanel input , #bottomPanel a, #bottomPanel label {
    float: right;
}

#bottomPanel input {
    background:#FFFFFF url(https://secure.britz.com.au/images/b/btn/send.gif) no-repeat scroll 0 0;
    border:0 none;
    height:24px;
    overflow:hidden;
    text-indent:-9999px;
    text-transform:capitalize;
    width:143px;
}

#bottomPanel a {
    background:#FFFFFF url(https://secure.britz.com.au/images/b/btn/cancel.gif) no-repeat scroll 0 0;
    border:0 none;
    height:24px;
    overflow:hidden;
    text-indent:-9999px;
    text-transform:capitalize;
    width:82px;
    margin-right: 20px;
}

#bottomPanel label {
    clear:none !important;
    color:Red;
    display:none;
    float:left;
    font-size:11px;
    width:300px;
}

/* confirmation */
.Confirmation h2 {
    background: url(https://secure.britz.com.au/images/b/tiles/sep.gif) repeat-x scroll 0 22px;
    height:25px;
    width:726px;
    margin: 20px 0 10px 2px !important;
}

#confirmationPanel #ConfText p big, #confirmationPanel #onRequest p big {
color:#F58220 !important;
}

#rentalSum tr.total td, #paymentDet tr.total td {
    color:#202966;
    font-size:12px !important;
    font-weight:bold;    
}


#vehicleCatalogContainer #paymentPanel #yourDetails,#vehicleCatalogContainer #paymentPanel.Confirmation #travelDetails, #vehicleCatalogContainer #paymentPanel #rentalSum, #vehicleCatalogContainer #paymentPanel #paymentDet {
	background-color:#FDF2E9;
	width:730px !important;
	margin-left:20px !important;
}

#vehicleCatalogContainer #paymentPanel #contactUs, #vehicleCatalogContainer #paymentPanel #feedBack{
	width:730px;
	margin-left:20px;
}

#vehicleCatalogContainer #paymentPanel #rentalSum table, #vehicleCatalogContainer #paymentPanel #paymentDet table, #vehicleCatalogContainer #paymentPanel #travelDetails table, #vehicleCatalogContainer #paymentPanel #yourDetails table {
margin-left:0px !important;
width:730px !important;
}

#vehicleCatalogContainer #paymentPanel H2{
	font-size:14px !important;
}

#vehicleCatalogContainer #paymentPanel table{
	font-size:11px !important;
}

#feedBack p {
width:730px !important;
	
}

 #feedbackForm  #sendBtn {
    float: right;
    background : #fff url(https://secure.britz.com.au/images/b/btn/send.gif) no-repeat  0 0;
    border: 0px;
    height: 25px;
    overflow: hidden;
    text-indent:-9999px;
    text-transform: capitalize;/*ie ;o(*/
    width:140px;
    margin: 20px;      
}

#completedMessage span {
    font-size: 11px;
    display:block;
	margin-bottom:20px;
}

#completedMessage big {
    color:#F58220;
    font-size:14px;
    font-weight:bold;
} 

#saveQuoteLnk {
    background : #fff url(https://secure.britz.com.au/images/b/btn/btn_matrix.png) no-repeat -200px -159px;
    height: 48px !important;
}

#vehicleCatalogContainer #emptySelectionMsg span {
	font-weight:bold;
	color:#f58220;
}

/* save Quote */

#printItinLink {
    background : #fff url(https://secure.britz.com.au/images/b/btn/btn_matrix.png) no-repeat  -600px -400px;    
} 


.quote #footerPanel input {
    background : #fff url(https://secure.britz.com.au/images/b/btn/btn_matrix.png) no-repeat  -200px -159px;
    width: 134px;
    height: 48px;
}

#printQuoteDiv a {
	background-image: url(https://secure.britz.com.au/images/b/btn/btn_matrix.png);
}

#printQuoteLnk {
    background-position: -600px 0 !important;
}

#printQuoteDiv #searchAgainLnk { 
    margin-top: 10px;
    background-position: -400px 0;
}
#sslSeal
{
    width:100px;
}
a.priceMatch {
	background: transparent url(../../images/b/tiles/price-match.gif) no-repeat 0 0 ;
    visibility:visible !important;	
	width:227px !important;
	height: 82px;
	margin-top:4px;	
	text-indent:-1000em;
	overflow:hidden;
}

.quote #paymentPanel #footerPanel input {
    /*background-position: -0px -879px !important;*/
    width: 133px;
    float: right;    
}

/*.quote #paymentPanel #footerPanel input:hover {
    background-position: -0px -959px !important;
}*/

/* Save Quote */
.quote #saveQuoteLnk {
    background: transparent url(https://secure.britz.com.au/images/b/btn/btn_matrix.png) no-repeat -200px -719px ;
    height: 50px !important;    
}

.quote #saveQuoteLnk:hover {
     background-position: -200px -799px;
}

.quote #confirmQuoteSubmit,  .quote #promptContainer input {
   background: transparent url(https://secure.britz.com.au/images/b/btn/btn_matrix.png) no-repeat 0 -719px !important ; 
   height: 50px !important ;
   cursor: pointer;
}

.quote #confirmQuoteSubmit:hover, .quote #promptContainer input:hover {
     background-position: 0 -799px !important ;
}


.quote #configureUpdatePanel .Submit {
    height: 50px;
}

.quote #promptContainer input {    
    border: 0px;
    height: 25px;
    overflow: hidden;
    text-indent:-9999px;
    text-transform: capitalize;/*ie ;o(*/
    width:135px;
    margin: 5px 0 0 30px;
}


#submitExpiredQuote a{
    background: transparent url(https://secure.britz.com.au/images/b/btn/btn_sprites.png) no-repeat;
	height: 48px;
    width: 143px;
}

#submitExpiredQuote #searchAllVehicles {
     background-position: -200px -640px;
}

#submitExpiredQuote #searchAllVehicles:hover {
    background-position: -200px -720px;
}

#submitExpiredQuote #searchVehicle {
     background-position: -400px -640px;
}

#submitExpiredQuote #searchVehicle:hover {
    background-position: -400px -720px;
}
/* Save Quote Ends*/

/* Alternate Availability */

#vehicleCatalogContainer .VehicleItem div.Limited .AALink a {
	color:#F58220;
	display: block;
	background:transparent url(https://secure.britz.com.au/images/b/btn/btn_matrix.png) no-repeat  0 -1039px;
    text-indent: -9999px;
    overflow: hidden;
	height: 48px;
    width: 157px;
	margin-left: 13px;
}

#vehicleCatalogContainer .VehicleItem div.Limited .AALink a:hover {
     background-position: 0 -1119px;
	color:#F58220 !important; /* REMOVE FROM BASE.CSS */
	text-decoration:underline;     
}
div.AltRow .AltPrice {
    width: 195px;
    height: 100px;
    float: left;
}


div.AltRow div.noAvailability {
    background: url("https://secure.britz.com.au/images/b/icons/altx.png") no-repeat 0px 6px;    
    float: left;
    height: 60px;
    margin-top: 20px;
    width: 270px;
}

div.AltRow div.noAvailability span {
    clear: both;
    display: block;
    float: left;
    font-size: 10px;
    font-weight: bold;
    line-height: 15px;
    margin-left: 50px; 
}

div.AltRow .AltPrice li span {
    color: #202966;
    font-size: 11px;
    font-weight: bold;
    display:block;
    height: 20px; 
    background: url("https://secure.britz.com.au/images/b/icons/altCB.png") no-repeat 0 0 transparent !important;
    padding-left: 50px;
    margin-top: 26px;  
}

div.AltRow .AltPrice li.Fp span {
    color: #8B8B8B;
    font-size: 11px;
    font-weight: normal;
}

div.AltRow .AltPrice li.Hide {
    display: none;
}



#selectedVehiclePanel {
    float: left;
    clear: both;
    width: 978px; 
    height: 130px;
    background: url("https://secure.britz.com.au/images/b/tiles/aaVLabel.png") no-repeat scroll 0 -4px transparent !important;
    border-top: 1px solid #ff691c; 
}


#selectedVehiclePanel h3,#selectedVehiclePanel img {
    float: left;
    display:block;
    margin-top: 5px;     
}
#selectedVehiclePanel #selectedVImage
{
    margin-left:40px;
}
#selectedVehiclePanel #selectedVIncs {
    margin-left: 36px;
    margin-top:17px;
}

#selectedVehiclePanel span.reel {
    float: right;
    margin-right:15px;
}


#selectedVehiclePanel h3 {
    color: #fff;
    font-size: 13px; 
    margin: 17px 0px 0px 17px;
    width:180px;
    overflow: hidden;
}

#alternativeMessagePanel, #alternateContactPanel {
    float: left;
    clear: both;
    width: 900px;
    height: 40px;
    width: 978px; 
    background: url("https://secure.britz.com.au/images/b/tiles/aaArrow.png") no-repeat 10px 10px #FFA11E;
    border-bottom: 1px solid #fff; 
}

#alternativeMessagePanel span, #alternateContactPanel span {
    color: #fff;
    font-size: 12px;
    float: left;
    margin: 14px 10px 0 40px;
    font-weight: bold;
     
}

#alternativeMessagePanel small, #alternateContactPanel small {
    float: left;
    display: block;
    margin: 14px 0 0 20px;
    font-size: 9px;
    font-weight: bold; 
    color: #7E550F;
}

.quote #paymentContainer input.SubmitBtn {
	background: transparent url(https://secure.britz.com.au/images/b/btn/btn_sprites.png) no-repeat -600px -160px;
height: 55px;
width: 158px;
	}
		.quote #paymentContainer input.SubmitBtn:hover {
			background: transparent url(https://secure.britz.com.au/images/b/btn/btn_sprites.png) no-repeat -600px -240px;
		}

div.AltRow {
    background: url("https://secure.britz.com.au/images/b/tiles/altRowBG.png") repeat-x scroll 0 0 transparent !important;    
    width: 976px;
    height: 88px; 
    float: left;
    clear: both;
}                        

div.AltRow .AltType {
    float: left;/* base */
    height: 87px;/* base */
    width: 155px; /* base */
    background: url("https://secure.britz.com.au/images/b/tiles/aa-arrow.png") no-repeat scroll transparent;
}

div.SwitchLocation .AltType {  
    background-color: #FF7723;
    background-position: 147px 0;
}

div.OneWaySwitchLocation .AltType {  
    background-color: #FF7723;
    background-position: 147px 0;
}


div.MoveForward .AltType {
    background-color: #FF8B43;
    background-position: 147px -84px;
}

div.OriginalSearch .AltType 
{
    background-color: #FF7723;
    width:145px;
    margin-right:10px;
    background-image:none;
}


div.PickUpBased .AltType {
    background-color: #FFAF7D;
    background-position: 147px -168px;
}

div.MoveBackwards .AltType {
    background-color: #FF8B43;
    background-position: 147px -254px;
}

div.DropOffBased .AltType {
    background-color: #FFAF7D;
    background-position: 147px -340px;
}

/* add all avail types here..*/ 

div.AltRow .AltType span {
    font-size: 11px;
    font-weight: bold; 
    display: block;
    width:80px;                             
    color: #fff;  
    margin: 20px 0 0 16px;
}

div.AltRow div.AltTime {
    float: left;
    width: 538px;
    height: 86px;
}


div.AltRow .TimeSpan {
    height:10px;
    width:400px;
    float: left;
    border: solid 1px #aaa;
    margin: 0 0 0 74px;
    background-color: #fff;                            
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div.AltRow .TimeSpan span {
    display: block;
    float: left;
    height: 10px;                            
}

div.AltRow .TimeSpan span.Avail {
    background-color: #13A100;
}

div.AltRow .TimeSpan span.noAvail {
    background-color: #A10000;
}

div.AltRow .TimeSpan span.hireDates {
    /*background-color: #4EA143;*/                            
}

div.AltRow .TimeLabels {
    float: left;
    display: block;                            
    width:462;    
    margin-left: 72px;                              
}

div.AltRow .TimeLabels span {    
    font-size: 11px;
    float: left;
    display:block; 
    text-align: center;                            
}
div.AltRow .TimeLabels.period .hireORDates small
{
    white-space:nowrap;
}
div.AltRow .TimeLabels .hireORDates small {

}              

.hireORDates small {
    text-align: center;
}          

div.AltRow .TimeLabels .postORDates small {
    width: 40px;
}

div.AltRow .dates {                             
    height: 30px;
}

div.AltRow .period {
    margin-top: 13px;
    height:15px;
}

div.OptionRow ul.Prices {
    margin-top:22px;
}

div.OptionRow .ShowPriceList {
    color: #F58220;
    text-decoration: underline; 
    font-size: 9px;
    cursor: pointer;
    margin-top: 5px;  
    display: block;
    margin-left: 50px; 
}

div.OptionRow .PriceDetailsList { /* base */
    display:none;
}

div.Expand .PriceDetailsList {/* base */
    display: block;
    float:left;
    margin-left: 80px;
    font-size: 11px; 
}

div.AltRow .AltSelect {
    display: block;/* base*/
    float: right;   /* base*/
    background: url("https://secure.britz.com.au/images/b/btn/btn_matrix.png") no-repeat 0 -159px transparent;                           
    height: 23px;                           
    text-decoration: none;/* base*/
    text-indent: -9999px; /* base*/
    width: 72px;
    margin: 22px 15px 0px 0px; 
    overflow: hidden;
}

div.AltRow .AltSelect:hover {
    background-position: 0 -239px;
}


div.AltRow chargeTable {
    float: left
}
div.OptionRow .NoAlt
{
    float:left;
    padding: 0px 15px 0px 75px;
    width:731px;
}
div.OptionRow .NoAlt span, div.OptionRow .NoAlt a {
    display: block;
    float: left;
    margin-top: 28px;    
}

div.OptionRow .NoAlt span {   
    height: 20px;    
    line-height: 18px; 
    font-size: 11px;
    font-weight: bold;    
}

div.OptionRow .NoAlt small{
    background: url("https://secure.britz.com.au/images/b/icons/altx.png") no-repeat 0 0 transparent;
    height: 20px;
    width: 20px;
    display: block;
    float: left; 
    margin-top:35px;  
    overflow: hidden;
    text-indent: -1000em 
}

div.OptionRow .NoAlt a.details {
    color:  #7C2424;
    text-decoration: underline;
    font-size: 9px;
    line-height: 18px;
    margin-left: 10px;
    margin-right: 358px;     
}

div.OptionRow .NoAlt a.call, #catalogAAHeader a.freephone {
    width: 106px;
    height: 32px;
    background: url("https://secure.britz.com.au/images/b/btn/btn_matrix.png") no-repeat 0 -559px transparent;
    overflow: hidden;
    text-indent: -1000em; 
    float: right;
}

#catalogAAHeader a.freephone {
	margin: 20px 10px 0 0;
}


div.OptionRow .NoAlt a.call:hover {
    background-position:  0 -639px;
}

#alternate
{
    background:url('https://secure.britz.com.au/images/b/tiles/header-banner.jpg') no-repeat top center;
    min-width:977px;
}

#vehicleAAContainer
{
    width:977px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    border: solid 0px #fff;    
}

#vehicleAAContainer div
{
    font-family:Tahoma;
}
/* AA - New Header*/
#catalogAAHeader
{
    width:977px;
    height:100px;
    float:left;
}

#catalogAAHeader span.Image {
    float: left;
    width: 200px;
    height : 87px; 
	margin:6px 0 0 7px;
}
#catalogAAHeader a.ContactUs
{
    float:right;    
    margin:0px 10px 0 0px; 
    border:none;
}
#catalogAAHeader a.ContactUs img
{
    border:none;
}
/* AA - New breadcrumb*/
#b2c-steps
{
    background:url(https://secure.britz.com.au/images/b/tiles/tear-1024.gif) repeat-y;
    width:997px;
    height:34px;
    float:left;
    margin-left:-10px;
    overflow:hidden;
}
#b2c-steps .steps
{
    width:977px;
    height:34px;
    margin-left:10px;
    display:block;
}
#b2c-steps #step-1 {
     background:url(https://secure.britz.com.au/images/b/btn/Sprites-Breadcrumbs.png) no-repeat 0px -228px;
}
#vechileCatalogAAContainer
{
   background:url(https://secure.britz.com.au/images/b/tiles/tear-1024.gif) repeat-y;
    float : left;
    width: 997px;
    margin-left: -10px;   
    padding-left:10px;    
}
#vechileCatalogAAContainer h2 {
    float:left;
    font-size:18px;
    font-weight:bold;
    color:#fa8300;
    padding: 34px 0px 0px 15px;
}
#vechileCatalogAAContainer #resultsHeader {
    background-color: #fff;
    width:500px;
    height:30px;
    font-size:12px;
    margin-right:32px;
    color:#000;
    float:right;
    padding: 34px 0px 0px 0px;    
}

#alternativeCatalogContainer a.freephone
{
    background:url('https://secure.britz.com.au/images/b/btn/btn_matrix.png') no-repeat;
    width: 110px;
    height:38px;
    display:block;
    text-indent:-9999px;
    background-position: -400px -1040px;
}
#alternativeCatalogContainer .rightHandBanner
{
    display:none;
}
#alternativeCatalogContainer.unavailable {
    float:left;
    width:977px;
    background:url(https://secure.britz.com.au/images/b/tiles/rightHand-24-7-image.jpg) no-repeat right 259px;
}


#alternativeCatalogContainer.unavailable .rightHandBanner
{
    display:block;
    float:right;
}
#alternativeCatalogContainer.unavailable .OptionRow
{
    float:left;
}

#alternativeCatalogContainer.unavailable .OptionRow .AltRow
{
    width:706px;
}
#alternativeCatalogContainer.unavailable .OptionRow .AltRow.OriginalSearch
{
    width:977px;
}
#alternativeCatalogContainer.unavailable .OptionRow .AltRow.OriginalSearch .noAvailability
{
    margin-left:20px;
    width:250px;
}
#alternativeCatalogContainer.unavailable .rightHandBanner
{
    width:270px;
    overflow:hidden;
    display:block;
}
#alternativeCatalogContainer.unavailable .rightHandBanner a.freephone
{
    margin-left:18px;
}
#alternativeCatalogContainer.unavailable .rightHandBanner img
{
    border:none;
    margin: 20px;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt
{
    width:461px;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt a.details
{
    margin-right:30px;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt small
{
    margin-top:30px;   
}
#alternativeCatalogContainer.unavailable  .OptionRow .NoAlt a.call 
{
    display:none;
}


#footerContainer
{
    background:url(https://secure.britz.com.au/images/b/tiles/tear-1024.gif) repeat-y;
    float:left;
    display:block;
    height:165px;
    width:997px;
    margin-left:-10px;
}
#footerContainer #footerWrapper
{
    background:url('https://secure.britz.com.au/images/b/tiles/footer-24-7-image.jpg') no-repeat left top #5385c9;
    display:block;
    height:165px;
    width:577px;
    padding-left:400px;
    margin-left:10px;
    float:left;
    text-indent:-9999px;
}
#footerContainer .resText
{
    background:url('https://secure.britz.com.au/images/b/tiles/footer-24-7-reservations-title.gif') no-repeat;
    width:305px;
    height:40px;
    float:left;
    display:block;
    margin-top: 20px;
}
#footerContainer a
{
    display:block;
    float:left;
    width:1px;
    height:1px;
    background:url('https://secure.britz.com.au/images/b/btn/btn_matrix.png') no-repeat;

}
#footerContainer a.freephone
{
    width: 110px;
    height:38px;
    background-position: -400px -1040px;
    margin-top:20px;
    margin-left:20px;
}
#footerContainer a.freephone:hover
{
    background-position: -400px -1120px;
}
#footerContainer span.searchall
{
    clear:both;
    display:block;
    background:url('https://secure.britz.com.au/images/b/tiles/searchall_text.png') 0px 10px no-repeat;
    width:290px;
    height:51px;
}
#footerContainer a.returntosearch
{
    width: 180px;
    height:25px;
    background-position: 0px -1200px;
    margin-top:10px;
    clear:left;
}
#footerContainer a.returntosearch:hover
{
   background-position: 0px -1280px;
}
#footerContainer a.otherbrands
{
    width: 180px;
    height:25px;
    background-position: -200px -1200px; 
    margin-top:10px;
    margin-left:20px;    
    display:none;
}
#footerContainer a.otherbrands:hover
{
    background-position: -200px -1280px; 
}

#vehicleAAContainer #disclaimer
{
    background:transparent url(https://secure.britz.com.au/images/b/tiles/tear-bottom-1024.png) no-repeat  0 0px;
    float : left;
    width: 997px;
    padding-top: 10px;    
	padding-left:17px;
    height : 45px;
	margin-left:-10px;
    font-size : 11px;
    color:#999;
    
}
#footerLinksBottom 
{
    clear:both;
    padding-top: 25px;
    width:800px;
    height:35px;
    text-align: center;
    width:100%;
}

#footerLinksBottom #footerLinksLogos {
    width:600px;
    margin:auto;
}

#footerLinksBottom #footerLinksLogos li#logos {
    background: url("https://secure.britz.com.au/images/logo-lockup.png") no-repeat scroll 0 0 transparent;
}

#footerLinksBottom #footerLinksLogos li {
    font-size:9px;
    color:#999;
    float: left;
    line-height: 15px;
    padding: 0;
    text-align: left;
    vertical-align: top;
}
#footerLinksBottom #footerLinksLogos li#logos a {
    display: block;
    float: left;
    height: 40px;
    outline: medium none;
    text-indent: -9999px;
    width: 50px;
}
#footerLinksBottom #footerLinksLogos li#copyright
{
    margin-left:20px;
}
#footerLinksBottom #footerLinksLogos li#logos #THLLogo {
    width: 80px;
}
#footerLinksBottom #footerLinksLogos li#logos a#MauiLogo {
    width: 60px;
}
#alternate #tooltip
{
    opacity:1;
}

#tooltip .SmallContainer
{
    background: url("https://secure.britz.com.au/images/b/tiles/availabilitybg.png") repeat-x scroll 0 0 #F58220;
    border: 2px solid #D81818;
    color:#000;
    padding: 5px 10px 15px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    float: left;
    max-width:500px;
    opacity: 0.95;
}
#tooltip .LargeContainer
{
    font-family:Tahoma !important;
    background: url("https://secure.britz.com.au/images/b/tiles/tooltip_bg_large.png") repeat-x scroll 0 0 #F58220;
    border: 2px solid #D81818;
    color: #7E1F03;
    padding: 5px 10px 15px;
    float: left;
    width:610px;
    position:relative;
    /*css3*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;                  
    border-radius: 5px;
    z-index:2;
}
#tooltip .LargeContainer .ads
{
    float:right;
    max-height:44px;
}
#tooltip .LargeContainer h3
{
    line-height: 20px;
    float: left;            
    margin-top: 22px;
    vertical-align: bottom;
    padding-bottom:10px;
}
    #tooltip .LargeContainer .chargesTable
    {
        width:100%;
        border-collapse:collapse;
        clear:both;
        text-align:left;
        font-size:11px;             
    }
#tooltip .LargeContainer .chargesTable th
{
    color:#333;
    text-align:left;            
    padding:10px 0px 10px 5px;
    background:#FFCD87;            
}
#tooltip .LargeContainer .chargesTable td
{
    padding:5px 0px 5px 5px;
    background:#fff;
    color:#333;
    text-align:left;            
}

#tooltip .LargeContainer .chargesTable th.PerTH,
#tooltip .LargeContainer .chargesTable td.pth
{
    width:60px;
}
#tooltip .LargeContainer .chargesTable th.DiscTH,
#tooltip .LargeContainer .chargesTable td.dth
{
    width:80px;
}
        
#tooltip .LargeContainer .chargesTable tfoot td
{
    background:#FFE3BC;
}
        
#alternate .steps a {
    display: block;
    overflow: hidden;
    width: 300px;
    height: 30px; 
    overflow: hidden;
    text-indent: -1000em 
}

#alternate div.AltRow .AltPrice li.Fp span  {
    margin-top: 0 !important;
    background-image: none !important; 
}


.availPopUp {
    width:280px;
    line-height:18px;
    color:#000;
    background-color:#fff;
    padding: 5px 10px 15px;
    max-width:500px;
    border: 2px solid #D81818;    
    background: url("https://secure.britz.com.au/images/b/tiles/availabilitybg.png") repeat-x scroll 0 0 #F58220;
}
.preloaderIframe
{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    visibility:hidden;
}
#staticLoader {
	background:url(https://secure.britz.com.au/images/b/tiles/tear.gif) repeat-y;
    float : left;
    width: 780px;
    margin-left: 2px;   
    padding-left:18px;
    padding-bottom: 6px;
    padding-top:20px;
    padding-bottom:20px;
    display:none;
    text-align:center;
    font-size:16px;
    font-weight:bold;
    color:#333;
}

#carousel { position: relative; height: 200px; margin: 0; padding: 0; }
#carousel li { float: left; cursor: pointer; cursor: hand; list-style: none; margin: 0px; padding: 0px; width: 294px; height:171px;}
#carousel li img { height: 100%; width: 100%;}
.preloader  #configurePanel .progressIndicator {
        float: left;
        clear:both;                 
        font-size: 13px;  
        text-align: center;    
        width: 100%;
        height: 400px; 
        padding-top: 50px;                      
}
.preloader  #configurePanel .progressIndicator img {
           
}   
/* Alternate Availability Ends */

/* Cross Sell Starts */

#thlCrossSellBanner {	
   display: none; 
   padding-top: 0px;	
	float:left;
	height:25px;
	width:100%;
	/*	background: url("https://secure.britz.com.au/images/crosssell/cs.png") no-repeat scroll 0 0 transparent; */	
}
#preLoaderIframe
{
    width: 1000px;
	height: 768px;
	float: left;
	border:none;
	overflow:hidden;
}
#preLoaderPanel {	
	width: 1000px;
	height: 768px;
	margin-left:auto;
	margin-right:auto;	
}

#preLoaderPanel span {
	display: block;
	margin-top: 105px;
	margin-left: 480px;
	width: 40px;
	height: 40px;
	background: url(https://secure.britz.com.au/images/b/icons/ajax-loader.gif) no-repeat;
}

 .CSell_AU {
	background: url(https://secure.britz.com.au/images/crosssell/cs_preload_au.png) no-repeat;
 }

.CSell_NZ {
	background:url(https://secure.britz.com.au/images/crosssell/cs_preload_nz.png) no-repeat;
 }

 #bookingControl #centreCol {
	width: 190px !important;
 }

 #bookingControl {
	padding-left: 0px;
 }
 /* cross sell new */
 
#bookingControl span.Radios
{
    padding-bottom: 5px;
}

#bookingControl span.Model, #bookingControl span.RightPass
{
    padding-bottom:5px;
}
#bookingControl span .select{
	height: 17px;
}

#bookingControl #leftCol span  {
	height: 13px;
	text-align: right;
	width:100%;
}

#bookingControl #leftCol span.required
{
   font-weight:bold;
   }

#bookingControl .botCol a.searchBtn {
    background:transparent url(https://secure.britz.com.au/images/b/btn/btn_matrix.png) no-repeat scroll 0 0;
    display:block;
    height:25px;
    overflow:hidden;
    text-indent:-100px;
    width:76px;
    float:right;
	margin-top:8px;
	margin-right:16px;
}

#bookingControl .crossSell .crossSellBrand
{
    width:40px;
    background-position:80px 0px;
}
#bookingControl .botCol
{
    margin-top:25px;
}
#bookingControl span.Model, #bookingControl span.RightPass
{
    padding-bottom:5px;
}

#bookingControl .crossSell, #vehicleSelectionContainer #bookingControl.cars .crossSell
{
    display: none;
}

#vehicleSelectionContainer #bookingControl .crossSell
{
    display: block;
}

#bookingControl #leftCol
{
    width:138px;
	height:72px;
	padding-left:8px;
}


#bookingControl span.CSellLbl
{
    float: left;
    line-height:17px;
	font-weight:bold;
	width: 102px;
	padding-left:20px;
}

#ctrlValidationMsg
{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
#bookingControl .botCol
{
    float: left;
    clear: left;
    width: 100%;
    display:block;
}
#bookingControl .crossSell
{
    float: left;
    background: url('https://secure.britz.com.au/images/crosssell/cs-background.png') repeat-x scroll 0pt 0pt transparent;
    margin-left: 12px;
    padding: 10px;
}
#bookingControl .crossSell .CSellOpt
{
    float: left;
    margin-right: 10px;
    margin-left: 12px;
}

#vehicleConfigureContainer #bookingControlContainer {
    background: url("../../images/b/booking_bg-small.png") no-repeat scroll 110px 0 transparent;
    float: left;
    height: 116px;
    width: 800px;
}

#vehicleConfigureContainer #bookingControl #leftCol span.required {
    margin-top: 2px;
	line-height:normal;
}
/* cross sell new ends */

/* Cross Sell Ends */

/* CrossSell header begins */
#thlCrossSellBanner
{
    width:100%;
}
#crossSell {
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 25px;
    margin: 0 auto;
    position: relative;
    width: 800px;
    z-index: 2;
}
#crossSellLogo {
    float: left;
    height: 25px;
    width: 85px;
}
#crossSell #crossSellCountry {
    float: right;
}
#crossSell .crossSellNav {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
}
#crossSell .crossSellNav li {
    display: block;
    float: left;
    position: relative;
}
#crossSell .crossSellNav a, #crossSell .crossSellNav span {
    display: block;
    height: 20px;
    padding: 5px 10px 0;
	line-height: 15px;
}
#crossSell .crossSellNav span {
    color: #8E929B;
    cursor: default;
}
#crossSell .crossSellNav ul {
    background: none repeat scroll 0 0 #FFFFFF;
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: left;
    top: 25px;
}
#crossSell .crossSellNav li:hover ul {
    display: block;
}
#crossSell .crossSellNav li.maui:hover,  #crossSell .crossSellNav li.maui .current {
    background: none repeat scroll 0 0 #01606F;
    color: #FFFFFF;
    text-decoration: none;
}
#crossSell .crossSellNav li.britz:hover, #crossSell .crossSellNav li.britz .current {
    background: none repeat scroll 0 0 #F58220;
    color: #FFFFFF;
    text-decoration: none;
}
#crossSell .crossSellNav li.BP:hover, #crossSell .crossSellNav li.BPC .current {
    background: none repeat scroll 0 0 #0080B5;
    color: #FFFFFF;
    text-decoration: none;
}
#crossSell .crossSellNav li.EX:hover, #crossSell .crossSellNav li.EXC .current {
    background: none repeat scroll 0 0 #598626;
    color: #FFFFFF;
    text-decoration: none;
}
#crossSell .crossSellNav li:hover a
{
    color:#fff;
}
#crossSellCountry .crossSellNav li:hover a
{
    color:#333;
}
#crossSell .crossSellNav li .current {
    text-decoration: none;
    cursor:default;
}
#crossSellCountry .crossSellNav li:hover ul li.RBC:hover {
    background: none repeat scroll 0 0 #F0BB04;
    color: #FFFFFF;
    text-decoration: none;
}
#crossSell .crossSellNav li:hover .country {
    background: none repeat scroll 0 0 #353535;
    color: #FFFFFF;
    text-decoration: none;
}
#crossSell .crossSellNav li:hover ul a {
    text-decoration: none;
}
#crossSell .crossSellNav li:hover ul li:hover {
    color: #FFFFFF;
    text-decoration: none;
}
#crossSell .crossSellNav li:hover ul li:hover a {
    color: #FFFFFF;
}
#crossSell .crossSellNav .crossSellNavDD li {
    float: none;
    width: 90px;
    padding: 5px 10px 0;
}
#crossSell .crossSellNav ul a {
    white-space: nowrap;
    padding:0px;
    width:100%;
}
#crossSell a, #crossSell span {
    color: #333333;
    text-decoration: none;
}
#crossSell .crossSellNav .logo {
    background: url("https://secure.britz.com.au/images/crosssell/headerbar-arrow.gif") no-repeat scroll right top #353535;
    color: #FFFFFF;
    padding-right: 15px;
    text-decoration: none;
}

#crossSell a:hover {
    text-decoration: none;
}

/* CrossSell header ends */	

.returntoseachBreadCrumb
{
    float:left;
    width:977px;
    clear:both;
}
.returntoseachBreadCrumb a
{
    padding: 5px 0px 5px 16px;
    font-size:9px;
    color:#F58220;
    display:block;
    text-decoration:underline;
    border-bottom: 1px solid #e7e7e7;
	background: url("https://secure.britz.com.au/images/b/tiles/altRowBG.png") repeat-x scroll 0 0 transparent !important;
}

/* Promo Text */
.PriceDescription .promo {
	background: url("https://secure.britz.com.au/images/b/tiles/promo_bg.jpg") no-repeat scroll 0 0 transparent; 
	padding-left: 50px;       
	height: 50px;
}
.PriceDescription .promo big { color: #fa8400; }
.PriceDescription .promo small { color:#4a4a4a;}


#bookingControl .spinner {
	margin-top:5px;
}