﻿#bookingControl span.CofR {
    display : none;
}

#bookingControl #rightCol #bottomRight a {
    display : block;
    background : transparent url(../../images/x/icons/search.gif) no-repeat  0 0;
    text-indent : -100px;
    overflow : hidden;
    width: 91px;
    height : 23px;
    margin-top:18px;      
}

#bookingControl span.Company {
    display: none;
}

#ctrlValidationMsg {
    display : block;
    float: right;
    overflow:hidden;
    color :#f00;
    font-size: 9px;
    visibility : hidden;    
}

/* calendar theme */
.calendar .title, .calendar .nav,.calendar .button,.calendar thead .name,.calendar thead .hilite,.calendar tbody .rowhilite td  {
    background-color : #fff233 !important;
    color: #000000 !important;
}

#ctrlValidationMsg {
    display:block;    
    font-size:9px;
    overflow:hidden;
    visibility:hidden;    
    padding-left: 18px;    
}

#bookingControl .TimeSpan input.required {
   background-color : #fff94a;
}

#bookingControl select.required {
   background-color : #fcff10;
} 
#ctrlValidationMsg.required {
    visibility : visible;
    background:  transparent url(../../images/x/icons/error_square.gif) no-repeat 4px 0 !important; 
}

#bookingControl span.required {
    /*background:  transparent url(../../images/x/icons/required_arrow.gif) no-repeat 159px 0;*/
}

#bookingControl #ctrlSearchBox_dropPickUpTime, #bookingControl #ctrlSearchBox_dropDropOffTime {
    width: 80px;
    float:right;
}

#bookingControl #ctrlSearchBox_calPickUp_DateText, #bookingControl #ctrlSearchBox_calDropOff_DateText {
    width:92px;
    float:left;
}