﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ApplicationDataDisplayer.aspx.cs" Inherits="UnitTests_ApplicationDataDisplayer" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Application data Displayer</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <%= ApplicationDataHTML %>
    </div>
    </form>
</body>
</html>
