﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="GlobalConfigurationTester.aspx.cs" Inherits="UnitTests_GlobalConfigurationTester" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Global Configuration Data Test</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <%= BranchStr %>
        </div>
    </form>
</body>
</html>