﻿
                        .ui-combobox {
	                        position: relative;
	                        display: inline-block;
                        }
                        .ui-combobox-toggle {
	                        position: absolute;
	                        top: 0;
	                        bottom: 0;
	                        margin-left: -1px;
	                        
	                        padding: 0;
	                        /* adjust styles for IE 6/7 */
	                        *height: 1.7em;
	                        *top: 0.1em;
                        }
                        .ui-combobox-input {
	                        margin: 0;
	                        padding: 0.3em;
                        }
                        
                        /* Dropdowns */
#ui-id-1 {
	width:193px;
	font-size:.8em;
	background:#f3f3f3;
	border-top:none;
	border-bottom-left-radius:4px;	
	border-bottom-right-radius:4px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	box-shadow: 0px 4px 3px 0px #000;
}
#ui-id-1 li,
 {cursor:pointer; }
#ui-id-1 li a:hover, #ui-id-1 li a:focus, #ui-id-1 li a:active, #ui-id-1 li a.ui-state-focus {
	background:#FFF!important;
	background-image:none;
	cursor:pointer;
	border-color:#FFF;
	border-radius:1px; }

#ui-id-2 {
	width:193px;
	font-size:.8em;
	background:#FFF;
	border-top:none;
	border-bottom-left-radius:4px;	
	border-bottom-right-radius:4px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	box-shadow: 0px 4px 3px 0px #000;
}
#ui-id-3 {
	width:85px;
	font-size:.8em;
	background:#FFF;
	border-top:none;
	border-bottom-left-radius:4px;	
	border-bottom-right-radius:4px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	box-shadow: 0px 4px 3px 0px #000;
}
#ui-id-4 {
	width:94px;
	font-size:.8em;
	background:#FFF;
	border-top:none;
	border-bottom-left-radius:4px;	
	border-bottom-right-radius:4px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	box-shadow: 0px 4px 3px 0px #000;
}
#ui-id-5 {
	width:186px;
	font-size:.8em;
	background:#FFF;
	border-top:none;
	border-bottom-left-radius:4px;	
	border-bottom-right-radius:4px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	box-shadow: 0px 4px 3px 0px #000;
}
#ui-id-6 {
	width:186px;
	font-size:.8em;
	background:#FFF;
	border-top:none;
	border-bottom-left-radius:4px;	
	border-bottom-right-radius:4px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	box-shadow: 0px 4px 3px 0px #000;
}
#ui-id-7 {
	width:101px;
	font-size:.8em;
	background:#FFF;
	border-top:none;
	border-bottom-left-radius:4px;	
	border-bottom-right-radius:4px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	box-shadow: 0px 4px 3px 0px #000;
}
#ui-id-8 {
	width:101px;
	font-size:.8em;
	background:#FFF;
	border-top:none;
	border-bottom-left-radius:4px;	
	border-bottom-right-radius:4px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	box-shadow: 0px 4px 3px 0px #000;
}
#ui-id-9 {
	width:192px;
	font-size:.8em;
	background:#FFF;
	border-top:none;
	border-bottom-left-radius:4px;	
	border-bottom-right-radius:4px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	box-shadow: 0px 4px 3px 0px #000;
}

#ui-id-2 li,
#ui-id-3 li,
#ui-id-4 li,
#ui-id-5 li,
#ui-id-6 li,
#ui-id-7 li,
#ui-id-8 li,
#ui-id-9 li { cursor:pointer; }

#ui-id-2 li a:hover,	#ui-id-2 li a:focus, 	#ui-id-2 li a:active,	#ui-id-2 li a.ui-state-focus,
#ui-id-3 li a:hover,	#ui-id-3 li a:focus, 	#ui-id-3 li a:active,	#ui-id-3 li a.ui-state-focus,
#ui-id-4 li a:hover,	#ui-id-4 li a:focus, 	#ui-id-4 li a:active,	#ui-id-4 li a.ui-state-focus,
#ui-id-5 li a:hover,	#ui-id-5 li a:focus, 	#ui-id-5 li a:active, 	#ui-id-5 li a.ui-state-focus,
#ui-id-6 li a:hover,	#ui-id-6 li a:focus, 	#ui-id-6 li a:active,	#ui-id-6 li a.ui-state-focus,
#ui-id-7 li a:hover,	#ui-id-7 li a:focus, 	#ui-id-7 li a:active,	#ui-id-7 li a.ui-state-focus,
#ui-id-8 li a:hover,	#ui-id-8 li a:focus, 	#ui-id-8 li a:active,	#ui-id-8 li a.ui-state-focus,
#ui-id-9 li a:hover,	#ui-id-9 li a:focus, 	#ui-id-9 li a:active,	#ui-id-9 li a.ui-state-focus
 {
	background:#CCC!important;
	background-image:none;
	cursor:pointer;
	border-color:#FFF;
	border-radius:1px; }
	

