﻿
/* Alternative Availability */

#alternate
{
    background:url('http://images.thl.com/images/b/tiles/header-banner.png') repeat-x;
    min-width:977px;
}

#vehicleAAContainer
{
    width:977px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    border: solid 0px #fff;    
}

/* AA - New Header*/
#catalogAAHeader
{
    width:977px;
    height:100px;
    float:left;
}

#catalogAAHeader span.Image {
    float: left;
    width: 200px;
    height : 87px; 
	margin:6px 0 0 7px;
}
#catalogAAHeader span.ContactUs
{
    float:right;    
    margin:0px 10px 0 0px;    
}

/* AA - New breadcrumb*/
#b2c-steps
{
    background:url(http://images.thl.com/images/b/tiles/tear-1024.gif) repeat-y;
    width:997px;
    height:34px;
    float:left;
    margin-left:-10px;
    overflow:hidden;
}
#b2c-steps .steps
{
    width:977px;
    height:34px;
    margin-left:10px;
    display:block;
}
#b2c-steps #step-1
{
     background:url(http://images.thl.com/images/b/btn/Sprites-Breadcrumbs.png) no-repeat 0px 0px;
}
#vechileCatalogAAContainer
{
   background:url(http://images.thl.com/images/b/tiles/tear-1024.gif) repeat-y;
    float : left;
    width: 997px;
    margin-left: -10px;   
    padding-left:10px;    
}
#vechileCatalogAAContainer h2
{
    float:left;
    font-size:18px;
    font-weight:bold;
    color:#fa8300;
    padding: 40px 0px 0px 0px;
}
#vechileCatalogAAContainer #resultsHeader {
    background-color: #fff;
    width:500px;
    height:30px;
    font-size:12px;
    margin-right:40px;
    color:#000;
    float:right;
    padding: 40px 0px 0px 0px;    
}

#footerContainer
{
    background:url(http://images.thl.com/images/b/tiles/tear-1024.gif) repeat-y;
    float:left;
    display:block;
    height:165px;
    width:997px;
    margin-left:-10px;
}
#footerContainer #footerWrapper
{
    background:url('http://images.thl.com/images/b/tiles/footer-24-7-image.jpg') no-repeat left top #5385c9;
    display:block;
    height:165px;
    width:577px;
    padding-left:400px;
    margin-left:10px;
    float:left;
    text-indent:-9999px;
}
#footerContainer .resText
{
    background:url('http://images.thl.com/images/b/tiles/footer-24-7-reservations-title.gif') no-repeat;
    width:305px;
    height:40px;
    float:left;
    display:block;
    margin-top: 20px;
}
#footerContainer a
{
    display:block;
    float:left;
    width:1px;
    height:1px;
    background:url('http://images.thl.com/images/b/btn/btn_matrix.png') no-repeat;

}
#footerContainer a.freephone
{
    width: 110px;
    height:38px;
    background-position: -400px -1040px;
    margin-top:20px;
    margin-left:20px;
}
#footerContainer a.freephone:hover
{
    background-position: -400px -1120px;
}
#footerContainer span.searchall
{
    clear:both;
}
#footerContainer a.returntosearch
{
    width: 180px;
    height:25px;
    background-position: 0px -1200px;
    margin-top:10px;
    clear:left;
}
#footerContainer a.returntosearch:hover
{
   background-position: 0px -1280px;
}
#footerContainer a.otherbrands
{
    width: 180px;
    height:25px;
    background-position: -200px -1200px; 
    margin-top:10px;
    margin-left:20px;    
}
#footerContainer a.otherbrands:hover
{
    background-position: -200px -1280px; 
}

#vehicleAAContainer #disclaimer
{
    background:transparent url(http://images.thl.com/images/b/tiles/tear-bottom.gif) no-repeat  0 0px;
    float : left;
    width: 997px;
	padding-left:17px;
    height : 45px;
	margin-left:-10px;
    font-size : 11px;
    color:#999;
    
}
#footerLinksBottom 
{
    clear:both;
    padding-top: 25px;
    width:800px;
    height:35px;
    text-align: center;
    width:100%;
}

#footerLinksBottom #footerLinksLogos {
    width:600px;
    margin:auto;
}

#footerLinksBottom #footerLinksLogos li#logos {
    background: url("http://images.thl.com/images/logo-lockup.png") no-repeat scroll 0 0 transparent;
}

#footerLinksBottom #footerLinksLogos li {
    font-size:9px;
    color:#999;
    float: left;
    line-height: 15px;
    padding: 0;
    text-align: left;
    vertical-align: top;
}
#footerLinksBottom #footerLinksLogos li#logos a {
    display: block;
    float: left;
    height: 40px;
    outline: medium none;
    text-indent: -9999px;
    width: 50px;
}
#footerLinksBottom #footerLinksLogos li#copyright
{
    margin-left:20px;
}
#footerLinksBottom #footerLinksLogos li#logos #THLLogo {
    width: 80px;
}
#footerLinksBottom #footerLinksLogos li#logos a#MauiLogo {
    width: 60px;
}

