﻿/* Should simply be able to do a find & replace on the base colours to change brand, the rest should stay the same.
/* Colours */

	/*
	/* BASE COLOUR SETTINGS 
		
		//maui
		Base Colour: 			#006271		-  eg Header bg
		Dark:					#003b44		-  eg Contact Btn Border 
		Medium:					#167583		-  eg Close Search Colour & top gradient 
		Light:					#2294a5		-  eg Filter botter bottom
		Darker:					#001d21
								
		gradient				003b44 167583
			
	/* Other colours defined
	
	GREEN BUTTONS
	Border:					#4ca64b
	Dark Green:				#4ca64b
	Light Green:			#5fbe5f
	
	GREYS
	Light Grey:				#f7f7f7
	Medium Grey:			#e0e0e0
	Dark Grey:				#cacaca
	Selected Grey:			#242424
	
	TEXT
	Text:					#000
	Light Text:				#616161
	
	UPDATE SEARCH
	Light:					#e95f40
	Dark:					#bb4c33
	Border:					#9f412c
	
	*/

/* */
/***********************************************************************************/
/************************************************************************************ CONTAINER // DEFAULTS **/
/***********************************************************************************/

body{ margin: 0; padding: 0; font-family:Arial, Helvetica, sans-serif; background-color: #f3f3f3; }           
img { border:0;}
ul, li { list-style: none; margin: 0; padding: 0; }
                
            
#header { width: 980px; height: 53px; position: absolute; top: 0; width: 100%; z-index: 0; background-color: #006271; border-bottom:1px solid #006271; }
#container { position: relative; }       
#container, #sortPanel, #vehicleCatalogHead, #vehicleCatalogContainer, #currencyPanel, #footer { margin: 0 auto; width: 980px; clear: both; }

/* Clearfix */
.clearfix { *zoom: 1;}
.clearfix:before, .clearfix:after { display: table; content: ""; line-height: 0; }
.clearfix:after { clear: both; }


/***********************************************************************************/
/************************************************************************************ HEADER **/
/***********************************************************************************/

.headerContent { margin: 0 auto; width: 100%; height: auto; }

#genericHeader { float:left; width:100%; font-size:16px; background: #006271; }
.headerContent img { }
 /* tabs */                       
.headerContent .steps, .headerContent img, .headerContent li, #currencyPanel li, #currencyPanel li span { float: left; }
.headerContent .steps { margin-left:20px; }
                
.headerContent .steps span { line-height: 65px; display: block; height: 34px; padding:0 35px; text-align: center; background-color: #006271; color:#003b44; }

.headerContent .steps .visited {position:relative;}	
.headerContent .steps .visited span a { display:block; font-weight: bold; position:relative; margin-top:12px; height:41px; line-height:38px; color:#FFF; text-decoration:none; }
.headerContent .steps .visited span a:hover { background:#003b44; color:#006271; border-top-right-radius:5px; border-top-left-radius:5px; }

.headerContent .steps .selected {position:relative;}	
                 
.headerContent .steps .selected span { background:#f3f3f3; font-weight: bold; position:relative; margin-top:10px; height:44px; line-height:44px; border-top-right-radius:5px; border-top-left-radius:5px;	 color:#000; box-shadow: 0px -2px 2px 0px #003b44; }
	
/* tabs with before/after round our borders */
.headerContent .steps .selected:before,
.headerContent .steps .selected:after 	{ position: absolute; bottom: -1px; width: 6px; height: 6px; content: " "; }
.headerContent .steps .selected:before	{ left: -6px; border-bottom-right-radius: 6px; border-width: 0 1px 1px 0; box-shadow: 2px 2px 0 #f3f3f3; z-index:100; border-right: 1px solid #f3f3f3; }
.headerContent .steps .selected:after 	{ right: -6px; border-bottom-left-radius: 6px; border-width: 0 0 1px 1px; box-shadow: -2px 2px 0 #f3f3f3; z-index:100; border-left: 1px solid #f3f3f3; }
.headerContent .steps .selected:after, .headerContent .steps .selected:before { border-bottom: 1px solid #f3f3f3; }    
  
.headerContent .steps .visited span { color: #fff; font-weight: bold; }
/* /END tabs */    


/* Contact btn */              
.headerContent a.contactUs {
    display: block; float: right; margin: 12px 10px 0 0; background:#006271; border:1px solid #003b44; width: auto; height: auto; padding:0px; overflow: hidden; }
.headerContent a.contactUs.contactUsMobile {display:none;}

.headerContent a.contactUs span {
	float:left; display:block; border-top:1px solid #2294a5; height:17px; width:auto; padding:5px 10px 5px 15px; text-align:center; color:#FFF; text-shadow: 0px -1px 0px #000; text-decoration:none; font-size:14px;  
	background: #167583; /* Old browsers */
		background: -moz-linear-gradient(top, #167583 0%, #003b44 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#167583), color-stop(100%,#003b44)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #167583 0%,#003b44 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #167583 0%,#003b44 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #167583 0%,#003b44 100%); /* IE10+ */
		background: linear-gradient(to bottom, #167583 0%,#003b44 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#167583', endColorstr='#003b44',GradientType=0 ); /* IE6-9 */
		  
	}
.headerContent a.contactUs:hover span { background:#003b44;	text-shadow: none; }




/***********************************************************************************/
/************************************************************************************ BOOKING CONTROL **/
/***********************************************************************************/

#vehicleSelector, .prem-econo { display:none; }

/* #currencyPanel is the title row 'Select Your Vehicle' */
#currencyPanel { height: 57px; }
            
#currencyPanel h1 { float: left; line-height: 22px; font-weight:lighter; font-size:1.8em; color:#353535; }
#currencyPanel ul { float: right; display:none; }
#currencyPanel label { float:left; line-height: 62px; font-size:.8em; color:#828282; padding-right:15px; border-right:1px solid #FFF; }
#currencyPanel .ui-state-default { background: none repeat scroll 0 0 transparent !important; border: medium none !important; font-size: 0.7em; }

/* Booking Control Head */
#bookingControl { width: 100% ; float: left;  box-shadow: 0 0 2px 0 #000; border-radius:5px; -webkit-border-radius:5px; overflow:hidden; margin-bottom:25px; }   
#bookingControl .cell span { font-size: 12px; }         
#bookingControl .cell span, #bookingControl .cell label { clear: both; display : block; margin: 0px; color: #fff; }
#bookingControl .cell label {font-weight:bold; color: #fff; font-size: 0.8em; padding:5px 0 2px 0; }                           
#bookingControl .cell { height : 45px; background-color: #006271; border-bottom:1px solid #006271; } 
#bookingControl .period { width: 9%; background-color: #006271; float: left; border-top-left-radius:5px; padding-left:2%;}
#bookingControl .pickup { width: 36%; float: left;}
#bookingControl .dropoff { width: 36%; float: left; }
#bookingControl .close { font-size:14px!important; width: 11%; padding:0 2% 0; float :right; color: #fff; background: #167583; text-align:center; border-left:1px solid #34575D; border-bottom:1px solid #006271; cursor:pointer;  border-left:1px solid #006271;  border-top-right-radius:5px; line-height:46px;  cursor:pointer; overflow:hidden;}
#bookingControl .close span small { font-size:13px; }
#bookingControl .close span i { margin-left:5px; }
#bookingControl .close:hover {background:#2294a5;}
#bookingControl.col .close:hover {background:#2294a5;}

#bookingControl .head { cursor: pointer; float:left; width:100%; background:#006271; }
#bookingControl .head:hover .close { background:#2294a5; }
				
#bookingControl.col .close.cell .icon-minus { background-position: -407px -96px; }
				
				
/* Booking Control Body */				
#bookingControl .body {float:left; width:100%; overflow:hidden;}            
#bookingControl #countrySelector { display: none;}
               
#bookingControl .body .left,
#bookingControl .body .center,           
#bookingControl .body .right { float:left; width:100%; display:inline-block; background:#FFF; border-top:1px solid #f0f0f0; border-left:1px solid #f0f0f0; border-right:1px solid #f0f0f0; }  

#bookingControl .row label { float: left; padding-top:8px; color: #333; font-weight: bold; }      

#bookingControl .body .brandRow, #bookingControl .body .paxRow { padding: 10px 2%; height:30px; width:45.9%; float:left; }            
#bookingControl .center .pickupRow, #bookingControl .center .dropOffRow 
{ padding: 10px 2%; height:30px; width:45.8%; float:left; border-top:1px solid #FFF; border-left:1px solid #FFF; background:#efefef; border-bottom:1px solid #FFF; }
                                
#bookingControl .row label { font-size: 14px; width:40%; }            
#bookingControl .body .paxRow { border-left:1px solid #F0F0F0;  }            
                
#bookingControl .right .dateTimeRow { padding: 10px 2%; height:30px; width:45.9%; }
#bookingControl .right .dateTimeRow .dateTimeRowOptions { float:left; width:60%; }
                                
#bookingControl .body .row { float: left; }
                  
#bookingControl .body .dateTimeRow:last-child {
  border-left:1px solid #F0F0F0;
}
#bookingControl .body .dateTimeRow .dateTimeRowOptions input.datePicker { float:left; padding:9px 0 0 0px!important; cursor:pointer; font-size:14px!important; color:#555555; width:100px; width:45%; border:none; }

.brandRow select,
.pickupRow select,
.dropOffRow select { float:left; width:60%; padding:0; margin:6px 0 0; background:transparent; cursor:pointer; }

.paxRow select { float:left; width:27%; padding:0; margin:6px 0 0; background:transparent; cursor:pointer; }
.dateTimeRow select { float:right; width:45%; padding:0; margin:6px 0 0; background:transparent; cursor:pointer; }

select#childSelector { float:right; }         
                                
#bookingControl .footer {
	float:left;
    background-color: #006271;
    clear: both;
    width: 100%;
    height: auto;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    text-align: right;
	cursor:pointer;
	position:relative;
}
#bookingControl.col .footer { display:none; }
               
#bookingControl .footer #updateSearch {
    text-transform: uppercase;/*ie ;o(*/  
    background: #167583; /* Old browsers */
		background: -moz-linear-gradient(top, #167583 0%, #003b44 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#167583), color-stop(100%,#003b44)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #167583 0%,#003b44 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #167583 0%,#003b44 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #167583 0%,#003b44 100%); /* IE10+ */
		background: linear-gradient(to bottom, #167583 0%,#003b44 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#167583', endColorstr='#003b44',GradientType=0 ); /* IE6-9 */
    border: 1px solid #001d21;
    border-radius: 3px 3px 3px 3px;
    float:right;
  	margin:4px 2% 0 0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    padding: 6px 10px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-decoration:none;
}
#bookingControl .footer #updateSearch:hover {				
    background: #003b44; 
   }

#bookingControl .footer #crossSell {
    float: left;
    margin: 0;
	padding:8px 0 8px 10px;
    display: block;
    height:24px;
    background: transparent url("/images/m/icons/csell_logos.png") no-repeat 196px 4px;
    color: #fff;
	width:243px;
    font-size: 14px;
}
.au #bookingControl .footer #crossSell {
	background: transparent url("/images/m/icons/csell_logos_au.png") no-repeat 196px 4px;
}

#bookingControl .footer #crossSell.allbrands { width:545px; }
#bookingControl .footer #crossSell select  { font-size: 0.8em; margin: 3px; float: left; width:126px; }
#bookingControl .footer #crossSell span { font-size: 12px;  line-height: 22px;  float: left; margin-right:10px; }
#bookingControl .footer #updateSearch i { margin-left:5px; }

select.req { color:#F00; font-weight:bold; }

/***********************************************************************************/
/************************************************************************************ FILTER BOX **/
/***********************************************************************************/

#sortPanel {
	float:left;
    width: 100%;
    background: #e0e0e0; /* Old browsers */
		background: -moz-linear-gradient(top,  #FFFFFF 40%, #e0e0e0 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#FFFFFF), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #FFFFFF 40%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #FFFFFF 40%,#e0e0e0 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #FFFFFF 40%,#e0e0e0 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #FFFFFF 40%,#e0e0e0 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
	border-bottom:1px solid #999;
} 
#sortPanel.col .header { background:#666; }
#sortPanel.col .header h2 { color:#FFF; }
#sortPanel.col .header .right label, #sortPanel.col .left small { color:#FFF; }
 
#sortPanel .filterPanel { float: left; margin-left: 2%; width:65%; }
            
#sortPanel div.sortPanel { float: right; margin-right: 2%; width:30%; }
                
#sortPanel .body { width: 100%; float: left; display:block; border-left:1px solid #d9d9d9; border-right:1px solid #d9d9d9; }
                
#sortPanel .header {
    height: auto;
    background-color: #FFF;  
    border-top-left-radius:5px;    
    border-top-right-radius:5px; 
    width: 100%;  
    border: 1px solid #d9d9d9;  
	float:left;           
}

#sortPanel .header .left {
	float:left;
	background:url("/images/c/titlearrow.png") 110px 0 no-repeat!important;
	width:36%;
	margin-left:2%;
}
	            
#sortPanel .header h2 {
    float: left; 
    display: block; 
    font-size: 1.1em; 
    color: #333; 
    line-height: 11px;
}

#sortPanel .header .right {
	float:right;
	margin-right:2%;
	width:60%;
	padding:8px 0;
}

.sortPanel { display: block; float: right;}
#sortPanel .alternative-currency { float: right;}
#sortPanel .alternative-currency label  {
    float: left; 
    margin: 3px 8px 0 0;
    font-size: 14px;
}
#sortPanel .alternative-currency select{ font-size: 14px; width:200px; }

#selectorPanel small { display: block; float: left; text-transform: uppercase; font-size: 0.7em; margin-top: 12px; width:70%;}
#sortPanel div.sortPanel select { clear: both; width:70%; margin:11px 0; background:transparent; cursor:pointer; }   
select#sortSelector { color:#333; } 
select#sortSelector option { color:#000; }
#sortPanel .header .right label {
	color:#333;	
}
	#sortPanel .header .right ul {
		float:right;
	}
	#sortPanel .header .right li {
		display: inline;
   		list-style-type: none;
	}
		#sortPanel .header .right li span.hideshow {
			float:left;
			width:60px;
			height:26px;
			margin:0px;
			border-left:1px solid #65868D;
			color:#FFF;
			font-size:.7em;
			padding-top:14px;
			text-align:center;
			cursor:pointer;
		}
		#sortPanel .header .right li:last-child span.hideshow {border-right:1px solid #65868D;}
		
		#sortPanel .header .right li span.hideshow:hover {background:#5b8a94;}
		
		#sortPanel .header .right li span.active {
			background:#5b8a94;
			color:#333;
			text-shadow:0 1px 0 #84a7af;
			  	-moz-box-shadow:    inset 0 0 8px #2D4046;
			   	-webkit-box-shadow: inset 0 0 8px #2D4046;
			   	box-shadow:         inset 0 0 8px #2D4046;
		}
	

        
#sortPanel span.lbl, span.selector,  span.selector ul, span.selector small, span.selector span {
    display: block; 
    float: left;
}

  
span.selector { margin-right: 2%; margin-bottom:16px; }
span.selector#filter_wheel { display:none; }
.au #sortPanel span.lbl, .au span.selector { margin-right: 5px; }
        
#sortPanel .btns {
    clear: both;
	font-size: 0.8em; 
}

#sortPanel .left small
{
	float:left;
	margin-left:10px;
	font-size:.7em;
	font-style:italic;
	font-weight:lighter;
	margin-top:14px;
	padding:1px 4px 1px 6px;
	border-radius:3px;
	box-shadow: 0px 1px 0px  rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	
}

.col .left small .icon-chevron-up { background-position: -312px -119px;	}

#sortPanel .left small:hover {
	background:#999;
	padding:1px 4px 1px 6px;
	cursor:pointer;
	color:#FFF;
	box-shadow: 0px -1px 0px  rgba(120, 120, 120, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
		
}

#sortPanel .filterPanel small {
	text-transform:uppercase;
	font-size:.7em;
	padding-bottom:5px;
}
        
#sortPanel .btns label {
    padding: 5px 8px 5px 9px;
	background-color: #FFF; 
		background-image: linear-gradient(to bottom, #FFF, #c8c8c8);
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#c8c8c8));
		background-image: -webkit-linear-gradient(top, #FFF, #c8c8c8); 
		background-image:    -moz-linear-gradient(top, #FFF, #c8c8c8);
		background-image:     -ms-linear-gradient(top, #FFF, #c8c8c8);
		background-image:      -o-linear-gradient(top, #FFF, #c8c8c8);
		background-repeat:repeat-x;
    border-top: 1px solid #828282; 
	border-right: 1px solid #828282; 
    border-bottom: 1px solid #828282; 	
    cursor: pointer;
    display: block;
    float: left;
	height:18px;
	color:#4a4a4a;	
}
	#sortPanel .btns label:hover {background:#FFF; color:#000;}
	#sortPanel .btns label:first-child {border-left:1px solid #828282; padding: 5px 8px 5px 8px;}

#sortPanel .btns label.selected {
	background: #999;
    border: 1px solid #333;
    display: block;
    float: right;
    height: 28px;
	padding:0px;
    float: left;
   margin-left:0px;
}
            
#sortPanel .btns label.selected span {
    background: #333333; /* Old browsers */
		background: -moz-linear-gradient(top, #999999 0%, #333333 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#333333)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #999999 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #999999 0%,#333333 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #999999 0%,#333333 100%); /* IE10+ */
		background: linear-gradient(to bottom, #999999 0%,#333333 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
    border-top: 1px solid #dedede;
    color: #FFFFFF;
   	height:17px;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 #000000;
   }
   	#sortPanel .btns label.selected span:hover { background-color: #333; background-image: none;	}
        
#sortPanel .btns span.selected { background-color: #33585E; }
               
#sortPanel small, #sortPanel .lbl { color: #333; }
#sortPanel .lbl { width:26%; margin: 38px 2% 0; font-weight: bold; font-size: 12px; }
#sortPanel .filterPanel .lbl { width:10%; margin:38px 0 0; }
.filterPanel .filterOptions { float:left; margin-top:12px; width:88%; }       

/***********************************************************************************/
/************************************************************************************ VEHICLE ROLLUP **/
/***********************************************************************************/
#vehicleCatalog {
    background: #f3f3f3;
	border-left:1px solid #d5d5d5;
	border-right:1px solid #d5d5d5;
	border-bottom:1px solid #d5d5d5;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	box-shadow: 0px 4px 3px 0px #666;
	float: left; padding: 15px 2%; width: 96%;
}
#vehicleCatalog div.brand { display: block; float: left; min-height:10px; width: 100%; }

.element { width:100%; }
        
#vehicleCatalog .vehicle { float: left; width: 99.5%; position:relative; border: 1px solid #D8D8D8; margin-bottom: 20px; background:#FFF;
	-webkit-box-shadow: 0 8px 6px -6px #666;
	-moz-box-shadow: 0 8px 6px -6px #666;
	box-shadow: 0 8px 6px -6px #666;
}
#vehicleCatalog .vehicle.loading { width: 99.5%; position:relative; min-height: 180px; border: 1px solid #D8D8D8; background:#FFF;
	-webkit-box-shadow: 0 8px 6px -6px #666;
	   -moz-box-shadow: 0 8px 6px -6px #666;
	        box-shadow: 0 8px 6px -6px #666;
    
}
#vehicleCatalog  .vehicle .vhead,
#vehicleCatalog  .vehicle .vprice,
#vehicleCatalog  .vehicle .vstatus,
#vehicleCatalog  .vehicle .vfeat,
#vehicleCatalog  .vehicle .vfooter { float:left; width:100%; margin:0; padding:0; }

#vehicleCatalog  .vehicle .vstatus { float: left; width: 100%; }
#vehicleCatalog  .vehicle .vfoot { float:left; width:98%; padding:8px 1%; background:#f7f7f7; border-top:1px solid #d8d8d8; }
#vehicleCatalog .vehicle h4 {
    display: block;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    font-size: 20px;
    color: #006271;
    overflow: hidden;
	font-weight:bold;
}

#vehicleCatalog .promo .vehicle h4 { color: #FD521C; }
#vehicleCatalog .noavail .vehicle h4 { color:#888888; }
#vehicleCatalog .vehicle.loading h4 { color:#0B569A; }
#vehicleCatalog .vehicle .vhead { float: left; width: 98%; padding:12px 1% 8px; position:relative; border-bottom:1px solid #e0e0e0; }			
			
.vehicle .row .left { float: left; }
.vehicle .row .right { float: right; }
#vehicleCatalog .vehicle span.tmb {
    height: 60px;
    position: relative;
    width: 137px;
    line-height:62px;
    text-align:center;
	background:#FFF;
	margin:10px 1% 5px;
}

#vehicleCatalog .vehicle .slps small  {
    float: left; 
    clear: none; 
    padding-top:2px; 
    color:#000;
    font-size: 14px;
    font-weight: bold; 
    margin: 0;
}

#vehicleCatalog .vehicle.loading .slps small { color:#000;}
#vehicleCatalog .vehicle .slps span { float: right; clear: none; }

#vehicleCatalog .vehicle .inf {
	color: #E95D2C;
    font-size: 14px;
    background: transparent url('/images/c/icons/more_inf.png') no-repeat right 2px;
    margin: 0px;
    cursor: pointer;
	display: block;
	position:absolute;
	bottom:8px;
	right:1%;
	font-weight:bold;
	padding-right:15px;
}
#vehicleCatalog .vehicle .inf:hover { text-decoration:underline; }
#vehicleCatalog .vehicle .vprice {
    width: 100%;
    float: left;
    background-color: #e0e0e0; 
    overflow: hidden;
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
}
#vehicleCatalog .vehicle .vprice .det { float:left; width:98%; height:auto; padding:15px 1%; display:none; background:#cacaca; }
#vehicleCatalog .vehicle .vprice.expand .det { display:block; }

#vehicleCatalog .vehicle .vprice .left { float:left; margin-left:1%; padding:5px 0; }
#vehicleCatalog .vehicle .prc { margin: 4px 4px 0 0; font-weight:normal; font-size:28px; color:#000; }
/*alternative currency */
.vprice .forex { display: none; }
#vehicleCatalog.forex .vprice .forex { display: block; float:left; } 
#vehicleCatalog.forex .vprice .forex .prc { font-size:16px; margin-right:5px; }

#vehicleCatalog .vehicle .slps, #vehicleCatalog .vehicle .cur { font-size: 12px; text-transform: uppercase; margin-bottom:0px; color:#616161; }

#vehicleCatalog .vehicle .vprice .right { float: right; width: 25%;  min-height: 45px; background-color: #cacaca; cursor:pointer; }
#vehicleCatalog .vehicle .vprice .right:hover { background:#e0e0e0; }
#vehicleCatalog.forex .vehicle .vprice .right { min-height:63px; }

#vehicleCatalog .vehicle .vprice .right .lbl {
    color: #000000;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 15px;
}

#vehicleCatalog .vehicle .vprice .right .expand {
    background: transparent url("/images/c/icons/glyphicons-halflings.png") -780px -117px;
    display: block;
    width: 15px;
    height: 15px;
    margin: 14px 10px 0 0;
    float: right;
}

#vehicleCatalog.forex .vehicle .vprice .right .lbl { margin-top:24px; }
#vehicleCatalog.forex .vehicle .vprice .right .expand {  margin-top:23px;}

#vehicleCatalog .vehicle .vprice .det table.chargesTable, table.discountTable { width: 100%; border-collapse: collapse; }

table.discountTable.hide { display: none; }

table.chargesTable td, table.discountTable td, table.chargesTable th, table.discountTable th { border: 1px solid #b6b6b6; }

#vehicleCatalog .vehicle .vprice .det table.chargesTable th, table.discountTable th  { text-align: left; padding:8px; color:#242424; font-size:14px; }

table.chargesTable th { background-color: #d9d9d9; }

table.chargesTable td, table.discountTable td { background-color: #fff; font-size: 14px; padding: 8px; } 

table.chargesTable tr.total td { background-color: #d9d9d9; }

#vehicleCatalog .vehicle .vfeat { border-top:1px solid #e0e0e0; }

 
#vehicleCatalog .vehicle .ftrs { margin-top:8px; margin-left: 1%; float:left; width:50%; } 
.vehicle .vfeat ul { float: left; display: block; width:33%; }                           
#vehicleCatalog .vehicle .ftrs li { float: left; display: block; font-size: 12px; width: 100%; height:14px; padding:3px 0; color:#616161; }
		   
#vehicleCatalog .vehicle span.book {
	background: #167583; /* Old browsers */
		background: -moz-linear-gradient(top, #167583 0%, #003b44 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#167583), color-stop(100%,#003b44)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #167583 0%,#003b44 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #167583 0%,#003b44 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #167583 0%,#003b44 100%); /* IE10+ */
		background: linear-gradient(to bottom, #167583 0%,#003b44 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#167583', endColorstr='#003b44',GradientType=0 ); /* IE6-9 */
	color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	width:93px;
	border-radius: 3px 3px 3px 3px;
    font-size: 14px;
    line-height: 26px;
	border:1px solid #001d21;
	text-align:center;
	cursor:pointer;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    float: right;
    display: block;
    width: 185px;
    height: 25px;
    line-height: 26px;
}

#vehicleCatalog .vehicle span.book:hover { background-color: #003b44; background-image: none; }   

/* HOT DEAL RE-STYLING */ 
#vehicleCatalog .promo .vehicle .inf { color:#000; background: transparent url('/images/c/icons/more_inf_promo.png') no-repeat right 2px; background: }
#vehicleCatalog .promo .vehicle .cur { color:#FFF; }
#vehicleCatalog .promo .vehicle .vprice, #vehicleCatalog .promo .vehicle .prc, #vehicleCatalog .promo .vehicle .vprice .right  { background-color: #FD521C; color: #fff; }
#vehicleCatalog .promo .vehicle .vprice .right .lbl { color:#FFF; }
#vehicleCatalog .promo .vehicle .vfoot { background-color: #f7f7f7;  }
#vehicleCatalog .promo .vehicle .vprice .right { border-left:1px solid #FFF; }
#vehicleCatalog .promo .vehicle span.book {
    background: #FD521C; /* Old browsers */
		background: -moz-linear-gradient(top, #FD521C 0%, #cf3c0e 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FD521C), color-stop(100%,#cf3c0e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #FD521C 0%,#cf3c0e 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #FD521C 0%,#cf3c0e 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #FD521C 0%,#cf3c0e 100%); /* IE10+ */
		background: linear-gradient(to bottom, #FD521C 0%,#cf3c0e 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FD521C', endColorstr='#cf3c0e',GradientType=0 ); /* IE6-9 */
    color: #FFF;
    border:1px solid #cf3c0e;
	text-shadow: 0 -1px 0 #cf3c0e;
	
}
#vehicleCatalog .promo .vehicle span.book:hover { background:#cf3c0e; }
#vehicleCatalog .promo .vehicle .vprice .right:hover { background:#fc6e41; }
#vehicleCatalog .promo .vehicle .vprice.expand .right { border-left:1px solid #FD521C; }
#vehicleCatalog .promo .vehicle .vprice.expand .right,
#vehicleCatalog .promo .vehicle .vprice.expand .det { background:#fc6e41; }

.promo table.chargesTable th { background:#FD521C; color:#FFF; border:1px solid #fc6e41; }
#vehicleCatalog .promo .vehicle .vprice .det table.chargesTable th { color:#FFF; }
.promo table.chargesTable td, .promo table.discountTable td { color:#000; }
.promo table.chargesTable td, .promo table.discountTable td, .promo table.chargesTable th, .promo table.discountTable th { border:1px solid #fc6e41; }
.promo table.chargesTable tr.total td { background:#FD521C; border:1px solid #fc6e41; font-weight:bold; }

/* Not Available */
#vehicleCatalog .noavail .vehicle { background: #efefef; box-shadow: none; position: relative; }
#vehicleCatalog .noavail .vehicle .status { float:left; background-color: #e0e0e0; line-height: 40px; padding: 5px 1%; width:98%; }
#vehicleCatalog .noavail .vehicle .status .unavail { font-size:28px; margin-right:1%; }
#vehicleCatalog .noavail .vehicle .status.lead0 { background-color: #fff !important; background: transparent url('/images/c/icons/more_inf_noavail.png') no-repeat 12px 11px; } 
#vehicleCatalog .noavail .vehicle .status.lead0 .less24 { color: #000 !important; }
#vehicleCatalog .noavail .vehicle .status.lead0 .less24 a { color:#006271; }
#vehicleCatalog .vehicle .vstatus .less24 {
    font-size: 12px;
    float: left;
    display: block;
    line-height: 16px;
	color:#000;
	padding:5px 5px 5px 25px;
}
#vehicleCatalog .noavail .vehicle .inf { color:#888888; background: transparent url('/images/c/icons/more_inf_grey.png') no-repeat right 2px; }
#vehicleCatalog .noavail .vehicle.col .status { display: none; }
#vehicleCatalog .noavail .vehicle .cur, #vehicleCatalog .noavail .vehicle .book { display: none; min-height:33px; }
.vstatus .prcMsg .alternate { float: left; display: block; font-size: 12px; line-height: 16px; margin: 5px 1% 0 0; color: #fff; }
.vstatus .prcMsg .alternate b { font-weight: bold; font-size:12px; }   
#vehicleCatalog .noavail .vehicle .vfoot  .alt .lnk  {
    float: left;
    color: #006271;
    font-size: 12px;
	line-height:26px;   
}
#vehicleCatalog .noavail .vehicle .vfoot  .alt .lnk:hover { text-decoration:none; }
#vehicleCatalog .noavail .vehicle .vfoot  .alt .btn  {
    background: #FFFFFF; /* Old browsers */
		background: -moz-linear-gradient(top, #FFFFFF 0%, #CCCCCC 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#CCCCCC)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #FFFFFF 0%,#CCCCCC 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #FFFFFF 0%,#CCCCCC 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #FFFFFF 0%,#CCCCCC 100%); /* IE10+ */
		background: linear-gradient(to bottom, #FFFFFF 0%,#CCCCCC 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#CCCCCC',GradientType=0 ); /* IE6-9 */
	color: #333;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
	width:93px;
	border-radius: 3px 3px 3px 3px;
    font-size: 14px;
    line-height: 26px;
	border:1px solid #b4b4b4;
	text-align:center;
	cursor:pointer;
    float: right;
    display: block;
    width: 185px;
    height: 25px;
    line-height: 26px;    
	text-decoration:none; 
}
#vehicleCatalog .noavail .vehicle .vfoot  .alt .btn:hover { background:#CCCCCC; }
#vehicleCatalog .noavail .vehicle .slps small { color:#888888; }

/* Loading */                
#vehicleCatalog .vehicle.loading .vstatus .prcMsg {
    text-indent: -1000em;
    overflow: hidden;
    background: transparent url('/images/c/tiles/price_ldr.gif') no-repeat 50% 10px; 
    display: block;
    float: left;
    width: 100%;
    height: 40px;
}
#vehicleCatalog .vehicle.loading h4 { color:#CCC; }
#vehicleCatalog .vehicle.loading .inf { color:#CCC; background: transparent url('/images/c/icons/more_inf_grey.png') no-repeat right 2px;  }
#vehicleCatalog .vehicle.loading .vfoot { min-height:27px; }
#vehicleCatalog .vehicle.loading .ftrs li { color:#CCC; }
#vehicleCatalog .vehicle.loading .slps small { color:#CCC; }
/***********************************************************************************/
/************************************************************************************ FOOTER **/
/***********************************************************************************/

#footer { float:left; margin-bottom:20px; } 
#footer .top { float:left; width:100%; margin:0 0 20px 0; }               
#footer #disclaimer { float: left; width: 65%; padding:0 5% 0 0; margin: 20px 0 0 2%; font-size:14px; color:#57585b; border-right:1px solid #CCC; line-height:22px; }
#footer #disclaimer span { float: left;	clear: both; }
#footer #footerlogo  { float: right;  width: 26%; height:53px; padding:0; margin: 20px 0px 0 0px; text-align:center; }
#footer #footerlogo img { border:0px; }
                
#footerPre { width: 100%; height: 1px; background:#777777; }

/*thl logo row */
                
#footerWrap {
    width: 100%; 
    height: 58px; 
	background-color: #080808; 
    background-image: linear-gradient(to bottom, #303030, #080808);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#303030), to(#080808));
    background-image: -webkit-linear-gradient(top, #303030, #080808); 
    background-image:    -moz-linear-gradient(top, #303030, #080808);
    background-image:     -ms-linear-gradient(top, #303030, #080808);
    background-image:      -o-linear-gradient(top, #303030, #080808);
    background-repeat:repeat-x;
	
	border-top:1px solid #424242;
	border-bottom:1px solid #373737;
}
                
#footerWrap .body {
    margin: 0 auto;
    width: 980px;
}

#footerWrap .body a.thl-logo {
    float: left;
    display: block;
    width: 95px;
    height: 58px;
	border-right:1px solid #373737;
	background-color: #080808; 
    background-image: linear-gradient(to bottom, #303030, #080808);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#303030), to(#080808));
    background-image: -webkit-linear-gradient(top, #303030, #080808); 
    background-image:    -moz-linear-gradient(top, #303030, #080808);
    background-image:     -ms-linear-gradient(top, #303030, #080808);
    background-image:      -o-linear-gradient(top, #303030, #080808);
    background-repeat:repeat-x;
}    

#footerWrap .body a.thl-logo:hover {background:none;}            

#footerWrap .body a.thl-logo span.thl {
	background: transparent url('/images/c/icons/footer_logos.png') no-repeat; 
    background-position: -16px 0px;width: 95px;
    height: 58px;
}
                                
#footerWrap .body a.thllogos {
    float: left;
    display: block;
    width: 95px;
    height: 58px;
	border-right:1px solid #373737;
	background-color: #080808; 
    background-image: linear-gradient(to bottom, #303030, #080808);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#303030), to(#080808));
    background-image: -webkit-linear-gradient(top, #303030, #080808); 
    background-image:    -moz-linear-gradient(top, #303030, #080808);
    background-image:     -ms-linear-gradient(top, #303030, #080808);
    background-image:      -o-linear-gradient(top, #303030, #080808);
    background-repeat:repeat-x;
}
#footerWrap .body a:hover { background-color:#000; background-image:none; }
#footerWrap .body a.thllogos span {
	background: transparent url('/images/c/icons/footer_logos.png') no-repeat; 
	width: 95px;
    height: 58px;
} 


#footerWrap .body a.thllogos span.kea { background-position: -101px 0px; }
#footerWrap .body a.thllogos span.maui { background-position: -187px 0px; } 
#footerWrap .body a.thllogos span.britz { background-position: -270px 0px; } 
#footerWrap .body a.thllogos span.united { background-position: -360px 0px; } 
#footerWrap .body a.thllogos span.alpha { background-position: -445px 0px; } 
#footerWrap .body a.thllogos span.mighty { background-position: -530px 0px; } 
#footerWrap .body a.thllogos span.econo { background-position: -620px 0px; Display: none;} 
	 
                     
#footerWrap .body span, #footerWrap .body ul ,#footerWrap .body li { float: left; }
                
#footerWrap .body span.privacy { font-size: 12px; color: #959595; margin-left: 10px; margin-top:15px; }
#footerWrap .body span.privacy a { color:#FFF;	background-color:transparent; }
#footerWrap .body span.privacy a:hover { text-decoration:none; background-color:transparent; text-decoration:none; }


/***********************************************************************************/
/************************************************************************************ ADDITIONAL **/
/***********************************************************************************/

.hideElm .vehicle { display : none;}    
.vehicle.loading span.prc { height: 16px; }

#vehicleCatalog .noavail .vehicle.loading {
    position:relative;
	padding:5px;
    height: 224px;
    border: 1px solid #D8D8D8;
    margin-bottom: 12px;
	background:#FFF;
	/*box-shadow: 0px 0px 2px 1px #ccc;*/
	-webkit-box-shadow: 0 8px 6px -6px #666;
	-moz-box-shadow: 0 8px 6px -6px #666;
	box-shadow: 0 8px 6px -6px #666;
    
} 
                
#vehicleCatalog .vehicle.col {
    height: 100px;
	cursor:pointer;
}
#vehicleCatalog .vehicle.loading.col {
    height: 100px;
	cursor:pointer;
}

#vehicleCatalog .vehicle.col:hover { background:#fd521c; border-color:#fd521c!important;}
#vehicleCatalog .vehicle.col:hover h4,
#vehicleCatalog .vehicle.col:hover .slps small,
#vehicleCatalog .vehicle.col:hover .prc ,
#vehicleCatalog .vehicle.col:hover span {color:#FFF;}

#vehicleCatalog .noavail .vehicle.col:hover { background:#d5d5d5; border: 1px solid #D8D8D8!important; }
#vehicleCatalog .noavail .vehicle.col:hover h4,
#vehicleCatalog .noavail .vehicle.col:hover .slps small,
#vehicleCatalog .noavail .vehicle.col:hover .prc ,
#vehicleCatalog .noavail .vehicle.col:hover span {color:#4a4a4a;}


/* Hidden state */
#vehicleCatalog .vehicle.col .tmb { display: none; }
#vehicleCatalog .vehicle.col .tmb,  #vehicleCatalog .vehicle.col .ftrs, #vehicleCatalog .vehicle.col .book { display: none; }    
                           
#vehicleCatalog .vehicle .spc { display: none; }
#vehicleCatalog .promo .vehicle .spc  
{
    display:block; 
    margin: 0 5px 0 0; 
    padding-left:6px; 
    font-weight:bold; 
    color:#f0532d; 
    cursor:pointer; 
    visibility:visible; 
    font-size: 1.7em;
    position:absolute;
    right: 5px;
} 
#vehicleCatalog .promo .vehicle.loading .spc {visibility:hidden;}
                
#vehicleCatalog .noavail .vehicle span.tmb {
	opacity:.5;
}
#vehicleCatalog .vehicle.loading span.tmb {
	opacity:.5;
}

#vehicleCatalog .vehicle .tmb img { vertical-align: middle; }
                          
  
#vehicleCatalog .vehicle.col span.inf span {
	display:none;	
}

#vehicleCatalog .noavail .vehicle .prc .prcMsg  {
    font-size: 0.6em; 
	font-weight:normal;
    height: 40px;
    width: 900px;
    overflow: hidden;
    text-overflow: ellipsis;    
	float: left;
	display:none;
	background:#EFEFEF;
	padding:3px;
	color:#666;
	white-space:nowrap;
	cursor:pointer;
}



#vehicleCatalog .tac.noavail .vehicle .prc .prcMsg {
	display:none;
}

#vehicleCatalog .noavail .vehicle.col .prc .prcMsg  {
    font-size: 1.2em;
	font-weight:lighter;
    height: 25px;
    width: 118px;
    overflow: hidden;
    text-overflow: ellipsis;    
	position:absolute;
	top:-6px;
	display:block;
	background:none;
	white-space:nowrap;
}
#vehicleCatalog .tac.noavail .vehicle.col .prc .prcMsg  {
    font-size: 0.6em;
	font-weight:normal;
	line-height:1.2em;
    height:54px;
    width: 111px;
    overflow: hidden;
    text-overflow: ellipsis;    
	white-space:nowrap;
	position:absolute;
	top:0px;
	display:block;
}

#vehicleCatalog .avail .vehicle .status { display: none; }
   
.vehicle.loading span.prc {
    text-indent: -1000em;
    overflow: hidden;
    background: transparent url('/images/c/tiles/price_ldr.gif') no-repeat 45px 0;  
} 
   
#vehicleCatalog .loading.vehicle .book, #vehicleCatalog .loading.vehicle .status { display: none; }  
    
#sortPanel .right #vehicleInfoSelector, #sortPanel #infoLbl  { display: none; }
       

                  
.vehicle .vhead .tmb {
    float: right;
}

#vehicleCatalog  .vehicle .vstatus, #vehicleCatalog  .vehicle .vfoot  .alt {
    display: none;
}

#vehicleCatalog  .vehicle .vstatus, #vehicleCatalog .noavail .vehicle .vfoot  .alt {
    display: block;
}

.vstatus .prcMsg .unavail {
    float: left;
    display: block;   
    color: #fff;     
}

.noavail .vstatus .prcMsg{ background-color: #e0e0e0 !important; }
.noavail .vstatus .prcMsg .unavail { color:#000; }
.noavail .vstatus .prcMsg .alternate { color:#000; }

#vehicleCatalog .vehicle .vprice.expand {
    height: auto;
}

#vehicleCatalog .vehicle .vprice.expand .right .expand {
    background-position:  -756px -117px;
}

#vehicleCatalog .vehicle.loading .vprice {
    display: none;
}

#vehicleCatalog .vehicle .vprice .prcMsg {
    display: none !important; /* overwrite from mac */
}

.tac .vehicle .vprice, .noavail .vehicle .vprice {
    display: none;
}

#dlSelector.req + .ui-combobox input { color: #f00 !important; }
            



/*************************************************************************************** */			
/*************************************************************************************** */			
/*************************************************************************************** */
/**** Icons and Calander styling ****/
/*************************************************************************************** */			
/*************************************************************************************** */			
/*************************************************************************************** */		

/* ICONS */

[class^="icon-"], [class*=" icon-"] {
			background-image: url("/images/c/icons/glyphicons-halflings.png");
			background-position: 14px 14px;
			background-repeat: no-repeat;
			display: inline-block;
			height: 14px;
			line-height: 14px;
			margin-top: 1px;
			vertical-align: text-top;
			width: 14px;
			cursor:pointer;
		}

.icon-white {
    background-image: url("/images/c/icons/glyphicons-halflings-white.png");
}
		
		.icon-chevron-down 	{ background-position: -313px -119px;	}
		.icon-chevron-up 	{ background-position: -288px -120px;	}
		.icon-minus 		{ background-position: -433px -96px;	}
		.icon-plus	 		{ background-position: -408px -96px;	}
		.icon-search 		{ background-position: -48px 0;			}
		.icon-eye-close 	{ background-position: -120px -120px;	}
		.icon-eye-open 		{ background-position: -96px -120px;	}
		.icon-envelope 		{ background-position: -72px 0;			}
		.icon-align-justify { background-position: -336px -48px;	}
		
		.icon-calendar 		{ background-position: -192px -120px; float:left; margin-top:9px; margin-left:0px;}
		
		.ui-button-icon-only .ui-icon {
				background-image: url("/images/c/icons/glyphicons-halflings.png");
				background-position: -313px -119px;
				}
				
.ui-tooltip {
	font-size:0.8em;
}
				
/* calander */

.ui-widget-header {background:#f3f3f3; border:1px solid #f3f3f3;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {height:1.5em; cursor:pointer;}
.ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-next:hover { background:#FFF; border:1px solid #FFF; cursor:pointer;}
.ui-datepicker .ui-datepicker-title { line-height: 1.4em!important; margin: 0 2em; }
select.ui-datepicker-month { float: left; margin-top: 3px !important; padding: 4px; width: 62% !important; margin-left:5px!important; }
span.ui-datepicker-year {float:left; margin-top:11px; margin-left:3px;}
.ui-datepicker-calendar .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background:#CCC; color:#FFF; border-color:#CCC;}
.ui-datepicker-calendar .ui-state-default:hover, .ui-widget-content:hover .ui-state-default:hover, .ui-widget-header:hover .ui-state-default:hover  {background:#167583; color:#FFF; border-color:#167583;}
.ui-datepicker-calendar .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {background:#006271; color:#FFF; border-color:#006271;}           
.ui-datepicker .ui-datepicker-title select, .ui-datepicker table { font-size: 0.5em !important; }
.ui-datepicker { width: 11em; }            
.ui-datepicker .ui-datepicker-title { line-height: 1.8em; margin: 0 2.0em; }      
.ui-datepicker .ui-datepicker-title .ui-datepicker-year { font-size: 0.5em; line-height: 0.5em; }
.ui-tooltip small, .ui-tooltip big { float: left; clear: both; display: block; }



				

            


/*************************************************************************************** */			
/*************************************************************************************** */			
/*************************************************************************************** */
/**** responsive at the end ****/
/*************************************************************************************** */			
/*************************************************************************************** */			
/*************************************************************************************** */							



@media only screen and ( max-width: 980px ) {
	
	#container, #sortPanel, #vehicleCatalogHead, #vehicleCatalogContainer, #currencyPanel, #footer { width:98%; margin:0 1%; overflow:hidden; }	
	#bookingControl { width:98%; margin:0 1% 20px; }
	
	#sortPanel .filterPanel 	{ width:65%;}
	#sortPanel div.sortPanel 	{ width:31%;}
	#sortPanel .filterPanel .lbl, #sortPanel span.lbl { width:100%; margin-top:8px; margin-left:0; }
	.filterPanel .filterOptions { margin-top:0; }
	#selectorPanel small { margin-top:5px; width:100%; }
	#sortPanel div.sortPanel select { width:100%; background:transparent; }
	
	#bookingControl .body .paxRow { border-bottom:none; }
	
	
	#filter_sleeps { width:100%; margin:0 0 8px 0; }
		#filter_sleeps .btns { width:100%; }
		#filter_sleeps .btns label, #filter_sleeps .btns label.selected { width:16%; padding:0; text-align:center; height:32px; }
		#filter_sleeps .btns label span, #filter_sleeps .btns label.selected span { width:100%; padding:8px 0; }
		#sortPanel .btns label.selected span { height:15px; }
		#sortPanel .btns label:first-child { padding:0; }
	#filter_toilet, #filter_availability { width:50%; margin:0 0 8px 0; }
		#filter_toilet .btns, #filter_availability .btns { width:100%; }
		#filter_toilet .btns label, #filter_toilet .btns label.selected,
		#filter_availability .btns label, #filter_availability .btns label.selected { width:31%; padding:0; text-align:center; height:32px; }
		#filter_toilet .btns label span, #filter_toilet .btns label.selected span,
		#filter_availability .btns label span, #filter_availability .btns label.selected span { width:100%; padding:8px 0; }
	
	#vehicleCatalog { border:none; }
	
	#footerWrap .body { width:96%; padding:0 2%; }
	#footerWrap .body li { display:none; }
	#footerWrap .body li:first-child { display:block; }
	#footerWrap .body a.thl-logo { border-right:none; }
	#footerWrap .body span.privacy { float:right; }
}


@media only screen and ( max-width: 767px ) {
	
	.headerContent a.contactUs { display:none; margin:12px 10px 0 0; }
	.headerContent a.contactUs.contactUsMobile  { display:block;  }
	.headerContent a.contactUs.contactUsMobile span { padding: 5px 10px; } 
	.headerContent .steps span { padding:0 14px; }
	
	#bookingControl .period { display:none; }
	#bookingControl .pickup { padding:0 2%; }
	#bookingControl .pickup, #bookingControl .dropoff { width:39%; line-height:12px; }
	#bookingControl .pickup #pickUpTxt,
	#bookingControl .dropoff #dropOffTxt { font-size:11px; text-transform:uppercase; }
	#bookingControl .cell label { font-size:11px; text-transform:uppercase; }
	#bookingControl .body .paxRow .ui-combobox { width:27%; }
	#bookingControl .body .paxRow .ui-combobox:last-child { margin-left:5%!important; }
	#bookingControl .row label, #bookingControl .ui-widget, #bookingControl .body .dateTimeRow .dateTimeRowOptions input.datePicker { font-size:12px!important; }
	#bookingControl .body .brandRow, #bookingControl .body .paxRow,
	#bookingControl .right .dateTimeRow { width:96%; }
	#bookingControl .center .pickupRow, #bookingControl .center .dropOffRow { width:45.7%; }
	#bookingControl .footer #crossSell.allbrands { width:96%; padding:8px 2% 30px; background-position: 8px 30px;   }
	#bookingControl .footer #updateSearch { width:96%; margin:4px 2% 8px; padding:8px 0;}
	#bookingControl .body .brandRow, #bookingControl .center .pickupRow, #bookingControl .center .dropOffRow, #bookingControl .right .dateTimeRow { border-bottom:none; }
    #bookingControl .body .paxRow { border-bottom:none; border-left:none; }
	#bookingControl .center .pickupRow, #bookingControl .center .dropOffRow { border-bottom:1px solid #FFF; }
	#sortPanel .header .left { border-bottom:1px solid #CCC; } 
	#sortPanel .header .left, #sortPanel .header .right { float:left; width:96%; margin:0 2%; }
	#sortPanel .alternative-currency { float:left; }
	
	#sortPanel .filterPanel .lbl { width:100%; }
	.filterPanel .filterOptions { width:100%; }
	span.selector { width:100%; margin:0 0 8px 0; }
	.selector .btns { float:left; width:100%; }
		#filter_sleeps .btns label, #filter_sleeps .btns label.selected { width:16%; padding:0; text-align:center; height:32px; }
		#filter_sleeps .btns label span, #filter_sleeps .btns label.selected span { width:100%; padding:8px 0; }
		#sortPanel .btns label.selected span { height:15px; }
		#sortPanel .btns label:first-child { padding:0; }
	#filter_toilet, #filter_availability { width:100%; margin:0 0 8px 0; }	
		#filter_toilet .btns label, #filter_toilet .btns label.selected,
		#filter_availability .btns label, #filter_availability .btns label.selected { width:32%; padding:0; text-align:center; height:32px; }
		#filter_toilet .btns label span, #filter_toilet .btns label.selected span,
		#filter_availability .btns label span, #filter_availability .btns label.selected span { width:100%; padding:8px 0; }


}




@media only screen and ( max-width: 481px ) {
	
	#genericHeader { width:104%; margin-left:-2%; }
	#currencyPanel { height:auto; }
	#currencyPanel h1 { font-size: 20px; line-height:34px; margin:0; padding:8px 0; }
	
	.headerContent a.contactUs.contactUsMobile { position:absolute; top:0; right:0px; }
	
	.headerContent .steps { margin:0; }
	ul.steps li .tab label { display:none; }
		
	#bookingControl .cell label { display:none; }	
	#bookingControl .pickup #pickUpTxt,
	#bookingControl .dropoff #dropOffTxt { font-size:10px; text-transform:uppercase; line-height:12px; margin:8px 0 0 0; }
	#bookingControl .body .paxRow .ui-combobox:last-child { margin-left:4%!important; }
	#bookingControl .close { width:7%; }
	#bookingControl .close span small { display:none; }
	#bookingControl .close span i { margin:0; }
	
	.icon-calendar { margin-left:-5px; }
	
	#bookingControl .body .brandRow, #bookingControl .body .paxRow,
	#bookingControl .center .pickupRow, #bookingControl .center .dropOffRow,
	#bookingControl .right .dateTimeRow { width:96%; }
	#bookingControl .footer #crossSell.allbrands { background-size:96%; }
	
	#sortPanel .alternative-currency { float:left; width:100%; }
	#sortPanel .header .right label { font-size:12px; width:45%; margin:3px 0 0 2% }
	#sortPanel .alternative-currency select { font-size:12px; width:51%; margin:0 2% 0 0; }
	
	
	#sortPanel .filterPanel { width:98%; padding:0; }
	#sortPanel div.sortPanel { width:96%; margin:0 2%; }
	#vehicleCatalog .vehicle { width:99%; }
	#vehicleCatalog .vehicle .vprice .left { padding:9px 0 5px; width:59%; }
	#vehicleCatalog .vehicle .prc { font-size:24px; margin-top:8px; }	
	#vehicleCatalog .vehicle .vprice .right { width:40%; }
	#vehicleCatalog .promo .vehicle .vprice .right { width:39%; }
	
	#vehicleCatalog .vehicle .vhead { width:96%; padding:12px 2% 8px; }
	#vehicleCatalog .vehicle .inf { right:2%; }
	#vehicleCatalog .vehicle .ftrs { margin-left:2%; width:49%; }
	#vehicleCatalog .noavail .vehicle .vfoot .alt .lnk { width:100%; text-align:center; }
	
	#vehicleCatalog .vehicle span.tmb { width:auto; margin:10px 2%; }
	
	.vehicle .row .left { width:65%; }
	
	#vehicleCatalog .vehicle .ftrs { margin-bottom:8px; }
	
	.vehicle .vfeat ul { width:50%; }
	.vehicle .vfeat ul:last-child { width:100%; }
	.vehicle .vfeat ul:last-child li { width:50%!important; }
	#vehicleCatalog .vehicle span.book { width:98%; margin:0 1%; }
	
	#vehicleCatalog .vehicle .vprice .det { width:96%; padding:15px 2%; }
	
	#vehicleCatalog .noavail .vehicle .vfoot  .alt .btn { width:96%; margin:0 2%; }
	
	#footer #disclaimer { width:100%; padding:0 0 15px 0; margin:20px 0 10px 0; border-right:none; border-bottom:1px solid #CCC; }
	#footer #footerlogo { width:100%; margin:10px 0; }
	
/*************************************************************************************************************************/	
/*************************************************************************************************************************/	
/*************************************************************************************************************************/	
/* TABLE STYLING */
/*************************************************************************************************************************/	
/*************************************************************************************************************************/	
/*************************************************************************************************************************/	
	/* Force table to not be like tables anymore */
	.chargesTable table, .chargesTable thead, .chargesTable tbody, .chargesTable th, .chargesTable td, .chargesTable tr { display: block; }
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.chargesTable thead tr { position: absolute; top: -9999px; left: -9999px; }
	
	.chargesTable tr { border: 1px solid #ccc; }
	.promo .chargesTable tr { border: 1px solid #fc6e41; }
	
	.chargesTable td { /* Behave  like a "row" */ border: none!important; border-bottom:1px solid #e0e0e0!important; position: relative; padding-left: 65%!important; min-height:15px; }
	.promo .chargesTable td { border: none!important; border-bottom:1px solid #fc6e41!important; position: relative; padding-left: 65%!important; min-height:15px; }
	
	.chargesTable td:before { 
		/* Now like a table header */ position: absolute;
		/* Top/left values mimic padding */ top: 8px; left: 8px;
		width: 50%;	margin-right:5%; padding-right: 10px; font-weight:bold; text-transform:uppercase; font-size:11px; border-right:1px solid #e0e0e0; }
	
	/* Label the data	*/
	.chargesTable td:nth-of-type(1):before { content: "Product Description"; }
	.chargesTable td:nth-of-type(2):before { content: "Hire Days"; }
	.chargesTable td:nth-of-type(3):before { content: "Per Day Price"; }
	.chargesTable td:nth-of-type(4):before { content: "Total"; }
	/* Promo version */
	.promo .chargesTable td:nth-of-type(1):before { content: "Product Description"; }
	.promo .chargesTable td:nth-of-type(2):before { content: "Free Days"; }
	.promo .chargesTable td:nth-of-type(3):before { content: "Hire Days"; }
	.promo .chargesTable td:nth-of-type(4):before { content: "Per Day Price"; }
	.promo .chargesTable td:nth-of-type(5):before { content: "Discounted Day Price"; }
	.promo .chargesTable td:nth-of-type(6):before { content: "Total"; }
	/* Total Row	*/
	table.chargesTable tr.total td { color:#000; font-weight:bold; }
	table.chargesTable tr.total td:nth-of-type(1):before { content:""; }
	table.chargesTable tr.total td:nth-of-type(2):before { content:""; }
	
	.ui-datepicker { width:94%!important; box-shadow: 0 0 5px 2px #000000; left:2%!important; }
	.ui-datepicker-multi-2 .ui-datepicker-group { width: 100% !important; }
	.ui-datepicker td span, .ui-datepicker td a { padding:10px 5px; }
	
}
