﻿/* Booking Control */

#bookingControl {
    background-color : #1E6DAE;      
}

#bookingControl #rightCol #bottomRight a {
    display : block;
    background : transparent url(../../images/m/btn/horizontal_submit.png) no-repeat  13px 0;
    text-indent : -100px;
    overflow : hidden;
    width: 91px;
    height : 24px;
    margin-top:25px;      
}

#ctrlValidationMsg {
    display:block;    
    font-size:9px;
    overflow:hidden;
    visibility:hidden;
    background:  transparent url(../../images/m/icons/yellowBlock.gif) no-repeat 4px 0px;
    padding-left: 18px;    
}

#bookingControl .TimeSpan input.required {
   background-color : #fdee00;
}

#bookingControl select.required {
   background-color : #fdee00;
} 

#bookingControl span.Company {
    display: none;
}

#ctrlValidationMsg.required {
    visibility : visible;
    color: #879200;
}

#bookingControl #ctrlSearchBox_dropPickUpTime, #bookingControl #ctrlSearchBox_dropDropOffTime {
    width:78px;
    float:right;
}

#bookingControl #ctrlSearchBox_calPickUp_DateText, #bookingControl #ctrlSearchBox_calDropOff_DateText {
    width:92px;
    float : left;
}

* html #centreCol {
    overflow :hidden;
    height : 83px;
}

#bookingControl span {
    color : #fff;
}