﻿/* Colours only - all layout styles in base.css */
	/*
	/* COLOUR SETTINGS 
		
		//maui
		Base Colour: 			#006271		-  eg Header bg
		Dark:					#003b44		-  eg Contact Btn Border 
		Medium:					#167583		-  eg Close Search Colour & top gradient 
		Light:					#2294a5		-  eg Filter botter bottom
		Darker:					#001d21					
*/
#header, #genericHeader, .headerContent .steps span, .headerContent .steps .visited span a:hover, .headerContent a.contactUs, #vehicleConfigureContainer #topHeader, #configureContainer #topHeader, #paymentContainer #topHeader, #vehicleConfigureContainer a.Quest, #configureUpdatePanel .Total, #paymentPanel #depositPanel 
	{ background: 		#006271; }
#header, table.ChargeTable tr.Totals td 
{ border-bottom-color:	#006271; }
.headerContent .steps .visited span a:hover, .PopUp, #paymentPanel #termsAndConditions big, #payTotalPanel span, table.ChargeTable tr.Totals td, #vehicleCatalogContainer .Confirmation h2, #confirmationPanel #ConfText p big, #confirmationPanel #onRequest p big, #paymentPanel big, #creditCardDetails h3, #paymentPanel #rentalSummary #travelDetails big, #paymentPanel big, #creditCardDetails h3, #configurePanel h4, #ferryPanel h4, #rentalSummary h3 
	{ color:			#006271; }
table.ChargeTable tr.Totals td 
	{ border-top-color:	#006271; }
.headerContent .steps span 
	{ color:			#003b44; }
.headerContent .steps .selected span 
	{ box-shadow: 0px -3px 2px 0px #003b44; }
.headerContent a.contactUs 
	{ border-color: 	#003b44; }
#vehicleConfigureContainer a.Quest:hover 
	{ background: 		#2294a5; }

/* Buttons */
.headerContent a.contactUs span,
#configureUpdatePanel .Submit input, 
#footerPanel input,
.Confirmation a.contactUsLink,
#printQuoteDiv a,
.quote #promptContainer input, #submitExpiredQuote a {
cursor:pointer;
border-color: #001d21;
background: #167583;
background: -moz-linear-gradient(top,  #167583 0%, #003b44 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#167583), color-stop(100%,#003b44));
background: -webkit-linear-gradient(top,  #167583 0%,#003b44 100%);
background: -o-linear-gradient(top,  #167583 0%,#003b44 100%);
background: -ms-linear-gradient(top,  #167583 0%,#003b44 100%);
background: linear-gradient(to bottom,  #167583 0%,#003b44 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#167583', endColorstr='#003b44',GradientType=0 );	
}
.headerContent a.contactUs:hover span,
#configureUpdatePanel .Submit input:hover, 
#footerPanel input:hover,
.Confirmation a.contactUsLink:hover,
#printQuoteDiv a:hover,
.quote #promptContainer input:hover, #submitExpiredQuote a:hover { background: #003b44; }

@media only screen and ( max-width: 767px ) {
	vehicleConfigureContainer #topHeader h3 { border-color: #003b44; }
}
@media only screen and ( max-width: 481px ) {	
	#configureUpdatePanel .TaxMsg { background:#006271; color:#2294a5; }
	#configureUpdatePanel .Submit { background:#006271; }
}