﻿/* Colours */

	/*
	/* BASE COLOUR SETTINGS 
		
		//alpha
		Base Colour: 			#0658A2		-  eg Header bg
		Dark:					#083d75		-  eg Contact Btn Border 
		Medium:					#2886d1		-  eg Close Search Colour & top gradient 
		Light:					#5ea8e1		-  eg Filter botter bottom
		Darker:					#062d57		-  eg Contact Btn Border 
		
*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, select, textarea, p, blockquote { font-family:Arial, Helvetica, sans-serif; }
body {
	background:#F3F3F3;
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	font-size:14px;
	line-height:22px;
	
}
img { border:0px; }
ul, li { list-style: none; margin: 0; padding: 0; font-family:Arial, Helvetica, sans-serif; }

#header { float:left; height: 53px; width: 100%; z-index: 0; background-color: #0658A2; border-bottom: 1px solid #0658A2; }

#vehicleConfigureContainer { margin: -1px auto 0; width: 980px; clear: both; position:relative; }

.headerContent { margin: 0 auto; width: 100%; height: auto; position:relative; }
#genericHeader { width: 980px; font-size: 16px; background: #0658A2; margin:0 auto; }

.headerContent img { float:left; }

 /* tabs */                       
.headerContent .steps { float:left; margin-left:20px; }
.headerContent li { float:left; }                
.headerContent .steps span { line-height: 65px; display: block; height: 34px; padding:0 35px; text-align: center; background-color: #0658A2; color:#083d75; }

.headerContent .steps .visited {position:relative;}	
.headerContent .steps .visited span a { display:block; font-weight: bold; position:relative; margin-top:12px; height:41px; line-height:38px; color:#FFF; text-decoration:none; }
.headerContent .steps .visited span a:hover { background:#083d75; color:#0658A2; border-top-right-radius:5px; border-top-left-radius:5px; }

.headerContent .steps .selected {position:relative;}	
                 
.headerContent .steps .selected span { background:#f3f3f3; font-weight: bold; position:relative; margin-top:10px; height:45px; line-height:44px; border-top-right-radius:5px; border-top-left-radius:5px;	 
color:#000; box-shadow: 0px -3px 2px 0px #083d75; }
	
/* tabs with before/after round our borders */
.headerContent .steps .selected:before,
.headerContent .steps .selected:after 	{ position: absolute; bottom: -1px; width: 6px; height: 6px; content: " "; }
.headerContent .steps .selected:before	{ left: -6px; border-bottom-right-radius: 6px; border-width: 0 1px 1px 0; box-shadow: 2px 2px 0 #f3f3f3; z-index:100; border-right: 1px solid #f3f3f3; }
.headerContent .steps .selected:after 	{ right: -6px; border-bottom-left-radius: 6px; border-width: 0 0 1px 1px; box-shadow: -2px 2px 0 #f3f3f3; z-index:100; border-left: 1px solid #f3f3f3; }
.headerContent .steps .selected:after, .headerContent .steps .selected:before { border-bottom: 1px solid #f3f3f3; }    
  
.headerContent .steps .visited span { color: #fff; font-weight: bold; }
/* /END tabs */  

/* Contact btn */              
.headerContent a.contactUs {
    display: block; float: right; margin: 12px 10px 0 0; background:#0658A2; border:1px solid #083d75; width: auto; height: auto; padding:0px; overflow: hidden; }
.headerContent a.contactUs.contactUsMobile {display:none;}

.headerContent a.contactUs span {
	float:left; display:block; border-top:1px solid #5ea8e1; height:17px; width:auto; padding:5px 10px 5px 15px; text-align:center; color:#FFF; text-shadow: 0px -1px 0px #000; text-decoration:none; font-size:14px;  
	line-height:12px;
	background: #2886d1; /* Old browsers */
		background: -moz-linear-gradient(top, #2886d1 0%, #083d75 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2886d1), color-stop(100%,#083d75)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #2886d1 0%,#083d75 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #2886d1 0%,#083d75 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #2886d1 0%,#083d75 100%); /* IE10+ */
		background: linear-gradient(to bottom, #2886d1 0%,#083d75 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2886d1', endColorstr='#083d75',GradientType=0 ); /* IE6-9 */
	}
.headerContent a.contactUs:hover span { background:#083d75;	text-shadow: none; }

/**********************************************************************************/
/**********************************************************************************/
/********************************************************************************** Main Content */
/**********************************************************************************/
/**********************************************************************************/

#configureContainer,
#paymentContainer { clear: both; margin: 0 auto; position: relative; width: 980px; }

#vehicleCatalogContainer { float:left; width:100%; margin:0; padding:0; }
#vehicleCatalogContainer h2 { float: left; height:57px; line-height: 57px; font-weight: lighter; font-size: 1.8em; color: #353535; }

#vehicleConfigureContainer #configurePanel, #vehicleCatalogContainer #paymentPanel, #vehicleCatalogContainer #configureUpdatePanel {
    background: #FFF;
	border-left:1px solid #d5d5d5;
	border-right:1px solid #d5d5d5;
	border-bottom:1px solid #d5d5d5;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	box-shadow: 0px 4px 3px 0px #666;
	float: left; padding: 0; width: 100%;	
	}
#vehicleCatalogContainer #paymentPanel {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

#vehicleConfigureContainer #topHeader,
#configureContainer #topHeader {height: auto; background-color: #0658A2; border-top-left-radius: 5px; border-top-right-radius: 5px; width: 100%!important; float: left; }
#vehicleConfigureContainer #promptTextArea, #quoteDisclaimer { 
float: left; width: 100%; height: 56px; background: url(images/icons/exMark.png) no-repeat 0px 0px; overflow: hidden; margin: 0px 0 15px; font-size: 11px; color: #4a4a4a;
}
#vehicleConfigureContainer #promptTextArea span { margin: 10px 20px 0 50px; display :block; }

#vehicleConfigureContainer #topHeader h3,
#configureContainer #topHeader h3 { float:left; font-size:16px; color:#FFF; margin:0 0 0 2%; line-height:36px; background:url(images/c/icons/titlearrow.png) 30px 0 no-repeat!important; }
#vehicleConfigureContainer #topHeader h3 a,
#configureContainer #topHeader h3 a { color:#FFF; text-decoration:none; }
.CurrencyPanel{ float: right; margin-right: 2%; padding: 8px 0; text-align:right; color:#FFF; }
.CurrencyPanel small { font-size:14px!important; color:#FFF; }
.CurrencyPanel select { font-size:14px!important; }

#paymentPanel.Confirmation {
	 width:980px; margin:0 auto; float:none;
}

/********************************/
/* Travel Details */
/********************************/
#vehicleConfigureContainer #vehicleTopPanel, #creditCardDetails, #personalDetails,
#configureContainer #rentalSummary { float: left; width: 96%; padding:30px 2%; background:#FFF; }

#vehicleConfigureContainer #configurePanel div.VehicleHeader { width: 50%; float: left; }
#vehicleConfigureContainer #configurePanel div.VehicleHeader span { float:left; width:100%; }
#vehicleConfigureContainer #configurePanel div.VehicleHeader div { float : left; clear: both; width: 100%; padding-bottom: 15px; }
#vehicleConfigureContainer #configurePanel div.VehicleHeader a { color:#0658A2; font-weight:bold; text-decoration: none; }
#vehicleConfigureContainer #configurePanel div.VehicleHeader a:hover { text-decoration: underline; }
#vehicleConfigureContainer #configurePanel div.VehicleHeader h3 { font-size: 20px; margin-left:0px; }
#vehicleConfigureContainer #configurePanel div.VehicleImages { width: 50%; float : right; }
#vehicleConfigureContainer #configurePanel div.VehicleImages .Left { float : left; width: 50%; }

#vehicleConfigureContainer #configurePanel div.VehicleImages .Left img { float: right; width:100%; max-width:205px; clear: both; }
#vehicleConfigureContainer #configurePanel div.VehicleImages .Right { float: right; margin-right:0px; }
#vehicleConfigureContainer #configurePanel div.VehicleImages .Right img {float: right; width:100%; max-width:150px; clear: both;}

#vehicleChargeDetails #ChargeHeader span.Title { width: 50%; display:block; float: left; padding:15px 0; }
#vehicleChargeDetails #ChargeHeader small { font-size : 16px; float: left; }
#vehicleChargeDetails #ChargeHeader span.Total { display:block; padding:15px 0; float: right; font-size: 16px; font-weight:bold; }
#vehicleChargeDetails .sectionContent div.PriceDetailsList { float: left; color: #4a4a4a; margin : 0; clear : both;  width : 100%; }
#vehicleChargeDetails .sectionContent.Collapse  div.PriceDetailsList {
display:none;
	
}
#configurePanel div.PriceDetailsList table { width: 100% !important; border-spacing:0; margin: 0; background:#FFF; font-size : 14px; 
border-top:1px solid #b6b6b6; border-bottom:1px solid #b6b6b6;	border-right:1px solid #b6b6b6; }
#vehicleChargeDetails thead { margin:0; padding:0; border:0; border-spacing:0; }
#vehicleChargeDetails div.PriceDetailsList th { font-weight: bold; padding:8px; background: #E9E9E9; color: #4a4a4a;	border-left:1px solid #b6b6b6; text-align:left; }
#vehicleCatalog div.PriceDetailsList td, #vehicleChargeDetails div.PriceDetailsList td { border-left:1px solid #b6b6b6; border-top:1px solid #b6b6b6; padding : 8px; }
#vehicleCatalog div.PriceDetailsList tr.total td, #vehicleChargeDetails div.PriceDetailsList tr.total td { background: #E9E9E9;  font-weight : bold; } 
#vehicleChargeDetails div.PriceDetailsList th.RateTH { background: #E9E9E9; }
div.NoFreeDays th.FreeTH, div.NoFreeDays td.fd { display: none; }
div.PriceDetailsList .popup { color: #0658A2; cursor: pointer; }




/********************************/
/* Vehicle Charges */
/********************************/
#vehicleChargeDetails { float: left; width: 96%; padding:30px 2%; background:#F3F3F3; }

#allInclusivePanel{ width : 100%; margin: 0; float : left; clear: both; }
#allInclusivePanel table { margin-top:25px; width: 100%; }
#allInclusivePanel small, #insurancePanel td, #hireItemsPanel td { font-size:14px; padding:4px 8px; float:left; }
.max{ margin-left:10px; }
#allInclusivePanel td.cb, #insurancePanel td.cb, #hireItemsPanel td.cb, #ferryPanel td.cb { width:50px; text-align:center; }
#allInclusivePanel td.desc small { display:block; float:left; margin-right:5px; }
#allInclusivePanel td.desc a.Quest { margin-top:12px; }

/********************************/
/* Accident Liability & Security Deposit */
/********************************/
#insurancePanel { float: left; width: 96%; padding:30px 2%; background:#FFF; }

#insurancePanel .AgeSelector input { margin: 0 5px 0 20px; position:relative; top:2px; }
#insurancePanel .Show { display: block; }
#insurancePanel table, #hireItemsPanel table, #ferryPanel table { margin: 15px 0; clear: both; float:left; width:100%; }
#insOptionsTable tr td ul li { padding:5px 0; }
#insurancePanel table small, #hireItemsPanel small, #hireItemsPanel label{ display:block; margin-bottom:4px; font-size:14px; }
#insurancePanel .AgeSelector{ display: block; float: left; margin:15px 0 5px 0; width:96%; background:#E9E9E9; padding:6px 2%; font-weight:bold; }
#insurancePanel .sectionContent span { float:left; }

#insOptionsTable.Under21 tr.Over21 { display : none !important; }
#insOptionsTable.Over21 tr.Under21 { display : none !important; }
#insOptionsTable.Under21 tr.Under21 .desc small { }

/********************************/
/* Additional Products & Services */
/********************************/
#hireItemsPanel { float: left; width: 96%; padding:30px 2%; background:#F3F3F3; }
#hireItemsPanel table tr { width:100%; }
#hireItemsPanel table td { float:left; padding:8px 0; }
#hireItemsPanel table td.cb 			{ width:10%}
#hireItemsPanel table td.desc			{ width:50%; }
#hireItemsPanel table td.days 			{ width:10%; }
#hireItemsPanel table td.price 			{ width:15%; }
#hireItemsPanel table td.total 			{ width:15%; text-align:right; }
#hireItemsPanel table td:last-child 	{ /*display:none; width:0!important;*/ float: right; margin-right:0; }


#hireItemsPanel table tr, #ferryPanel table tr { padding:5px 0; float:left; }
#hireItemsPanel table td.cb input { margin-top:5px; }
#hireItemsPanel table td.price .rate, #hireItemsPanel table td.price .max { float:left; width:100%; margin:0; padding:0; }
#hireItemsPanel table td.price .max { font-style:italic; font-size:12px; font-weight:bold; }

/********************************/
/* Ferry */
/********************************/
#ferryPanel { float: left; width: 96%; padding:30px 2%; background:#FFF; }



/********************************/
/* Travel Details - Payment Page */
/********************************/
#vehicleDetails { padding:0 0 25px 0; }
#configureContainer #travelDetails { width: 75%; float: left; }
#paymentPanel table.TravelTable { float:left; width:100%!important; margin:0!important; padding:0; font-size:14px; }
#paymentPanel table.TravelTable td.lbl { font-weight:bold; }
#paymentPanel table.TravelTable td.date, table.TravelTable td.loc  { padding-left:5px; }
#configureContainer #vehicleSpecs { float:right; width:25%; }
#configureContainer #vehicleSpecs { width:auto; max-width:100%; }

#paymentPanel div { float: left; width: 100%; }
#paymentPanel #rentalSummary big.ChargeSum,
#creditCardDetails h3 { padding-top:25px; border-bottom:1px solid #D9D9D9; text-transform:none; font-weight:normal; }

table.ChargeTable { float:left; width:100%!important; margin:20px 0 0 0 !important; padding:0; font-size:14px; }
#paymentPanel table.ChargeTable small { font-size:14px; }

table.ChargeTable tr { float:left; width:100%; }
table.ChargeTable tr td { padding:10px 0; margin:0; }
table.ChargeTable td.title 	{ width:45%; float:left; }
table.ChargeTable td.desc 	{ width:35%; float:left; }
table.ChargeTable td.cur 	{ width:10%; float:left; }
table.ChargeTable td.price 	{ width:10%; float:left; text-align:right; }

table.ChargeTable tr.Totals { color:#0658A2; font-weight:bold; border-top:1px solid #D9D9D9; border-bottom:2px solid #0658A2; float:left; width:100%; margin-bottom:20px; }
table.ChargeTable tr.Totals td {  }
#paymentPanel table.ChargeTable tr.Totals td small { font-size:16px; }
#paymentPanel table.ChargeTable tr.Totals td small .payPeriod { display:inline; margin-left:10px; font-weight:normal; }

#paymentPanel #rentalSummary div.Disclaimer { font-style:italic; }

#paymentPanel #creditCardDetails, #paymentPanel #personalDetails { float:left; width:96%; }
#paymentPanel #creditCardDetails big { padding:20px 0 10px;}

#creditFormContainer { float:left; width:100%; position:relative; }
#creditFormContainer #sealPanel { position:absolute; top:0; right:0; background: url("../../images/icons/dps_mighty.gif") no-repeat scroll 0 16px rgba(0, 0, 0, 0); height: 100px; width: 140px; }

#creditFormPanel ul, #creditFormPanel li,
#personalDetails ul, #personalDetails li { float:left; width:100%; padding:10px 0; }

#paymentPanel #creditCardDetails #creditFormPanel label, #paymentPanel #personalDetails label { float:left; width:20%; }
#paymentPanel #cardTypeDD { width:41.3%; padding:5px; }
#paymentPanel #cardNumberTxt,
#paymentPanel #cardHolderName { width:40%; padding:5px; }
#cardExpiryMonthTxt { width:10%; padding:5px; }
#cardExpiryYearTxt { width:15%; padding:5px;  }
#cardExpirySpan span { width:2%; text-align:center; }
#cardVerify { width:22%; padding:5px; }

#personalDetails { padding-top:0; }

#customerTitleDD { width:10%; padding:5px; } 
#confirmEmailAddressTxt, #customerFirstName, #customerLastName, #emailAddressTxt { width:40%; padding:5px; }
#paymentPanel #personalDetails .number { display: block; float: left; }
#paymentPanel #personalDetails .number:last-child { margin-right:0; }
#paymentPanel #personalDetails #telephoneTxt1, 
#paymentPanel #personalDetails #telephoneTxt2 { width:50%; padding:5px; }
#paymentPanel #personalDetails #telephoneTxt3 { width:158%; padding:5px; }
#paymentPanel #personalDetails .number small { font-size: 11px; }
#rentalsDetailsForm span, textarea { float:left; margin-top:10px; width:100%; }

#paymentPanel #termsAndConditions {  background: #F3F3F3; float: left; padding: 30px 2%; width: 96%; }
#paymentPanel #termsAndConditions big { color: #0658A2; float: left; width:100%; font-size: 20px; margin-bottom: 15px; padding-bottom: 10px; border-bottom:1px solid #D9D9D9; }
#paymentPanel #termsAndConditions input { float:left; margin:5px 30px 30px; }
#paymentPanel #termsAndConditions span { float:left; width: 80%; }

#paymentPanel #payTotalPanel { float:left; width:96%; padding:20px 2%; }
#payTotalPanel span { float:right; color:#0658A2; font-size:14px; font-weight:bold; margin-right: 10px; }
#payTotalPanel input { float:right; margin-top:5px; }

#paymentPanel #depositPanel { float:left; width:96%; padding:20px 2%; background:#0658A2; color:#FFF; }
#paymentPanel #depositPanel .left { float:left; width:50%; }
#paymentPanel #depositPanel .left big { float:left; font-size:28px; color:#FFF; font-weight:normal; }
#paymentPanel #depositPanel .left small { float:left;  margin:10px 0 0; font-size:14px; }
#paymentPanel #depositPanel .right { float:right; width:50%; text-align:right; }
#paymentPanel #depositPanel .right big { float:right; font-size:28px; color:#FFF; font-weight:normal; }
#paymentPanel #depositPanel .right small { float:right; font-size:14px; margin:10px 0 0; }

#paymentPanel #footerPanel { float:left; width:96%; padding:10px 2%; }
#paymentPanel #footerPanel span { float:left; width:100%; padding:0 0 10px; }

#paymentPanel .Submitting .Buttons { background : url(../../images/tiles/ajax-loader.gif) no-repeat  50% 7px; }

/********************************/
/* All */
/********************************/
.sectionHeader { float:left; width:100%; padding:0; margin:0; border-bottom:1px solid #d9d9d9; position:relative; }
.sectionHeader .openclose { position:absolute; right:0; bottom:0; height:33px; line-height:33px; padding:0 3px; display:none; }
.sectionHeader .openclose i { margin-top:9px; }
.sectionContent { float:left; width:100%; margin:0; padding:0; }
.mobHidden {  display:none; }
#paymentPanel #rentalSummary #travelDetails big, #paymentPanel big, #creditCardDetails h3,
#configurePanel h4 { float:left; color: #0658A2; padding-bottom : 10px; font-size:20px; }
#paymentPanel big,
#creditCardDetails h3 { float: left; width: 100%; color: #0658A2; font-size:20px;} 
#vehicleConfigureContainer a.Quest {
    display: inline-block; width:16px; height:16px; text-decoration:none; font-weight:bold; font-size:10px; background:#0658A2; color:#FFF; margin:3px 0 0; padding:0; text-align:center; line-height:16px;
	-webkit-border-radius: 16px; border-radius: 16px; float:left;
}
#vehicleConfigureContainer a.Quest:hover { background:#5ea8e1; }

#vehicleChargeDetails .ShowPriceList { display : inline; float : left; color : #000; font-size: 12px; font-weight : normal; margin : 2px 0 0 10px; padding: 2px 8px; cursor : pointer; background:#d9d9d9; text-decoration:none; 
-webkit-border-radius: 16px; border-radius: 16px; line-height:12px; }
#vehicleChargeDetails .ShowPriceList:hover { background:#FFF; color:#000!important; }

#configurePanel .Total small, #configurePanel .total em { font-weight:bold; }
#configurePanel em { font-style:normal; }



/********************************/
/* Total Panel */
/********************************/
#configureUpdatePanel { float:left; width:100%; background:#FFF; }

#configureUpdatePanel .Total { width: 96%; line-height: 60px; color:#FFF; font-size:28px; font-weight:normal; padding: 0 2%; background:#0658A2; float:left; }
#configureUpdatePanel .Total label { float: left; }
#configureUpdatePanel .Total span.Price { float: right; clear: none; font-weight:normal; }
#configureUpdatePanel .Total span.Price small { font-weight:normal; font-size:28px; }
#configureUpdatePanel .TaxMsg { margin: 15px 0; font-size: 14px; width: 96%; float: left; padding:0 2%;	}

#configureUpdatePanel #alternateCurrency { font-size:18px; color:#FFF; line-height:10px; margin-bottom:20px; }

#configureUpdatePanel .Submit { float:left; padding:0 2%; display: block; width:96%; height:auto; margin:0 0 25px 0; }

#configureUpdatePanel .Submit .BackBtn,
#footerPanel a {
    float: left;
    display: block;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
	border-radius: 3px 3px 3px 3px;
	padding:5px 25px;
	color:#111111;
	text-decoration:none;
	border:1px solid #b4b4b4;
     background: #FFF; /* Old browsers */
		background: -moz-linear-gradient(top, #FFFFFF 0%, #CCCCCC 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#CCCCCC)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #FFFFFF 0%,#CCCCCC 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #FFFFFF 0%,#CCCCCC 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #FFFFFF 0%,#CCCCCC 100%); /* IE10+ */
		background: linear-gradient(to bottom, #FFFFFF 0%,#CCCCCC 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#CCCCCC',GradientType=0 ); /* IE6-9 */
}

#configureUpdatePanel .Submit .BackBtn:hover,
#footerPanel a:hover { background:#CCC; }


#configureUpdatePanel .Submit input,
#footerPanel input {
    float: right;
    display: block;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-radius: 3px 3px 3px 3px;
	padding:5px 25px;
	font-size:14px;
	min-height:34px;
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
	border:1px solid #062d57;
    background: #2886d1; /* Old browsers */
		background: -moz-linear-gradient(top, #2886d1 0%, #083d75 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2886d1), color-stop(100%,#083d75)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #2886d1 0%,#083d75 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #2886d1 0%,#083d75 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #2886d1 0%,#083d75 100%); /* IE10+ */
		background: linear-gradient(to bottom, #2886d1 0%,#083d75 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2886d1', endColorstr='#083d75',GradientType=0 ); /* IE6-9 */
}

#configureUpdatePanel .Submit input:hover,
#footerPanel input:hover { background:#083d75; }

#configureUpdatePanel #saveQuoteLnk {
    float: right;
    display: block;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
	border-radius: 3px 3px 3px 3px;
	padding:5px 25px;
	font-size:14px;
	text-indent:0;
	color:#111111;
	text-decoration:none;
	border:1px solid #b4b4b4;
	width:auto;
	height:auto;
    background: #FFF; /* Old browsers */
		background: -moz-linear-gradient(top, #FFFFFF 0%, #CCCCCC 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#CCCCCC)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #FFFFFF 0%,#CCCCCC 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #FFFFFF 0%,#CCCCCC 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #FFFFFF 0%,#CCCCCC 100%); /* IE10+ */
		background: linear-gradient(to bottom, #FFFFFF 0%,#CCCCCC 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#CCCCCC',GradientType=0 ); /* IE6-9 */
}
#configureUpdatePanel #saveQuoteLnk:hover { background:#CCC; }

/********************************/
/************** CONFIRMATION PAGE  ***/
/********************************/

#confirmationPanel #ConfText, #confirmationPanel #onRequest {
	width:75%!important;
}

div.Confirmation { font-size:14px!important; }

#vehicleCatalogContainer #paymentPanel #yourDetails,#vehicleCatalogContainer #paymentPanel.Confirmation #travelDetails, 
#vehicleCatalogContainer #paymentPanel #rentalSum, #vehicleCatalogContainer #paymentPanel #paymentDet,
#vehicleCatalogContainer #paymentPanel #contactUs, #vehicleCatalogContainer #paymentPanel #feedBack {
	width:96% !important;
	padding:30px 2%;
	margin-left:0px !important;
}

#yourDetails,
#rentalSum,
#contactUs { background:#F3F3F3; }

#vehicleCatalogContainer #paymentPanel #contactUs { margin-bottom:0; }
	
.Confirmation h2 
{ color: #0658A2 !important; float: left; font-size: 20px!important; padding-bottom: 10px;border-bottom: 1px solid #D9D9D9;  margin: 0 0 20px 0; 
height:auto!important; line-height:0px!important; padding: 0 0 20px 0; position: relative; width: 100%; font-weight:bold !important; }

#rentalSum table, #travelDetails table, #yourDetails table, #contactUs table { width:100% !important; margin:0; }
.Confirmation #travelDetails td.tc, #travelDetails td.tc, #paymentDet td.rt, #contactUs td.tc, #yourDetails td.tc { 
	width:30%; 
    font-weight:bold;
    padding: 8px;
}

#yourDetails table td,
#travelDetails table td { padding:8px; margin:0;  }	

#rentalSum table {
	
   
    border-bottom:1px solid #B6B6B6;
    border-spacing: 0;
    font-size: 14px;
    margin: 0;
    width: 100% !important;
	}

#rentalSum tr 			{ background: #FFFFFF; }
#rentalSum td 			{ border-spacing:0;  padding:8px; border-left: 1px solid #B6B6B6; border-top: 1px solid #B6B6B6; } 
#rentalSum td.rt 		{ font-weight:normal; width:auto; }
#rentalSum td.rp 		{ width:auto; }
#rentalSum tr td.cur	{ width:auto; }
#rentalSum tr td.price 	{ border-right: 1px solid #B6B6B6; border-left:0; }

#rentalSum tr.total { background:#E9E9E9;  }
#rentalSum tr.total td { padding:12px 8px; border:0; }
#rentalSum tr.total td.title { width:48%; font-weight:normal; border-left:1px solid #B6B6B6;  border-top:1px solid #B6B6B6; }
#rentalSum tr.total td.title small,
#rentalSum tr.total td.cur small,
#rentalSum tr.total td.price small { font-weight:bold; font-size:14px; color:#242424; }
#rentalSum tr.total td.desc,
#rentalSum tr.total td.cur,
#rentalSum tr.total td.price		{ border-top:1px solid #B6B6B6; color:#242424; }
#rentalSum tr.total td.cur 			{border-left:1px solid #B6B6B6;}
#rentalSum tr.total td.price 		{ border-right:1px solid #B6B6B6; }


#paymentDet table		{ float:left; width:100% !important; margin:0; border-collapse: separate; border-spacing:0; border-top:1px solid #B6B6B6; }
#paymentDet tr 			{ background: #FFFFFF; }
#paymentDet td 			{ border-spacing:0;  padding:8px; border-left: 1px solid #B6B6B6; border-bottom: 1px solid #B6B6B6; } 
#paymentDet td.rt 		{ width:auto; }
#paymentDet td.rp 		{ width:auto; }
#paymentDet tr td.cur	{ }
#paymentDet tr td.price { border-right: 1px solid #B6B6B6; border-left:0; }

#paymentDet tr.total { background:#E9E9E9;  }
#paymentDet tr.total td { padding:12px 8px; border:0; border-top:4px solid #B6B6B6; border-left:1px solid #B6B6B6; border-bottom:1px solid #B6B6B6;  font-weight:bold; font-size:14px; color:#242424; }
#paymentDet tr.total td.desc,
#paymentDet tr.total td.cur,
#paymentDet tr.total td.price		{  color:#242424; }
#paymentDet tr.total td.cur 		{ border-left:1px solid #B6B6B6;}
#paymentDet tr.total td.price 		{ border-right:1px solid #B6B6B6; border-left:0; }

#paymentDet table tr:last-child td { border:0; font-style:italic;  }

#contactUs div { margin:0; }

#contactUs table td { font-size:14px; }
.Confirmation a.contactUsLink { font-size:14px; }

#printLinkDiv a{
	 background: linear-gradient(to bottom, #FFFFFF 0%, #CCCCCC 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #B4B4B4;
    border-radius: 3px;
    color: #111111;
    display: block;
    float: left;
    padding: 5px 25px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
	text-indent:0;
	width:auto;
}


#printLinkDiv a:hover{
	background: none repeat scroll 0 0 #CCCCCC;
}
.Confirmation #sealPanel { height:30px; background-position:0 -57px; margin-top:30px; margin-bottom:15px; }

/********************************/
/************** FOOTER ***/
/********************************/
#footerWrap {
	float:left;
    width: 100%; 
    height: 58px; 
	background-color: #080808; 
    background-image: linear-gradient(to bottom, #303030, #080808);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#303030), to(#080808));
    background-image: -webkit-linear-gradient(top, #303030, #080808); 
    background-image:    -moz-linear-gradient(top, #303030, #080808);
    background-image:     -ms-linear-gradient(top, #303030, #080808);
    background-image:      -o-linear-gradient(top, #303030, #080808);
    background-repeat:repeat-x;
	
	border-top:1px solid #424242;
	border-bottom:1px solid #373737;
}
                

#footerWrap .body {
    margin: 0 auto;
    width: 980px;
}

#footerWrap .body a.thl-logo {
    float: left;
    display: block;
    width: 95px;
    height: 58px;
	border-right:1px solid #373737;
	background-color: #080808; 
    background-image: linear-gradient(to bottom, #303030, #080808);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#303030), to(#080808));
    background-image: -webkit-linear-gradient(top, #303030, #080808); 
    background-image:    -moz-linear-gradient(top, #303030, #080808);
    background-image:     -ms-linear-gradient(top, #303030, #080808);
    background-image:      -o-linear-gradient(top, #303030, #080808);
    background-repeat:repeat-x;
}    

#footerWrap .body a.thl-logo:hover {background:none;}            

#footerWrap .body a.thl-logo span.thl {
	background: transparent url('/images/c/icons/footer_logos.png') no-repeat; 
    background-position: -16px 0px;width: 95px;
    height: 58px;
}
                                
#footerWrap .body a.thllogos {
    float: left;
    display: block;
    width: 95px;
    height: 58px;
	border-right:1px solid #373737;
	background-color: #080808; 
    background-image: linear-gradient(to bottom, #303030, #080808);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#303030), to(#080808));
    background-image: -webkit-linear-gradient(top, #303030, #080808); 
    background-image:    -moz-linear-gradient(top, #303030, #080808);
    background-image:     -ms-linear-gradient(top, #303030, #080808);
    background-image:      -o-linear-gradient(top, #303030, #080808);
    background-repeat:repeat-x;
}
#footerWrap .body a:hover { background-color:#000; background-image:none; }
#footerWrap .body a.thllogos span {
	background: transparent url('/images/c/icons/footer_logos.png') no-repeat; 
	width: 95px;
    height: 58px;
} 


#footerWrap .body a.thllogos span.kea { background-position: -101px 0px; }
#footerWrap .body a.thllogos span.maui { background-position: -187px 0px; } 
#footerWrap .body a.thllogos span.britz { background-position: -270px 0px; } 
#footerWrap .body a.thllogos span.united { background-position: -360px 0px; } 
#footerWrap .body a.thllogos span.alpha { background-position: -445px 0px; } 
#footerWrap .body a.thllogos span.mighty { background-position: -530px 0px; } 
#footerWrap .body a.thllogos span.econo { background-position: -620px 0px; Display: none;} 
	 
                     
#footerWrap .body span, #footerWrap .body ul ,#footerWrap .body li { float: left; }
                
#footerWrap .body span.privacy { font-size: 12px; color: #959595; margin-left: 10px; margin-top:15px; }
#footerWrap .body span.privacy a { color:#FFF;	background-color:transparent; }
#footerWrap .body span.privacy a:hover { text-decoration:none; background-color:transparent; text-decoration:none; }


#footerContainer { float:left; display:block; width:100%; }
#footer { width:980px; margin:0 auto; }
#footer .top { float: left; width: 100%; margin: 0 0 20px 0; }
#footer #disclaimer { float: left; width: 65%; padding: 0 5% 0 0; margin: 20px 0 0 2%; font-size: 14px; color: #57585b; border-right: 1px solid #CCC; line-height: 22px; } 
#disclaimer span { width:auto; }
#footer #footerlogo { float: right; width: 26%; height: 53px; padding: 0; margin: 20px 0px 0 0px; text-align: center; } 
#footer #footerlogo img { border: 0px; }


/* ICONS */

[class^="icon-"], [class*=" icon-"] {
			background-image: url("/images/c/icons/glyphicons-halflings.png");
			background-position: 14px 14px;
			background-repeat: no-repeat;
			display: inline-block;
			height: 14px;
			line-height: 14px;
			margin-top: 1px;
			vertical-align: text-top;
			width: 14px;
			cursor:pointer;
		}

.icon-white {
    background-image: url("/images/c/icons/glyphicons-halflings-white.png");
}
		
		.icon-chevron-down 	{ background-position: -313px -119px;	}
		.icon-chevron-up 	{ background-position: -288px -120px;	}
		.icon-minus 		{ background-position: -433px -96px;	}
		.icon-plus	 		{ background-position: -408px -96px;	}
		.icon-search 		{ background-position: -48px 0;			}
		.icon-eye-close 	{ background-position: -120px -120px;	}
		.icon-eye-open 		{ background-position: -96px -120px;	}
		.icon-envelope 		{ background-position: -72px 0;			}
		.icon-align-justify { background-position: -336px -48px;	}
		
		.icon-calendar 		{ background-position: -192px -120px; float:left; margin-top:9px; margin-left:0px;}
		
		.ui-button-icon-only .ui-icon {
				background-image: url("/images/c/icons/glyphicons-halflings.png");
				background-position: -313px -119px;
				}


/*************************************************************************************** */			
/*************************************************************************************** */			
/*************************************************************************************** */
/**** responsive at the end ****/
/*************************************************************************************** */			
/*************************************************************************************** */			
/*************************************************************************************** */						

@media only screen and ( max-width: 980px ) {
	
	#vehicleConfigureContainer, #configureContainer, #paymentContainer { margin: 0; overflow: hidden; width: 100%; }
	#header { height:54px; }
	#genericHeader { width:100%; }
	#vehicleCatalogContainer h2 { padding-left:2%; }
	#vehicleConfigureContainer #configurePanel { box-shadow:0 0 0 0 #F3F3F3; border-color:#F3F3F3; border-radius:0; border-bottom: 1px solid #CCC; }
	#configureUpdatePanel { background:#FFF; }
	
	#footer { width:100%; }
	
	#footerWrap .body { width:96%; padding:0 2%; }
	#footerWrap .body li { display:none; }
	#footerWrap .body li:first-child { display:block; }
	#footerWrap .body a.thl-logo { border-right:none; }
	#footerWrap .body span.privacy { float:right; }
}

@media only screen and ( max-width: 767px ) {
	
	.headerContent a.contactUs { display:none; margin:12px 10px 0 0; }
	.headerContent a.contactUs.contactUsMobile  { display:block;  }
	.headerContent a.contactUs.contactUsMobile span { padding: 5px 10px; } 
	.headerContent .steps span { padding:0 14px; }
	
	#paymentPanel #topHeader .CurrencyPanel { float:left; width:100%; display:none; } 
	
	#vehicleConfigureContainer #topHeader h3 { width:96%; border-bottom:1px solid #083d75; }
	#vehicleConfigureContainer #configurePanel div.VehicleHeader,
	#vehicleConfigureContainer #configurePanel div.VehicleImages { width:100%; }
	#vehicleConfigureContainer #configurePanel div.VehicleImages .Left,
	#vehicleConfigureContainer #configurePanel div.VehicleImages .Right { width:50%; text-align:center; }
	#vehicleConfigureContainer #configurePanel div.VehicleImages .Left img,
	#vehicleConfigureContainer #configurePanel div.VehicleImages .Right img { float:none; }
	
	#configureContainer #travelDetails { width:100%; }
	#configureContainer #vehicleSpecs { float:left; width:100%; text-align:center; padding-top:10px; }	
	
	table.ChargeTable td.title 	{ width:40%; float:left; }
	table.ChargeTable td.desc 	{ width:35%; float:left; }
	table.ChargeTable td.cur 	{ width:10%; float:left; }
	table.ChargeTable td.price 	{ width:15%; float:left; text-align:right; }
		
	#allInclusivePanel table tr {  float:left; width:100%; padding:10px 0; }
	#allInclusivePanel table td.cb { width:10%; padding:8px 2%; vertical-align:top; float:left; }
	#allInclusivePanel table td.desc,
	#allInclusivePanel table td.days,
	#allInclusivePanel table td.pr,
	#allInclusivePanel table td.price,
	#allInclusivePanel table td.total { width:86%; display: block; padding:0; float:right; }
	
	#allInclusivePanel table td.desc { font-weight:bold; margin-bottom:5px; }	
	
	#paymentPanel .Submitting .Buttons { height:65px; background-position:50% 48px; }
	
	#confirmationPanel #ConfText, #confirmationPanel #onRequest { width:100% !important; }
	
	#printLinkDiv { float:left; width:90%; padding:0 5% 30px; }
	
}


@media only screen and ( max-width: 481px ) {
		
	.headerContent .steps { margin:0; }
	ul.steps li .tab label { display:none; }
	
	#paymentPanel #topHeader .CurrencyPanel { float:left; width:100%; display:none; } 
	#topHeader .CurrencyPanel small { float:left; width:43%; text-align:left; padding-left:2%; }
	#vehicleConfigureContainer #topHeader select { float:right; width:48%; margin-right:2%; }
	#configureUpdatePanel { background:none; position:fixed; bottom:0; left:0; width:100%; border-top:1px solid #FFF; border-left:0; border-right:0; border-bottom:0; }
	#configureUpdatePanel .Total { font-size:20px; line-height:20px; padding-top:5px; }
	#configureUpdatePanel #alternateCurrency { line-height:18px; font-size:14px; margin-bottom:20px; }
	#configureUpdatePanel .Total span.Price small { font-size:20px; line-height:auto; }
	#configureUpdatePanel .Submit { margin:0; }
	
	.sectionHeader { cursor:pointer; width:95%; padding:0 5% 5px 0; }
	#configurePanel h4 { width:90%; float:none; display:inline; }
	#configurePanel a.Quest, #vehicleChargeDetails a.PopUp { float:none; position:relative; top:-2px; }
	.sectionHeader .openclose { display:block; }
	
	#confirmationPanel #ConfText, #confirmationPanel #onRequest, #printLinkDiv { float:left; width:100% !important; }
	
	#vehicleChargeDetails #ChargeHeader small { width:100%; margin-bottom:5px; }
	#vehicleChargeDetails .ShowPriceList { margin-left:0; }
	
	#vehicleConfigureContainer #configurePanel div.VehicleImages .Left, #vehicleConfigureContainer #configurePanel div.VehicleImages .Right { width:100%; }
	#vehicleConfigureContainer #configurePanel div.VehicleImages .Left { margin-bottom:20px; }
	
	#configurePanel div.PriceDetailsList table { border:none; }
	
	#paymentPanel table.TravelTable td { width:100%!important; display: block; padding-left:0; margin-top:0; }
	#paymentPanel table.TravelTable td.date, table.TravelTable td.loc { padding-left:0; }
	#paymentPanel #cardTypeDD { width:98%; }
	#paymentPanel #cardNumberTxt, #paymentPanel #cardHolderName { width:95%; }
	#cardExpirySpan span { width:5%; }
	#cardExpiryMonthTxt, #cardExpiryYearTxt { width:25%; }
	#cardVerify { width:52%; }
	#customerTitleDD { width:25%; }
	#confirmEmailAddressTxt, #customerFirstName, #customerLastName, #emailAddressTxt { width:96%; }
	#paymentPanel #personalDetails #telephoneTxt3 { width:138%; }
	 
	table.ChargeTable tr td { padding:2px 0; }
	table.ChargeTable td { display:block; width:100%!important; }
	table.ChargeTable td.cur,
	table.ChargeTable td.price { width:50%!important; padding:5px 0 10px;  }
	table.ChargeTable tr.Totals { padding-top:10px; margin-bottom:10px; }

	#paymentPanel #creditCardDetails #creditFormPanel label, #paymentPanel #personalDetails label { width:100%; }
	
	#paymentPanel #creditCardDetails #sealPanel { position:relative; top:auto; right:auto; float:left; width:100%; text-align:center; }

	#insurancePanel .AgeSelector { margin:15px 0 5px 0; width:96%; }
	
	#configureUpdatePanel .TaxMsg { background:#0658A2; color:#5ea8e1; margin:0; padding-bottom:0px; text-align:left; }
	#configureUpdatePanel .Submit .BackBtn { width:auto; padding:5px 8px; text-align:center; font-size:12px; }
	#configureUpdatePanel #saveQuoteLnk { float:left; margin:0 0 0 2%; width:auto; padding:5px 8px; text-align:center; }
	#configureUpdatePanel .Submit { background:#0658A2; padding-bottom:10px; position:relative; }
	#configureUpdatePanel .Submit input { float:right; width:auto; padding:5px 12px; margin:0; }
	
	#paymentPanel #depositPanel .left { width:50%; }
	#paymentPanel #depositPanel .right { width:50%; }
	#depositPanel .left big, #depositPanel .left small { width:100%!important; }
	#paymentPanel #depositPanel .left big { font-size:14px; }
	#paymentPanel #depositPanel .right big { font-size:20px; }
	#paymentPanel #termsAndConditions span { width:70%; }
	#rentalsDetailsForm span, textarea { width:99%; }
		
	#paymentPanel #personalDetails .number { width:35%; }
		#paymentPanel #personalDetails #telephoneTxt1, #paymentPanel #personalDetails #telephoneTxt2 { width:80%; }
		#paymentPanel #personalDetails #telephoneTxt3 { width:273%; }
		
	#footer { background:#111111; float:left; }
	#footer #disclaimer { border-bottom: 1px solid #333; border-right: medium none; margin: 10px 0 10px; padding: 0 2% 15px; width: 96%; color:#CCCCCC; font-size:12px; line-height:16px; }
	#footer #footerlogo { margin: 10px 0; width: 100%; }

	#footerWrap { margin-bottom:118px; }
	
	#footer { width:100%; } 
	
	/* TABLE STYLING */
	/* Force table to not be like tables anymore */
	.chargesTable table, .chargesTable thead, .chargesTable tbody, .chargesTable th, .chargesTable td, .chargesTable tr { display: block; width:100% }
	
	/* Hide table headers (but not display: none; for accessibility) */
	.chargesTable thead tr { position: absolute; top: -9999px; left: -9999px; }
	
	.chargesTable tr {  border-bottom: 1px solid #f3f3f3; }
	
	.chargesTable td 
	{ /* Behave  like a "row" */ 
	border-left:1px solid #b6b6b6; border-right:1px solid #b6b6b6; ; border-bottom:1px solid #b6b6b6; border-bottom:none; 
	position: relative; padding-left: 65%!important; min-height:15px; 
	}
	.chargesTable td:last-child { border-bottom:1px solid #b6b6b6; }
	
	.chargesTable td:before { 
		/* Now like a table header */ position: absolute;
		/* Top/left values mimic padding */ top: 8px; left: 8px;
		width: 50%;	margin-right:5%; padding-right: 10px; font-weight:bold; text-transform:uppercase; font-size:11px; border-right:1px solid #e0e0e0; }
	
	/* Label the data	*/
	.chargesTable td:nth-of-type(1):before { content: "Product Description"; }
	.chargesTable td:nth-of-type(2):before { content: "Free Days"; }
	.chargesTable td:nth-of-type(3):before { content: "Hire Days"; }
	.chargesTable td:nth-of-type(4):before { content: "Per Day Price"; }
	.chargesTable td:nth-of-type(5):before { content: "Total"; }
	
	#insOptionsTable tr {  float:left; width:100%; padding:10px 0; border-bottom:1px solid #b6b6b6; }
	#insOptionsTable td.cb { width:10%; padding:8px 2%; vertical-align:top; float:left; }
	#insOptionsTable td.desc,
	#insOptionsTable td.days,
	#insOptionsTable td.price,
	#insOptionsTable td.total { width:86%; display: block; padding:0; float:right; }
	
	#insOptionsTable td.desc { font-weight:bold; margin-bottom:5px; }
	#insOptionsTable td.total {  margin-top:5px; background:#E9E9E9; padding-left:2%; width:84%; line-height:32px; text-align:left; }
	
	#hireItemsPanel table tr {  float:left; width:100%; padding:15px 0; border-bottom:1px solid #b6b6b6; }
	#hireItemsPanel table td.cb { width:10%; padding:8px 2%; vertical-align:top; float:left; }
	#hireItemsPanel table td.desc,
	#hireItemsPanel table td.days,
	#hireItemsPanel table td.price,
	#hireItemsPanel table td.total { width:86%; display: block; padding:0; float:right; }
	
	#hireItemsPanel table td.desc { font-weight:bold; margin-bottom:5px; }
	#hireItemsPanel table td.total {  margin-top:5px; background:#E9E9E9; padding-left:2%; width:84%; line-height:32px; text-align:left; }
	
	#allInclusivePanel table tr {  float:left; width:100%; padding:10px 0; }
	#allInclusivePanel table td.cb { width:10%; padding:8px 2%; vertical-align:top; float:left; }
	#allInclusivePanel table td.desc,
	#allInclusivePanel table td.days,
	#allInclusivePanel table td.pr,
	#allInclusivePanel table td.price,
	#allInclusivePanel table td.total { width:86%; display: block; padding:0; float:right; }
	
	#allInclusivePanel table td.desc { font-weight:bold; margin-bottom:5px; }

	#rentalSum .chargesTable { border:1px solid #B6B6B6; }
	#rentalSum .chargesTable tr  { float:left;  }
	#rentalSum .chargesTable td 
	{ /* Behave  like a "row" */ 
	border-left:0; border-right:0; border-bottom:0; border-bottom:none; 
	position: relative; padding-left: 5%!important; min-height:15px; 
	}
	#rentalSum .chargesTable td:last-child { border-bottom:1px solid #b6b6b6; }
	
	#rentalSum .chargesTable td:before { 
		/* Now like a table header */ position: absolute;
		/* Top/left values mimic padding */ top: 8px; left: 8px;
		width: 100%;	margin: 0 5%; padding-right: 10px; font-weight:bold; text-transform:uppercase; font-size:11px; border-right:1px solid #e0e0e0; }
	
	#rentalSum .chargesTable td:nth-of-type(1):before { content: ""; }
	#rentalSum .chargesTable td:nth-of-type(2):before { content: ""; }
	#rentalSum .chargesTable td:nth-of-type(3):before { content: ""; }
	#rentalSum .chargesTable td:nth-of-type(4):before { content: ""; }
	#rentalSum .chargesTable td:nth-of-type(5):before { content: ""; }
	
	#rentalSum .chargesTable td.cur,
	#rentalSum .chargesTable td.price { float:left; width:40%; padding:8px 5% !important; border:0; border-bottom:4px solid #B6B6B6; border-top:1px solid #B6B6B6; }
	
	#rentalSum td { border-top:0; }
	#rentalSum td.tr { padding-top:12px; }
	
	#rentalSum tr.total { width:100%; border:0; }
	#rentalSum tr.total td { border:0; }
	#rentalSum tr.total td.title,
	#rentalSum tr.total td.desc { width:95%; padding:12px 0; border:0; border-bottom:1px solid #B6B6B6;  }
	
	#rentalSum .chargesTable tr.total td.cur,
	#rentalSum .chargesTable tr.total td.price { float:left; width:40%; padding:8px 5% !important; border:0; border-bottom:4px solid #B6B6B6; border-top:0; }
	
}






















































/************************************************************************************************************************************************* OLD **/
 



#catalogHeader {
    float : left;
    width: 800px;
	margin-left:12px;
	background:#fffFFF url(../../images/a/header.jpg) no-repeat right center;
	height:106px;
	position:relative;
}

#catalogHeader span.Image {
    float: left;
    width: 216px;
    height : 94px;
    margin:0px;
	border:none!important;!
}
#catalogHeader span.Image a {
	border:none!important;
	text-decoration:none!important;
}

#catalogHeader span.ContactInfo {
    margin: 0;
    float: left;
    display : block;
    width : 550px!important;
    color:#FFFFFF;
    font-size:11px;
    text-decoration: none;   
	position:absolute;
	top:8px;
	right:0px;  
	text-align:right;   
}

#catalogHeader span.ContactInfo a {
    text-decoration: none;
}

#catalogHeader span a {
    color:#fff;
    text-decoration: underline !important;
}

/* Booking Control */
#bookingControlContainer {
	/*background-color:#fff;
    float: left;
    width: 800px;
    margin-left:12px;
    height : 210px;    */
	background: url("../../images/a/booking-bg.png");
    float: left;
    height: 233px;
    width: 800px;
    margin-left:12px;
}

/* crumbs panel */
#breadCrumbs {
    float: left;
    height: 45px;
    padding-bottom: 30px;
    margin-left: 12px;
    padding-left: 12px;
    width:788px;
	background:#FFF;
}

#breadCrumbs span.Crumbs {
    float : left;
    font-size : 11px;
    margin: 14px 0 0 0px;
}
#breadCrumbs span.Crumbs a {
    color: #0658A2;
    text-decoration: none; 
}
#breadCrumbs span.Crumbs a:hover {
    text-decoration: underline; 
}

#breadCrumbs ul {
    background: url("../../images/a/sprites.png") no-repeat scroll 0 -725px transparent;
display: block;
float: left;
font-size: 9px;
height: 35px;
margin-left: -12px;
width: 800px;
margin-top:14px;
} 

#vehicleConfigureContainer #breadCrumbs ul {
background-position: 0 -760px;
}

#stepsDisplayer li {
    padding :0;
    margin : 0;
    float : right; 
    height : 32px;
    width : 63px;  
	font-weight:bold;   
	color:#7a8f00;  
}

#stepsDisplayer span {
    display: none;
    float : right;
    height : 31px;
    width : 67px;
    /*background:transparent url(../../images/a/icons/wizard_stages.gif) no-repeat  0 0;*/
    padding-top: 20px;     
}

#stepsDisplayer #PaymentStep {
    background-position : -256px 0;  
    color:#4d512d;  
}

#stepsDisplayer #ConfigureStep {
    background-position : -134px 0;
    color:#4d512d;
}

#stepsDisplayer #SelectStep {
    background-position:-12px 0;  
	color:#000000;
}

/* Catalog container */




#vehicleCatalogContainer .VehicleItem div.Limited .Top a {
	color:#0658A2!important; /* REMOVE FROM BASE.CSS */
}

#vehicleCatalogContainer .VehicleItem div.Limited .Top a:hover {
	color:#0658A2; 
	text-decoration:underline;
}

#vehicleCatalogContainer .VehicleItem div.Limited .EmailLink a {
	color:#7A8F00;
	display: block;
	background:transparent url(../../images/a/btn/btn_matrix.png) no-repeat  0 -560px;
    text-indent: -1000px;
    overflow: hidden;
	height: 31px;
    width: 125px;
	margin-left: 13px;
}

#vehicleCatalogContainer .VehicleItem div.Limited .EmailLink a:hover {
	color:#7A8F00 !important; /* REMOVE FROM BASE.CSS */
	text-decoration:underline;
}

#vehicleCatalogContainer .VehicleItem div.Limited .Top a.Quest { /* REMOVE FROM BASE.CSS */
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background : #fff url(../../images/a/icons/questMark.gif) no-repeat  0 0 !important;
	height:15px;
	margin-left:2px;
	overflow:hidden;
	text-indent:-1000px;
	width:15px;
}

#resultsHeader {
    width: 800px;
    height:30px;
    font-size : 12px;
    color : #4a4a4a;
	margin-bottom:10px;
}

#resultsHeader h3 {
    font-size : 11px;
    color : #4a4a4a;
    font-weight : normal;
    float : left;
    width : 380px;
    margin : 8px;
}

#resultsHeader span {
    float : right;
    display : block;
    text-align: right; 
    margin:4px;   
}

#vehicleCatalog {
    display : block;
    width : 800px;
}

/* Vehicle Row */
#vehicleCatalog .VehicleItem {
    width : 760px;    
    float : left;
    border-top: 1px solid #0658A2;  
}

#vehicleCatalog div.VehicleItem {
    float : left;  
    width : 800px;
    /*background: url("../../images/a/content-background.jpg") repeat-x;*/
}

#vehicleCatalog .VehicleItem a.VehicleThumb {
    display : block;
    float : left;
    text-decoration : none;
    margin-left: 3px;
    border: 0;   
	width: 75px;                 
}

#vehicleCatalog .VehicleItem a.VehicleThumb img {
    border : 0;    
}

#vehicleCatalog .VehicleItem div {
    float : left;
    text-decoration: none;
}

#vehicleCatalog .VehicleItem div.VehicleFeatures {
    width: /*210px;*/ 238px;
    margin-left:3px;    
}

#vehicleCatalog .VehicleItem div.VehicleFeatures a {
    color:#0658A2;    
    font-size:18px;
    text-decoration : none; 
    display : block;   
	margin-bottom:5px;   
}

#vehicleCatalog .VehicleItem div.VehicleFeatures a:hover, .ShowPriceList:hover {
    text-decoration : underline;
    color: #0658A2 !important;
}

#vehicleCatalog .VehicleItem div.PriceDescription {
    width: /*250px;*/ 270px;
    margin-left: 3px; 
}

#vehicleCatalog .VehicleItem div.PriceDescription a.Avail, #vehicleCatalog .VehicleItem div.PriceDescription a.OnRequest {
    color:#0658A2;
    font-size:13px;
    text-decoration : none;
    margin : 3px 0 3px 0;
    display : block;
}

#vehicleCatalog .VehicleItem div.PriceDescription .AvgPrice {
    display : block;
    float : left;
    color : #7B7B7B;
}



#vehicleCatalog .VehicleItem div.PriceDescription li {
    float: left;
    margin: 0;
    padding : 0; 
}

#vehicleCatalog .VehicleItem div.PriceDescription span {
    color:#8B8B8B;
    font-size:11px;
    display : block;
    float: left;
    clear: both;      
}

#vehicleCatalog .VehicleItem div.PriceDescription span.SavePrice {
    background:transparent url(../../images/a/tiles/saveBG.gif) no-repeat  0 0;
    height: 45px;
    width: 110px;
    color: #fff;    
}

#vehicleCatalog .VehicleItem div.PriceDescription span.SavePrice small {
    margin: 26px 0 0 10px;
    height:10px;
    width: 100px;
    float: left;
    clear: both;
}


#vehicleCatalog .VehicleItem div.TotalPrice {
    width: 118px;   
}

#vehicleCatalog .VehicleItem div.TotalPrice li span {
    color:#0658A2;
    font-size:13px; 
	font-weight:bold;   
}

#vehicleCatalog .VehicleItem div.TotalPrice li span.Fp {
    color:#8B8B8B;
    font-size:11px;
}

#vehicleCatalog .VehicleItem a.SelectBtn {
    display : block;
    float : left;
    width: 72px;
    height: 25px;
    margin-top: 5px;
    background:transparent url(../../images/a/btn/btn_matrix.png) no-repeat  0 -158px;
    text-indent: -1000px;
    overflow: hidden;
    text-decoration: none; 
}

/* details list */
#vehicleCatalog .Collapse div.PriceDetailsList {
    display : none;
} 

#vehicleCatalog div.PriceDetailsList {
    float : left;   
    color: #4A4A4A;
    width : 702px;
    padding-left:58px;    
}





#vehicleCatalog .VehicleItem div.TotalPrice li.Hide {
    display:none;
}

#vehicleCatalog .VehicleItem div.TotalPrice li.Fp span {
    color:#8B8B8B;
    font-size:11px;
	font-weight:normal;
}

/* Vehicle Row Branded */

#vehicleCatalog .VehicleItem span.BrandThumb  {
    display : block;
    float : left;
    text-decoration : none;                  
}

#vehicleCatalog li.Branded .VehicleItem div.PriceDescription span {
     font-size : 9px;
}

#vehicleCatalog li.Branded .VehicleItem div.PriceDescription {
    width: 180px; 
}

#vehicleCatalog div.VehicleItem {
    padding:15px 0;
}

#vehicleCatalog .Step1A {
    float: left;
    width: 740px;
    background-color: #fff;
    font-size: 11px; 
    padding: 10px 0 10px 44px;   
}

#vehicleCatalog .Step1AWrap div {
     background-color: #fff1a3;
     font-size: 11px;     
}

/* Configure Page */
#vehicleConfigureContainer .CofR, #vehicleConfigureContainer .Radios, #vehicleConfigureContainer .Model, #vehicleConfigureContainer .Passengers {
    display : none;
}

#vehicleConfigureContainer #bookingControl #rightCol #bottomRight a {
    margin-top: 10px;
}
#vehicleConfigureContainer #bookingControl {
    margin-top:23px;
	margin-left:30px;
	height: 135px !important;
	
}




#vehicleConfigureContainer #ctrlValidationMsg {
    margin-top : 0;
} 

#vehicleConfigureContainer #bottomRight span {
    display : inline;
}

#vehicleConfigureContainer #stepsDisplayer #ConfigureStep {
    background-position:-67px 0 !important;
	color:#000000 !important;
}





#configurePanel .Hide{   
    display:none;
}



#vehicleConfigureContainer #topHeader select, #resultsHeader small, #resultsHeader select {
    font-size: 11px;
    color:#4A4A4A;
}






#paymentPanel #topHeader span {
    float : right;
    display : block;
    margin : 5px 4px 5px 0;
}













#configurePanel em {
    font-style:normal;
}





#vehicleChargeDetails #ChargeHeader {
    float : left ;
    display : block;
    clear : both;
    width:100%;
}








#vehicleChargeDetails.Collapse div.PriceDetailsList {/* on collapse */
    display : none;
}

#vehicleCatalog .VehicleItem div.PriceDescription a.Avail:hover, #vehicleCatalog .VehicleItem div.PriceDescription a.OnRequest:hover {
    text-decoration : underline;
    color: #0658A2;
}












#allInclusivePanel td.days { width: 163px; }


#allInclusivePanel .desc { width: 330px; }
#allInclusivePanel .total small {margin-left: 0px; font-weight:bold; padding:8px; }
#allInclusivePanel table td.total {
	border-top:1px solid #CCC; margin-top:10px; 
}

#allInclusivePanel td.pr {
    width: 158px;    
}

#allInclusivePanel #allInclusiveDetails table {
    background: #f9f9f9;
    width: 100%;
	padding:10px 0;
}

#allInclusivePanel table ul li {
    list-style: none;
    margin-left: 5%;
    color:#4a4a4a;
	padding:4px 0;
	font-size:14px;
}
#allInclusiveDetails li:first-child { font-weight:bold; margin-left:1%; }













.quote #hireItemsPanel table tr { 
	float: inherit !important;
}

#ferryPanel table {
    width: 800px;
	padding:10px;
    background: #f9f9f9;
	margin-left:0px;
	border-bottom:2px solid #FFF;
}
#ferryPanel table .total {
	text-align:right;
	width:210px;
}
#ferryPanel table .pax td.total {
    font-size: 11px;    
}

#ferryPanel .vehicleTable td.desc  {
     width:477px;          
}

#ferryPanel td.desc  {
     width:245px;          
}



#ferryPanel td.price  {
     width:315px;          
}


#ferryPanel td small { 
    font-size: 11px;
}

#ferryPanel table.Hide {
    display : none;
}












#tooltip {
    background: #0658A2 url(../../images/a/tiles/background.png) repeat-x 0 0;
    color: #4A4A4A;
    border: solid 2px #0658A2;
}

.bubbleBody  {
    font-size: 9px;
    color: #7e1f03;     
}

.bubbleBody h3 {
    font-size: 11px;
    color: #fff;
	margin-bottom:8px !important;
}

.bubbleBody td { 
    color: #0658A2;
}

.bubbleBody .total td { 
    color:  #4A4A4A;
}

.bubbleBody .note {
    float : left;
    clear : both;
    color: #0658A2;   
}

/* Payment Page Statrs Here */

#paymentContainer  #stepsDisplayer #PaymentStep {
    background-position:-256px 0;
}
#paymentContainer #stepsDisplayer {
background-position: 0 -800px;
}








#paymentPanel #topHeader span {
    margin: 10px 0 0 0;
}

#paymentContainer #stepsDisplayer {
    width:800px;
	margin-left:-12px;
} 






#paymentPanel small {
    font-size: 11px;
}


























#ccDesclaimerTxt {font-style:italic;}







/* Payment Form */












#otherTravellers table th {
    font-weight: normal;
}

#paymentPanel #personalDetails .number small, #paymentPanel #personalDetails .number input {
    float: left;
    clear: both;
}


#termsAndConditions big {
	padding-left:0px;
}

#paymentPanel .onRequest .Buttons .SubmitBtn {
    background:#FFFFFF url(../../images/a/btn/RequestNow.gif) no-repeat scroll 0 0 !important;
}

#paymentPanel #otherTravellers td.lbl {
    width : 145px;    
}

#paymentPanel #otherTravellers table {
    clear: both;
}



.PopUp{
	color:#0658A2;
}


















#paymentContainer #disclaimer {
    background: url("../../images/a/footerbg.png") no-repeat scroll center top transparent;
    color: #4A4A4A;
    float: left;
    font-size: 11px;
    font-weight: normal;
    height: 145px;
    margin-bottom: 30px;
    margin-left: -8px;
    padding-left: 60px;
    padding-top: 60px;
    width: 780px;
    z-index: -1;
}

/* validation */

#paymentForm label.error { float: right !important; }  

#paymentPanel .required { border:1px solid red; }

#paymentPanel #personalDetails #telephoneTxt3.required { width:46%; }

#cardExpiryMonthTxt, #cardExpiryYearTxt, #cardExpirySpan span {
    float: left;
}

#telephoneTxt1, #telephoneTxt2, #telephoneTxt3 {
    width: 60px;
}


/* EmailForm */
#paymentPanel #infoPanel p {
	margin-bottom: 20px;	
}

#paymentPanel #infoPanel img {
	float: right;
	margin: 10px;
}

#paymentPanel div.FormSection {
    border-bottom:1px solid #5892A1;
    width: 720px;
    margin-left: 20px;
    padding-bottom:20px;
    padding-top:20px;
}

#paymentPanel div.FormSection label {
    display:block;
    float:left;
    width:138px;
}

#personalDetailsForm  p {
    clear:both;
    float:left;
    margin-top:5px;
}

#personalDetailsForm  p .number small, #personalDetailsForm  p .number input {
    clear:both;
    float:left;
}

#personalDetailsForm  p .number {
    display:block;
    float:left;
    margin-right:10px;
}

#personalDetailsForm  p .PhoneNumber {
    display:block;
    float:left;
    width:550px;
}

#personalDetailsForm  p #countryOfResidenceDD, #personalDetailsForm  p #customerTitleDD {
    width: 270px;
}

#personalDetailsForm  #contactSelector label.title, #personalDetailsForm  #contactSelector input {
    float: left;
    width: auto;
    margin-left: 10px; 
}

#bottomPanel, #rentalsDetailsForm {
    border-bottom: none !important;
}


#rentalsDetailsForm span {
    display:block;
    width:700px;
}

#rentalsDetailsForm td label {
    margin-bottom: 4px;
}

#bottomPanel input , #bottomPanel a, #bottomPanel label {
    float: right;
}

#bottomPanel input {
    background:#FFFFFF url(../../images/a/btn/send.gif) no-repeat scroll 0 0;
    border:0 none;
    height:27px;
    overflow:hidden;
    text-indent:-1000px;
    text-transform:capitalize;
    width:150px;
}

#bottomPanel a {
    background:#FFFFFF url(../../images/a/btn/cancel.gif) no-repeat scroll 0 0;
    border:0 none;
    height:27px;
    overflow:hidden;
    text-indent:-1000px;
    text-transform:capitalize;
    width:150px;
    margin-right: 20px;
}

#bottomPanel label {
    clear:none !important;
    color:Red;
    display:none;
    float:left;
    font-size:11px;
    width:300px;
}



#confirmationPanel #ConfText p big {
color:#0658A2 !important;
}

















#feedBack p {
width:730px !important;
	
}

#feedbackForm  #sendBtn {
    float: right;
    background : #fff url(../../images/a/btn/send.gif) no-repeat  0 0;
    border: 0px;
    height: 27px;
    overflow: hidden;
    text-indent:-1000px;
    text-transform: capitalize;/*ie ;o(*/
    width:150px;
    margin: 20px;      
}

#completedMessage span {
    font-size: 13px;
    display:block;
    height: 200px;
}

#completedMessage big {
    color:#7A8F00;
    font-size:15px;
    font-weight:bold;
} 

#vehicleCatalogContainer #emptySelectionMsg span {
	font-weight:bold;
	color:#0658A2;
}

/* save Quote */


#configureUpdatePanel .Submit .selected {
    background-position: -199px -320px !important;
}

.saveQuote .ui-widget-header .ui-icon {
    background-image: url(../../images/a/btn/btn_matrix.png); 
    background-position: -800px -160px;
     margin-right: 10px;
}

.saveQuote .ui-icon {
    width: 20px;
    height : 20px;
}

.saveQuote .ui-dialog-titlebar {
     background: #02171F;
     height: 45px;
}

.saveQuote  .ui-dialog-titlebar-close {
    margin-right : 10px !important;
}

.saveQuote .ui-dialog-title {
    margin: 10px 0 0 125px !important;
    color: #fff; 
    text-align: center;
    font-size: 15px; 
}

#saveQuoteDiv {
    background: #fff url(../../images/a/tiles/qn_bg.png) repeat-x  0 -45px;  
}

#saveQuoteDiv p.submitPanel {
    width: 100%;
} 

#saveQuoteDiv .submitPanel input {
    float: right;
    background : #fff url(../../images/a/tiles/qn_bg.png) no-repeat  -400px -400px;
    border: 0px;
    height: 23px;
    overflow: hidden;
    text-indent:-1000px;
    text-transform: capitalize;/*ie ;o(*/
    width:143px;      
}

.quote #footerPanel input {
    background : url(../../images/a/btn/btn_matrix.png) no-repeat transparent -200px -159px;
    width: 143px;
    height: 23px;
}

.quote #footerPanel input:hover {
    background-position:-200px -240px!important;
}

#printQuoteDiv a{
	background: url(../../images/a/btn/btn_matrix.png) transparent no-repeat scroll -600px 0 !important;
}

#printQuoteDiv a:hover{
	background-position: -600px -79px!important;
}

#printQuoteLnk {
    background-image: url(../../images/a/btn/btn_matrix.png);
    width: 158px !important;
    height: 25px !important;
}

#printQuoteDiv #searchAgainLnk { 
    margin-top: 10px;
    background-position: -400px 0 !important;
    width:150px!important;
}

#printQuoteDiv #searchAgainLnk:hover { 
    margin-top: 10px;
    background-position: -400px -80px !important;
}

a.priceMatch {
	display:none;
	background:url(../../images/a/tiles/price-match.png) no-repeat 0 0 ;
    	height: 41px;
	margin: 65px 0 0 99px;
    overflow: hidden;
    text-indent: -1000em;
    visibility: visible !important;
    width: 215px !important;
}

/* Save Quote */
.quote #saveQuoteLnk {
    background: transparent url(../../images/a/btn/btn_sprites.png) no-repeat -199px -720px !important ; 
    height: 50px !important;    
}

.quote #saveQuoteLnk:hover {
     background-position: -200px -720px;
}

.quote #confirmQuoteSubmit,  .quote #promptContainer input {
   background: transparent url(../../images/a/btn/btn_sprites.png) no-repeat 0 -640px !important ; 
   height: 50px !important ;
   width: 144px !important ;
   cursor: pointer;
}

.quote #confirmQuoteSubmit:hover, .quote #promptContainer input:hover {
     background-position: 0 -720px !important ;
}


.quote #configureUpdatePanel .Submit {
    height: 50px;
}

.quote #promptContainer input {    
    border: 0px;
    height: 25px;
    overflow: hidden;
    text-indent:-1000px;
    text-transform: capitalize;/*ie ;o(*/
    width:135px;
    margin: 5px 0 0 30px;
}


#submitExpiredQuote a{
    background: transparent url(../../images/a/btn/btn_sprites.png) no-repeat;
    height: 40px;
    width: 143px;
}

#submitExpiredQuote #searchAllVehicles {
     background-position: -200px -640px;
}

#submitExpiredQuote #searchAllVehicles:hover {
    background-position: -200px -720px;
}

#submitExpiredQuote #searchVehicle {
     background-position: -400px -640px;
}

#submitExpiredQuote #searchVehicle:hover {
    background-position: -400px -720px;
}

.quote #paymentContainer input.SubmitBtn  {
    background: transparent url(../../images/a/btn/btn_sprites.png) no-repeat -600px -160px;
    height: 40px;
    width: 143px;
    
} 

.quote #paymentContainer input.SubmitBtn:hover {
	 background: transparent url(../../images/a/btn/btn_sprites.png) no-repeat -600px -240px!important;
}

/* Save Quote Ends*/

/* Alternate Availability */

div.AltRow .AltPrice {
    width: 195px;
    height: 100px;
    float: left;
}


div.AltRow div.noAvailability {
    background: url("../../images/a/icons/altx.png") no-repeat 0px 6px;    
    float: left;
    height: 60px;
    margin-top: 20px;
    width: 270px;
}

div.AltRow div.noAvailability span {
    clear: both;
    display: block;
    float: left;
    font-size: 10px;
    font-weight: bold;
    line-height: 15px;
    margin-left: 50px; 
}

div.AltRow .AltPrice li span {
    color: #0658A2;
    font-size: 11px;
    font-weight: bold;
    display:block;
    height: 20px; 
    background: url("../../images/a/icons/altCB.png") no-repeat 0 0 transparent !important;
    padding-left: 50px;
    margin-top: 26px;  
}

div.AltRow .AltPrice li.Fp span {
    color: #8B8B8B;
    font-size: 11px;
    font-weight: normal;
}

div.AltRow .AltPrice li.Hide {
    display: none;
}

#selectedVehiclePanel {
    float: left;
    clear: both;
    width: 978px; 
    height: 130px;
    border-top: 1px solid #0658A2;     
}


#selectedVehiclePanel h3,#selectedVehiclePanel img {
    float: left;
    display:block;
    margin-top: 5px;     
}
#selectedVehiclePanel #selectedVImage
{
    margin-left:40px;
}
#selectedVehiclePanel #selectedVIncs {
    margin-left: 36px;
    margin-top:17px;
}

#selectedVehiclePanel span.reel {
    float: right;
    margin-right:15px;
	margin-top:15px;
}

#selectedVehiclePanel h3 {
    color: #0658A2;
    font-size: 16px; 
    margin: 17px 0px 0px 17px;
    width:180px;
    overflow: hidden;
	
}

#alternativeMessagePanel, #alternateContactPanel {
    float: left;
    clear: both;
    height: 40px;
    width: 978px; 
    background: url("../../images/a/tiles/aaArrow.png") no-repeat 10px 10px #0658A2;
    border-bottom: 1px solid #fff; 
}

#alternativeMessagePanel span, #alternateContactPanel span {
    color: #fff;
    font-size: 12px;
    float: left;
    margin: 14px 10px 0 40px;
    font-weight: bold;
     
}

#alternativeMessagePanel small, #alternateContactPanel small {
    float: left;
    display: block;
    margin: 14px 0 0 20px;
    font-size: 9px;
    font-weight: bold; 
    color: #7E550F;
}

div.AltRow {
    width: 976px;
    height: 88px; 
    float: left;
    clear: both;
}                        

div.AltRow .AltType {
    float: left;/* base */
    height: 87px;/* base */
    width: 155px; /* base */
    background: url("../../images/a/tiles/aa-arrow.png") no-repeat scroll transparent;
}

div.SwitchLocation .AltType {  
    background-color: #8b2a77;
    background-position: 147px 0;
}

div.OneWaySwitchLocation .AltType {  
    background-color: #8B2A77;
    background-position: 147px 0;
}


div.MoveForward .AltType {
    background-color: #7ab4e5;
    background-position: 147px -82px;
}

div.OriginalSearch .AltType 
{
    background-color: #0658A2;
    width:145px;
    margin-right:10px;
    background-image:none;
}


div.PickUpBased .AltType {
    background-color: #4086c2;
    background-position: 147px -340px;
}

div.MoveBackwards .AltType {
    background-color: #7ab4e5;
    background-position: 147px -82px;
}

div.DropOffBased .AltType {
    background-color: #4086c2;
    background-position: 147px -340px;
}

/* add all avail types here..*/ 

div.AltRow .AltType span {
    font-size: 11px;
    font-weight: bold; 
    display: block;
    width:80px;                             
    color: #fff;  
    margin: 20px 0 0 16px;
}

div.AltRow div.AltTime {
    float: left;
    width: 538px;
    height: 86px;
}


div.AltRow .TimeSpan {
    height:10px;
    width:400px;
    float: left;
    border: solid 1px #aaa;
    margin: 0 0 0 74px;
    background-color: #fff;                            
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div.AltRow .TimeSpan span {
    display: block;
    float: left;
    height: 10px;                            
}

div.AltRow .TimeSpan span.Avail {
    background-color: #499d3e;
}

div.AltRow .TimeSpan span.noAvail {
    background-color: #eeda1a;
}

div.AltRow .TimeSpan span.hireDates {
    /*background-color: #4EA143;*/                            
}

div.AltRow .TimeLabels {
    float: left;

    display: block;                            
    width:462;    
    margin-left: 72px;                              
}

div.AltRow .TimeLabels span {    
    font-size: 11px;
    float: left;
    display:block; 
    text-align: center;                            
}
div.AltRow .TimeLabels.period .hireORDates small
{
    white-space:nowrap;
}
div.AltRow .TimeLabels .hireORDates small {

}              

.hireORDates small {
    text-align: center;
}          

div.AltRow .TimeLabels .postORDates small {
    width: 40px;
}

div.AltRow .dates {                             
    height: 30px;
}

div.AltRow .period {
    margin-top: 13px;
    height:15px;
}

div.OptionRow ul.Prices {
    margin-top:22px;
}

div.OptionRow .ShowPriceList {
    color: #0658A2;
    text-decoration: underline; 
    font-size: 9px;
    cursor: pointer;
    margin-top: 5px;  
    display: block;
    margin-left: 50px; 
}

div.OptionRow .PriceDetailsList { /* base */
    display:none;
}

div.Expand .PriceDetailsList {/* base */
    display: block;
    float:left;
    margin-left: 80px;
    font-size: 11px; 
}

div.AltRow .AltSelect {
    display: block;/* base*/
    float: right;   /* base*/
    background: url("../../images/a/btn/btn_matrix.png") no-repeat 0 -159px transparent;                           
    height: 23px;                           
    text-decoration: none;/* base*/
    text-indent: -9999px; /* base*/
    width: 72px;
    margin: 22px 15px 0px 0px; 
    overflow: hidden;
}

div.AltRow .AltSelect:hover {
    background-position: 0 -239px;
}


div.AltRow chargeTable {
    float: left
}
div.OptionRow .NoAlt
{
    float:left;
    padding: 0px 15px 0px 75px;
    width:731px;
}
div.OptionRow .NoAlt span, div.OptionRow .NoAlt a {
    display: block;
    float: left;
    margin-top: 28px;    
}

div.OptionRow .NoAlt span {   
    height: 20px;    
    line-height: 18px; 
    font-size: 11px;
    font-weight: bold;    
}

div.OptionRow .NoAlt small{
    background: url("../../images/a/icons/altx.png") no-repeat 0 0 transparent;
    height: 20px;
    width: 20px;
    display: block;
    float: left; 
    margin-top:35px;  
    overflow: hidden;
    text-indent: -1000em 
}

div.OptionRow .NoAlt a.details {
    color:  #7C2424;
    text-decoration: underline;
    font-size: 9px;
    line-height: 18px;
    margin-left: 10px;
    margin-right: 358px;     
}

div.OptionRow .NoAlt a.call{
    width: 150px;
    height: 32px;
    background: url("../../images/a/btn/btn_matrix.png") no-repeat 0 -559px transparent;
    overflow: hidden;
    text-indent: -1000em; 
    float: right;
}

div.OptionRow .NoAlt a.call:hover {
    background-position:  0 -639px;
}

#alternate
{
	background:url(../../images/a/background.jpg) repeat-x scroll left top;
    min-width:977px;
}

#alternate span.ContactUs {
    display: none;
}

#vehicleAAContainer
{
    width:977px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    border: solid 0px #fff;    
}

#vehicleAAContainer div
{
    font-family:Tahoma;
}
/* AA - New Header*/
#catalogAAHeader {
    width:985px;
    height:106px;
    float:left;
    background: url('../../images/a/header-AA.jpg');    
    float: left;
    margin-left:-3px;
	margin-top:-1px;
}

#catalogAAHeader span.Image {
    float: left;
    width: 185px;
    height : 77px;
    margin:10px 0 0 19px;
}
#catalogAAHeader a.ContactUs
{
    float:right;    
    margin:0px 10px 0 0px; 
    border:none;
}
#catalogAAHeader a.ContactUs img
{
    border:none;
}
/* AA - New breadcrumb*/
#b2c-steps {    
    width:978px;
    height:34px;
    float:left;    
    overflow:hidden;
}
#b2c-steps .steps
{
    width:978px;
    height:34px;    
    display:block;
    margin-left:1px;
}
#b2c-steps #step-1 {
     background:url(../../images/a/btn/Sprites-Breadcrumbs.png) #E3E3E3 no-repeat 0px -228px;
}

#vechileCatalogAAContainer {
    float : left;
    width: 978px;    
    background-color: #fff;     
}
#vechileCatalogAAContainer h2 {
    float:left;
    font-size:18px;
    font-weight:bold;
    color:#4A4A4A;
    padding: 25px 0px 0px 15px;
    width: 450px;
    height: 33px; 
    line-height: 30px; 
	
}
#vechileCatalogAAContainer #resultsHeader {
    background-color: #fff;
    width:450px;
    height:30px;
    font-size:12px;
    margin-right:16px;
    color:#000;
    float:right;
    padding: 34px 0px 0px 0px;    
}

#alternativeCatalogContainer a.freephone
{
    background:url('../../images/a/btn/btn_matrix.png') no-repeat;
    width: 152px;
    height:38px;
    display:block;
    text-indent:-9999px;
    background-position: -400px -1040px;
}

#alternativeCatalogContainer a.freephone:hover {
    background-position: -400px -1119px;
}
#alternativeCatalogContainer .rightHandBanner
{
    display:none;
}
#alternativeCatalogContainer.unavailable {
    float:left;
    width:977px;
    background:url(../../images/a/tiles/no-aa-right.png) no-repeat right 259px;
}


#alternativeCatalogContainer.unavailable .rightHandBanner
{
    display:block;
}
#alternativeCatalogContainer.unavailable .OptionRow
{
    float:left;
}

#alternativeCatalogContainer.unavailable .OptionRow .AltRow
{
    width:706px;
}
#alternativeCatalogContainer.unavailable .OptionRow .AltRow.OriginalSearch
{
    width:977px;
}
#alternativeCatalogContainer.unavailable .OptionRow .AltRow.OriginalSearch .noAvailability
{
    margin-left:20px;
    width:250px;
}
#alternativeCatalogContainer.unavailable .rightHandBanner
{

    width:225px;
	padding-left:45px;
    overflow:hidden;
    display:block;
    float: right;
}
#alternativeCatalogContainer.unavailable .rightHandBanner a.freephone{
    margin-left:18px;
    margin-top: 275px;
}

#alternativeCatalogContainer.unavailable .rightHandBanner img
{
     visibility:hidden;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt
{
    width:461px;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt a.details
{
    margin-right:30px;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt small
{
    margin-top:30px;   
}
#alternativeCatalogContainer.unavailable  .OptionRow .NoAlt a.call 
{
    display:none;
}



#footerContainer #footerWrapper {    
    display:block;
    height:165px;
    width: 475px;
    padding-left: 380px;    
    float:right;
    text-indent:-9999px;
}
#footerContainer .resText
{
    background: url("/images/a/tiles/24-7-reservations-title.gif") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 40px;
    margin-top: 20px;
    width: 210px;
}

#footerContainer a.freephone {

    width: 152px;
    height:38px;
    background-position: -400px -1039px;
    margin-top:20px;
    margin-left:20px;
}
#footerContainer a.freephone:hover
{
    background-position: -400px -1119px;
}
#footerContainer span.searchall
{
    background: none;
    clear: both;
    display: block;
    height: 51px;
    width: 290px;
}
#footerContainer a.returntosearch {
    width: 180px;
    height:22px;
    background-position: 0px -1200px;
    margin-top:13px;
    margin-left: 230px; 
    
}
#footerContainer a.returntosearch:hover
{
   background-position: 0px -1280px;
}
#footerContainer a.otherbrands
{
    width: 180px;
    height:25px;
    background-position: -200px -1200px; 
    margin-top:10px;
    margin-left:20px;    
    display:none;
}
#footerContainer a.otherbrands:hover
{
    background-position: -200px -1280px; 
}

#vehicleAAContainer #disclaimer {
    float : left;
    width: 961px;
    padding-top: 10px;    
	padding-left:17px;
    height : 45px;	
    font-size : 11px;
    color:#000000;
    background-color: #FFFFFF;     
}
#footerLinksBottom {
    clear:both;
    padding-top: 25px;
    width:948px;
    height:55px;
    text-align: center;
    width:100%;
    background-color:#fff; 
}

#footerLinksBottom #footerLinksLogos {
    width:700px;
    margin-left:110px;
}

#footerLinksBottom #footerLinksLogos li#logos {
    background: url("../../images/logo-lockup.png") no-repeat scroll 0 0 transparent;
}

#footerLinksBottom #footerLinksLogos li {
    font-size:9px;
    color:#999;
    float: left;
    line-height: 15px;
    padding: 0;
    text-align: left;
    vertical-align: top;
}
#footerLinksBottom #footerLinksLogos li#logos a {
    display: block;
    float: left;
    height: 40px;
    outline: medium none;
    text-indent: -9999px;
    width: 50px;
}
#footerLinksBottom #footerLinksLogos li#copyright
{
    margin-left:20px;
}
#footerLinksBottom #footerLinksLogos li#logos #THLLogo {
    width: 80px;
}
#footerLinksBottom #footerLinksLogos li#logos a#MauiLogo {
    width: 60px;
}
#alternate #tooltip
{
    opacity:1;
}

#tooltip .SmallContainer
{
    background-color: #fff;
    border: 2px solid #0658A2;
    color:#000;
    padding: 5px 10px 15px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    float: left;
    max-width:500px;
    opacity: 0.95;
}
#tooltip .LargeContainer
{
    font-family:Tahoma !important;
    background-color: #0658A2;
    border: 2px solid #0658A2;
    color: #FFF;
    padding: 5px 10px 15px;
    float: left;
    width:610px;
    position:relative;
    /*css3*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;                  
    border-radius: 5px;
    z-index:2;
}
#tooltip .LargeContainer .ads
{
    float:right;
    max-height:44px;
}
#tooltip .LargeContainer h3
{
    line-height: 20px;
    float: left;            
    margin-top: 22px;
    vertical-align: bottom;
    padding-bottom:10px;
	font-size:16px;
}
    #tooltip .LargeContainer .chargesTable
    {
        width:100%;
        border-collapse:collapse;
        clear:both;
        text-align:left;
        font-size:11px;             
    }
#tooltip .LargeContainer .chargesTable th
{
    color:#FFF;
    text-align:left;            
    padding:10px 0px 10px 5px;
    background:#3061a4;            
}
#tooltip .LargeContainer .chargesTable td
{
    padding:5px 0px 5px 5px;
    background:#fff;
    color:#333;
    text-align:left;            
}

#tooltip .LargeContainer .chargesTable th.PerTH,
#tooltip .LargeContainer .chargesTable td.pth
{
    width:60px;
}
#tooltip .LargeContainer .chargesTable th.DiscTH,
#tooltip .LargeContainer .chargesTable td.dth
{
    width:80px;
}
        
#tooltip .LargeContainer .chargesTable tfoot td
{
    background:#bce7ff;
}
        
#alternate .steps a {
    display: block;
    overflow: hidden;
    width: 300px;
    height: 30px; 
    overflow: hidden;
    text-indent: -1000em 
}

#alternate div.AltRow .AltPrice li.Fp span  {
    margin-top: 0 !important;
    background-image: none !important; 
}


.availPopUp {
    width:280px;
    line-height:18px;
    color:#FFF;
    background-color:#fff;
    padding: 5px 10px 15px;
    max-width:500px;
    border: 2px solid #0658A2;    
    background: url("../../images/a/tiles/availabilitybg.png") repeat-x scroll 0 0 #0658A2;
	font-size:11px;
}
.preloaderIframe
{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    visibility:hidden;
}
#staticLoader {	
    float : left;
    width: 778px;
    margin-left: 12px;   
    padding-bottom: 6px;
    padding-top:20px;
    padding-bottom:20px;
    display:none;
    text-align:center;
    font-size:16px;
    font-weight:bold;
    color:#333;
    background-color: #fff; 
}


#vehicleCatalogContainer .VehicleItem div.Limited .AALink a {
	color:#F58220;
	display: block;
	background:transparent url(../../images/a/btn/btn_matrix.png) no-repeat  0 -1039px;
    text-indent: -9999px;
    overflow: hidden;
	height: 48px;
    width: 157px;
	margin-left: 13px;
}

#vehicleCatalogContainer .VehicleItem div.Limited .AALink a:hover {
     background-position: 0 -1119px;
}

#vehicleCatalogContainer .VehicleItem div.Limited .CallLink a {
	color:#F58220;
	display: block;
	background:transparent url(../../images/a/btn/btn_matrix.png) no-repeat  0 -559px;
    text-indent: -9999px;
    overflow: hidden;
	height: 32px;
    width: 145px;
	margin-left: 25px;
}

#vehicleCatalogContainer .VehicleItem div.Limited .CallLink a:hover {
     background-position: 0 -639px;
}

#vehicleCatalogContainer .VehicleItem div.Limited .AALink a:hover {
	color:#F58220 !important; /* REMOVE FROM BASE.CSS */
	text-decoration:underline;
}

#bookingControl #rightCol #bottomRight a {
    background: url("../../images/a/btn/btn_matrix.png") no-repeat scroll 0 0 transparent;
}

#bookingControl #rightCol #bottomRight a:hover {
	background-position: 0 -79px;
}

#vehicleCatalog .VehicleItem a.SelectBtn:hover {
    background-position: 0 -238px;
}

#carousel { position: relative; height: 200px; margin: 0; padding: 0; }
#carousel li { float: left; cursor: pointer; cursor: hand; list-style: none; margin: 0px; padding: 0px; width: 294px; height:171px;}
#carousel li img { height: 100%; width: 100%;}
.preloader  #configurePanel .progressIndicator {
        float: left;
        clear:both;                 
        font-size: 13px;  
        text-align: center;    
        width: 100%;
        height: 400px; 
        padding-top: 50px;                      
}
.preloader  #configurePanel .progressIndicator img {
           
}   
/* Alternate Availability Ends */


/* Cross Sell Starts */

body.selection #HorizontalControlContainer .CSell, body.selection #HorizontalControlContainer .CSellLbl {
    display: block!important;
    color:#000000!important;
}

#thlCrossSellBanner {	
	display: none;
	padding-top: 0px;	
	float:left;
	height:25px;
	width:100%;
	/*background:url(../../images/crosssell/cs.png) 0 0 no-repeat;*/
	background: url("../../images/crosssell/cs.png") no-repeat scroll 0 0 transparent;
	cursor:pointer;
    margin-left: 12px;	
}


#preLoaderPanel {	
	width: 1000px;
	height: 768px;
	margin-left:auto;
	margin-right:auto;	
}

#preLoaderPanel span {
	display: block;
	margin-top: 105px;
	margin-left: 480px;
	width: 40px;
	height: 40px;
	background: url(../../images/b/icons/ajax-loader.gif) no-repeat;
}
 .CSell_AU {
	background: url(../../images/crosssell/cs_preload_au.png) no-repeat;
 }

 .CSell_NZ {
	background:url(../../images/crosssell/cs_preload_nz.png) no-repeat;
 }

 #bookingControl #leftCol span {
	float: right;
	margin-bottom:8px;
 }
 
 
 #bookingControl span { 
	font-size : 11px;
	color:#FFFFFF!important;
 }
 
 #bookingControl {
	background:none!important;
	padding-left: 0px;
	height:160px !important;
	border:none!important;
	margin:7px 0 0 0!important;
 }
 
 #bookingControl span.CSellLbl {
	display:none;
	float:right;
	clear:both;
}


 /* cross sell new */
 
#bookingControl span.Radios
{
    font-size: 10px;
    padding-bottom: 5px;
	visibility: hidden;
}

#bookingControl span.Model, #bookingControl span.RightPass
{
    padding-bottom:5px;
}
#bookingControl span .select{
	height: 17px;
}

#bookingControl #leftCol span  {
	text-align: right;
	width:100%;
}

#bookingControl #leftCol span.required  {
	font-weight:bold;
}

#bookingControl .botCol a.searchBtn {
    background : transparent url(../../images/a/btn/btn_matrix.png) no-repeat 0 0;
    display:block;
    height : 23px;
    overflow:hidden;
    text-indent:-100px;
    width: 92px;
    float:right;
    margin-top:12px;
	margin-right:-70px;
}

#bookingControl .botCol a.searchBtn:hover {
    background-position:0 -79px;
}

#bookingControl .crossSell .crossSellBrand
{
    width:40px;
    background-position:40px 0px;
}
#bookingControl .botCol
{
    margin-top:22px;
}
#bookingControl span.Model, #bookingControl span.RightPass
{
    padding-bottom:5px;
}

#bookingControl .crossSell, #vehicleSelectionContainer #bookingControl.cars .crossSell
{
    display: none;
}

#vehicleSelectionContainer #bookingControl .crossSell
{
    /* display: block; none for now */
}

#bookingControl #leftCol
{
    width:155px;
}
#bookingControl span.CSellLbl
{
     float: left;
    font-weight: bold;
    line-height: 17px;
    padding-left: 20px;
    width: 102px;
}

#ctrlValidationMsg
{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
#bookingControl .botCol
{
    float: left;
    clear: left;
    width: 100%;
    display:block;
}
#bookingControl .crossSell
{
    float: left;
    background: url('../../images/crosssell/cs-background.png') repeat-x scroll 0pt 0pt transparent;
    margin-left: 16px;
    padding: 10px;
}
#bookingControl .crossSell .CSellOpt
{
    float: left;
    margin-right: 10px;
    margin-left: 8px;
}

 /* cross sell new ends*/

/* Cross Sell Ends */


/* CrossSell header begins */
#crossSell{
	margin: 0 auto;
	top: 0px;
	height:25px;
	width: 760px;
	font-size:11px;	
	z-index:1;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
}
#crossSellLogo{
	float:left;
	height:25px;
	width:85px;
}
#crossSell #crossSellCountry {
	float:right;

}
#crossSell .crossSellNav{
			/*border:1px solid #ccc;
			border-width:1px 0;*/
			list-style:none;
			margin:0;
			padding:0;
			text-align:left;
			float:left;
}
#crossSell .crossSellNav li{
			position:relative;
			display:inline;	
			height:25px;
}
#crossSell .crossSellNav a{
			display:inline-block;
			padding:5px 10px 0px 10px;
			height:20px;
}
#crossSell .crossSellNav ul{
			position:absolute;
			top:100%; /*Uncommenting this makes the dropdowns work in IE7 but looks a little worse in all other browsers. Your call. */
			left:-9999px;
			margin:0;
			padding:0;
			text-align:left;
}
#crossSell .crossSellNav ul li{
			display:block;
}
#crossSell .crossSellNav li:hover ul{
			left:0;
}
#crossSell .crossSellNav li:hover a.maui, #crossSell  li.current a.maui{
			text-decoration:none;
			background:#01606f;
			color:#fff;
}
#crossSell .crossSellNav li:hover a.britz{
			text-decoration:none;
			background:#f58220;
			color:#fff;
}

#crossSell .crossSellNav li:hover a.BP, li.current a.BP {
			text-decoration:none;
			background:#0080b5;
			color:#fff; 
}

#crossSell .crossSellNav li:hover a.country{
			text-decoration:none;
			background:#353535;
			color:#fff; 
}

#crossSell .crossSellNav li:hover ul a{
			text-decoration:none;
			width:140px;
			background:#fff;
}
#crossSell .crossSellNav li:hover ul a:hover{
			text-decoration:none;
			background:#fa8300;
			color:#fff; 
}
#crossSell .crossSellNav ul a{
			white-space:nowrap;
			display:block;
}
#crossSell a{
			color:#8e929b;
			text-decoration:none;
			font-weight:normal;
}
#crossSell a.britzCurrent, #crossSell li.current a.britz{/* Remove the britzCurrent */
			text-decoration:none;
			font-weight:normal;
			background:#f58220;
			color:#fff;

}

#crossSell a:hover{
			text-decoration:none;
			background:#f1f1f1;
}
/* CrossSell header ends */	

#bookingControl #leftCol
{
      height: 72px;
    padding-left: 8px;
    width: 138px;
}
#bookingControl #centreCol
{
    width:190px;
}
#bookingControl #centreCol span.CofR
{
    display:block;
    margin-top:2px;
    margin-right:0px;
    white-space:nowrap;     
}     
#bookingControl #centreCol span.CofR input
{
    width:13px;
}
#bookingControl span,#bookingControl input,#bookingControl select
{
    font-family:Tahoma !important;
}
#bookingControl input
{
    height:14px;
}
#bookingControl select
{
    height:18px;
}
#bookingControl small
{
    font-size:10px;
}
#bookingControl *
{
    vertical-align:top;
}

#vehicleConfigureContainer #bookingControlContainer{
  	height:233px;
	background: url("../../images/a/booking-bg-small.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 148px;
    margin-left: 12px;
    width: 800px;
}

.returntoseachBreadCrumb
{
    float:left;
    width:100%;
    clear:both;
}
.returntoseachBreadCrumb a
{
    padding: 5px 0px 5px 16px;
    font-size:9px;
    color:#0658A2;
    display:block;
    text-decoration:none;
    border-bottom: 1px solid #e7e7e7;
	background: url("../../images/b/tiles/altRowBG.png") repeat-x scroll 0 0 transparent !important;
}
.returntoseachBreadCrumb a:hover {
	text-decoration:underline;
}

/* Promo Text */
.PriceDescription .promo {
	background: url("../../images/a/tiles/promo_bg.jpg") no-repeat scroll 0 0 transparent; 
	margin-top: 5px;
	overflow: hidden;
	min-height: 40px;
}
.PriceDescription .promo big { 
	color: #007cb3; 
	margin-left:58px; 
}
.PriceDescription .promo small { color:#4a4a4a; margin-left:58px;}

#sslSeal {
    float: left;
    height: 90px;
    margin-left: 30px;
    padding: 6px;
    width: 35px;
    margin-top:32px;
}

.Confirmation a.contactUsLink {
    color:#0658A2;
}

#bookingControl .spinner {
	margin-top:15px;
}

#vehicleConfigureContainer #ctrlSearchBox_dropCountryOfResidence {display: none;}

tr.CCSurchargeRow { display: none; }