#HorizontalControlContainer{
    overflow: hidden; 
	background: #FFF url(../../images/c/searchandbook.jpg) no-repeat 0 0;
    border: 1px solid #999999;
    border-radius: 5px;
    box-shadow: 0 0px 2px 0 #999999;
    float: left;
    width: 978px;
	margin-bottom:10px;
}

#vehicleConfigureContainer #HorizontalControlContainer{
    overflow: visible;
	background: #FFF;
    border: 1px solid #999999;
    border-radius: 5px;
    box-shadow: 0 0px 2px 0 #999999;
    float: left;
    width: 978px;
	margin-bottom:10px;
	display:none;
}

#bookingControl {
	width:980px;
   padding:47px 0 0 0px;
   background: url(../../images/c/thawte.jpg) no-repeat 40px 246px;
}

#vehicleConfigureContainer #bookingControl {
	width:980px;
   padding:0px 0 0 0px;
   background: url(../../images/c/thawte.jpg) no-repeat 820px 22px;
}


#bookingControl span.Splash {
    display : none !important;
}

#bookingControl span.Company {
    display :block;
}

#bookingControl .VehicleMode span.Company {
    display : none !important;
}

#bookingControl .VehicleMode span.Model small {
    display : none;
}

#bookingControl .VehicleMode span.Model select {
    width : 180px !important;
}

#bookingControl span.Company {
    display : none ;
}

.Aggregator span.Company {
    display : block !important;
}


.Aggregator span.Model {
    display :none !important;
}

#bookingControl span.Passengers {
	height:47px;
	border-top:1px solid #EFEFEF;
	border-bottom:1px solid #EFEFEF;
}
#bookingControl span.Company {
	float:left;
	height:47px;
	width:328px;
	padding-left:12px;
	border-top:1px solid #EFEFEF;
	border-right:1px solid #EFEFEF;
	text-align:left;
	}

#bookingControl span.Company select {
    width: 316px;
}



#bookingControl select.LocationDD {
    width: 316px !important;
	margin-bottom:19px;
	*margin-bottom:26px;
}
#vehicleConfigureContainer #bookingControl select.LocationDD {
	width:216px!important;
}

#bookingControl select.LocationDD:last-child {
	margin-bottom:10px;
}

#bookingControl.VehicleMode span.Model {
    display : block !important;
}

#bookingControl #rightCol {
    width:388px !important; 
	margin-left:0px;
	margin-bottom:0px;
}

#bookingControl #rightCol .Passengers .RightPass {
    width:125px !important;
}

#bookingControl #rightCol #bottomRight {
    width:388px !important;
	height:102px;
}
#bookingControl #rightCol span {
	margin-bottom:0px;
}
#bookingControl #rightCol .Passengers .LeftPass {
	float: right;
    text-align: right;
    width: 150px;
	margin-right:63px;
}
#bookingControl #rightCol .Passengers .RightPass {
	float: left;
    text-align: left;
    width: 138px;
	margin-left:12px;
}
#bookingControl #rightCol .Passengers .LeftPass .SearchBox_AdultsListBox {
	width:153px;
	
}
#bookingControl #rightCol .Passengers .RightPass .SearchBox_AdultsListBox {
	width:153px;
	
	
}
#bookingControl #ctrlSearchBox_dropCountryOfResidence {
	width:316px;}

#bookingControl #rightCol #bottomRight a {
    background-color: #e95f40;
    background: -webkit-gradient(linear, left top, left bottom, from(#e95f40), to(#bb4c33));
    background-image: linear-gradient(to bottom, #e95f40, #bb4c33);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e95f40', endColorstr='#bb4c33');
    
	background-repeat: repeat-x;
    border: 1px solid #9f412c;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    cursor: pointer;
    font-size: 15px;
    padding: 9px 10px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    transition: background 1s ease-in-out 0s;
    width: 100px; 
	text-decoration:none;    
	position: absolute;
	bottom: -93px;
	right:58px;
}
#vehicleConfigureContainer #bookingControl #rightCol #bottomRight a {
	bottom:35px;
	right:20px;
}

#bookingControl #rightCol #bottomRight a:hover {
	background-color: #bb4c33;
	background: -webkit-gradient(linear, left top, left bottom, from(#bb4c33), to(#bb4c33));
    background-image: linear-gradient(to bottom, #bb4c33, #bb4c33);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bb4c33', endColorstr='#bb4c33');
}

#ctrlValidationMsg {
    display : block;
    float: right;
    overflow:hidden;
    color :#333;
    font-size: 9px;
    visibility : hidden;    
}

/* calendar theme */
.calendar .title, .calendar .nav,.calendar .button,.calendar thead .name,.calendar thead .hilite,.calendar tbody .rowhilite td {
    background-color : #E9ECEB !important;
	color:#000000;
}

#ctrlValidationMsg {
    display:block;    
    font-size:9px;
    overflow:hidden;
    visibility:hidden;    
    padding-left: 18px;    
}

#bookingControl .TimeSpan input.required {
   background-color : #fff94a;
}

#bookingControl select.required {
   background-color : #fcff10;
} 
#ctrlValidationMsg.required {
    visibility : visible;
    background:  transparent url(../../images/x/icons/error_square.gif) no-repeat 4px 0 !important; 
}

#bookingControl span.required {
    /*background:  transparent url(../../images/x/icons/required_arrow.gif) no-repeat 159px 0;*/
}

#bookingControl #ctrlSearchBox_dropPickUpTime, #bookingControl #ctrlSearchBox_dropDropOffTime {
    width:155px;
    float:right;
	
}

#bookingControl #ctrlSearchBox_calPickUp_DateText, #bookingControl #ctrlSearchBox_calDropOff_DateText {
    width:140px;
    float : left;
	text-align:center;
	
}

#bookingControl select, #bookingControl input {
    font-size: 13px;
	padding:5px;
	margin-top:10px;
	
}

#bookingControl #centreCol span.TimeSpan {
	width:316px;
	padding-left:12px;
	padding-right:12px;
	height:47px;
	border-top:1px solid #EFEFEF;
	border-right:1px solid #FFF;
	float:Left;
	}
#vehicleConfigureContainer #bookingControl #centreCol span.TimeSpan {
	width:316px;
	padding-left:12px;
	padding-right:12px;
	height:47px;
	border-top:none;
	border-right:none;
	float:Left;
	}
	

#bookingControl #centreCol span.TimeSpan.CofR {
	width:703px;
	float:left;
	border-top:1px solid #EFEFEF;
	border-bottom:1px solid #EFEFEF;
}

#bookingControl #centreCol span { margin-bottom:0px;}

#bookingControl #leftCol span.Radios {
	height:40px;
	padding-top:7px;
	border-bottom:1px solid #EFEFEF;
	border-top:1px solid #EFEFEF;
	border-right:1px solid #EFEFEF;
	}



#bookingControl #rightCol #bottomRight #locationsPanel {
	width:376px;
	padding-left:12px;
	padding-top:10px;
	background: url(../../images/c/linebg.jpg) repeat-x 0 47px;
}

#vehicleConfigureContainer #bookingControl #rightCol #bottomRight #locationsPanel {
	width:376px;
	padding-left:12px;
	padding-top:10px;
	background: none;
}