﻿html {
	min-width:800px;
}
img {border:0px; }

body {
	background:#FFF url(../../images/a/background.jpg) repeat-x scroll left top;
	min-width:800px;
}
 
#vehicleSelectionContainer, #vehicleConfigureContainer, #paymentContainer {
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 800px;    
    border: solid 0px #fff;
}

/* Header */
#catalogHeader {
    float : left;
    width: 800px;
	margin-left:12px;
	background:#fffFFF url(../../images/a/header.jpg) no-repeat right center;
	height:106px;
	position:relative;
}

#catalogHeader span.Image {
    float: left;
    width: 216px;
    height : 94px;
    margin:0px;
	border:none!important;!
}
#catalogHeader span.Image a {
	border:none!important;
	text-decoration:none!important;
}

#catalogHeader span.ContactInfo {
    margin: 0;
    float: left;
    display : block;
    width : 550px!important;
    color:#FFFFFF;
    font-family: Verdana,Arial;
    font-size:11px;
    text-decoration: none;   
	position:absolute;
	top:8px;
	right:0px;  
	text-align:right;   
}

#catalogHeader span.ContactInfo a {
    text-decoration: none;
}

#catalogHeader span a {
    color:#fff;
    text-decoration: underline !important;
}

/* Booking Control */
#bookingControlContainer {
	/*background-color:#fff;
    float: left;
    width: 800px;
    margin-left:12px;
    height : 210px;    */
	background: url("../../images/a/booking-bg.png");
    float: left;
    height: 233px;
    width: 800px;
    margin-left:12px;
}

/* crumbs panel */
#breadCrumbs {
    float: left;
    height: 45px;
    padding-bottom: 30px;
    margin-left: 12px;
    padding-left: 12px;
    width:788px;
	background:#FFF;
}

#breadCrumbs span.Crumbs {
    float : left;
    font-size : 11px;
    margin: 14px 0 0 0px;
}
#breadCrumbs span.Crumbs a {
    color: #247ac3;
    text-decoration: none; 
}
#breadCrumbs span.Crumbs a:hover {
    text-decoration: underline; 
}

#breadCrumbs ul {
    background: url("../../images/a/sprites.png") no-repeat scroll 0 -725px transparent;
display: block;
float: left;
font-size: 9px;
height: 35px;
margin-left: -12px;
width: 800px;
margin-top:14px;
} 

#vehicleConfigureContainer #breadCrumbs ul {
background-position: 0 -760px;
}

#stepsDisplayer li {
    padding :0;
    margin : 0;
    float : right; 
    height : 32px;
    width : 63px;  
	font-weight:bold;   
	color:#7a8f00;  
}

#stepsDisplayer span {
    display: none;
    float : right;
    height : 31px;
    width : 67px;
    /*background:transparent url(../../images/a/icons/wizard_stages.gif) no-repeat  0 0;*/
    padding-top: 20px;     
}

#stepsDisplayer #PaymentStep {
    background-position : -256px 0;  
    color:#4d512d;  
}

#stepsDisplayer #ConfigureStep {
    background-position : -134px 0;
    color:#4d512d;
}

#stepsDisplayer #SelectStep {
    background-position:-12px 0;  
	color:#000000;
}

/* Catalog container */
#vehicleCatalogContainer {
	

    float : left;
    width: 800px;
    margin-left: 12px;   
    padding-left:0px;
	padding-top:20px;
	background:#FFF;
}

* html #vehicleCatalogContainer {
    margin-left: 6px;
}

#vehicleCatalogContainer h2 {
    color:#284c94;
    font-size:18px;
    font-weight:bold;
	padding-bottom:5px;
	margin-bottom:15px;
	border-bottom:1px solid #247ac3;
	margin-left:0px;
	width:790px;
	padding-left:10px;
}

#vehicleCatalogContainer .VehicleItem div.Limited .Top a {
	color:#247ac3 !important; /* REMOVE FROM BASE.CSS */
}

#vehicleCatalogContainer .VehicleItem div.Limited .Top a:hover {
	color:#247ac3; 
	text-decoration:underline;
}

#vehicleCatalogContainer .VehicleItem div.Limited .EmailLink a {
	color:#7A8F00;
	display: block;
	background:transparent url(../../images/a/btn/btn_matrix.png) no-repeat  0 -560px;
    text-indent: -1000px;
    overflow: hidden;
	height: 31px;
    width: 125px;
	margin-left: 13px;
}

#vehicleCatalogContainer .VehicleItem div.Limited .EmailLink a:hover {
	color:#7A8F00 !important; /* REMOVE FROM BASE.CSS */
	text-decoration:underline;
}

#vehicleCatalogContainer .VehicleItem div.Limited .Top a.Quest { /* REMOVE FROM BASE.CSS */
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background : #fff url(../../images/a/icons/questMark.gif) no-repeat  0 0 !important;
	height:15px;
	margin-left:2px;
	overflow:hidden;
	text-indent:-1000px;
	width:15px;
}

#resultsHeader {
    width: 800px;
    height:30px;
    font-size : 12px;
    color : #4a4a4a;
	margin-bottom:10px;
}

#resultsHeader h3 {
    font-size : 11px;
    color : #4a4a4a;
    font-weight : normal;
    float : left;
    width : 380px;
    margin : 8px;
}

#resultsHeader span {
    float : right;
    display : block;
    text-align: right; 
    margin:4px;   
}

#vehicleCatalog {
    display : block;
    width : 800px;
}

/* Vehicle Row */
#vehicleCatalog .VehicleItem {
    width : 760px;    
    float : left;
    border-top: 1px solid #247ac3;  
}

#vehicleCatalog div.VehicleItem {
    float : left;  
    width : 800px;
    /*background: url("../../images/a/content-background.jpg") repeat-x;*/
}

#vehicleCatalog .VehicleItem a.VehicleThumb {
    display : block;
    float : left;
    text-decoration : none;
    margin-left: 3px;
    border: 0;   
	width: 75px;                 
}

#vehicleCatalog .VehicleItem a.VehicleThumb img {
    border : 0;    
}

#vehicleCatalog .VehicleItem div {
    float : left;
    text-decoration: none;
}

#vehicleCatalog .VehicleItem div.VehicleFeatures {
    width: /*210px;*/ 238px;
    margin-left:3px;    
}

#vehicleCatalog .VehicleItem div.VehicleFeatures a {
    color:#247ac3;    
    font-size:18px;
    text-decoration : none; 
    display : block;   
	margin-bottom:5px;   
}

#vehicleCatalog .VehicleItem div.VehicleFeatures a:hover, .ShowPriceList:hover {
    text-decoration : underline;
    color: #247ac3 !important;
}

#vehicleCatalog .VehicleItem div.PriceDescription {
    width: /*250px;*/ 270px;
    margin-left: 3px; 
}

#vehicleCatalog .VehicleItem div.PriceDescription a.Avail, #vehicleCatalog .VehicleItem div.PriceDescription a.OnRequest {
    color:#247ac3;
    font-size:13px;
    text-decoration : none;
    margin : 3px 0 3px 0;
    display : block;
}

#vehicleCatalog .VehicleItem div.PriceDescription .AvgPrice {
    display : block;
    float : left;
    color : #7B7B7B;
}

#vehicleCatalog .VehicleItem .ShowPriceList, #vehicleChargeDetails  .ShowPriceList {
    display : block;
    float : left;
    height : 15px;
    width: 170px;
    color : #247ac3;
    font-size: 10px;
    font-weight : normal;
    margin : 8px 0 3px 0;
    padding-left: 18px;
    background:transparent url(../../images/a/icons/price_list_expand.gif) no-repeat  0 0;
    cursor : pointer;
}

#vehicleCatalog .Collapse .ShowPriceList, #vehicleConfigureContainer .Collapse .ShowPriceList {
   background-position : 0 -15px;
}

#vehicleCatalog .VehicleItem div.PriceDescription li {
    float: left;
    margin: 0;
    padding : 0; 
}

#vehicleCatalog .VehicleItem div.PriceDescription span {
    color:#8B8B8B;
    font-size:11px;
    display : block;
    float: left;
    clear: both;      
}

#vehicleCatalog .VehicleItem div.PriceDescription span.SavePrice {
    background:transparent url(../../images/a/tiles/saveBG.gif) no-repeat  0 0;
    height: 45px;
    width: 110px;
    color: #fff;    
}

#vehicleCatalog .VehicleItem div.PriceDescription span.SavePrice small {
    margin: 26px 0 0 10px;
    height:10px;
    width: 100px;
    float: left;
    clear: both;
}


#vehicleCatalog .VehicleItem div.TotalPrice {
    width: 118px;   
}

#vehicleCatalog .VehicleItem div.TotalPrice li span {
    color:#247ac3;
    font-size:13px; 
	font-weight:bold;   
}

#vehicleCatalog .VehicleItem div.TotalPrice li span.Fp {
    color:#8B8B8B;
    font-family:Verdana;
    font-size:11px;
}

#vehicleCatalog .VehicleItem a.SelectBtn {
    display : block;
    float : left;
    width: 72px;
    height: 25px;
    margin-top: 5px;
    background:transparent url(../../images/a/btn/btn_matrix.png) no-repeat  0 -158px;
    text-indent: -1000px;
    overflow: hidden;
    text-decoration: none; 
}

/* details list */
#vehicleCatalog .Collapse div.PriceDetailsList {
    display : none;
} 

#vehicleCatalog div.PriceDetailsList {
    float : left;   
    color: #4A4A4A;
    width : 702px;
    padding-left:58px;    
}

#vehicleChargeDetails div.PriceDetailsList {
    float : left;   
    color: #4a4a4a;
    margin : 0 18px 0 18px;
    clear : both;
    width : 725px;
}

#vehicleCatalog div.PriceDetailsList table {
    margin: 0 0 15px 20px;
    background:#f9f9f9;
}

#configurePanel div.PriceDetailsList table {
    width: 745px !important;
    background: #f9f9f9;
}

#vehicleCatalog div.PriceDetailsList th {
    font-size : 11px;
    font-weight: bold;
    height :34px;
    background:#e9e9e9;
    color: #4A4A4A;
    padding-left:5px;
}

#vehicleChargeDetails div.PriceDetailsList th {
    font-size : 10px;
    font-weight: bold;
    height :34px;
    background: #E9E9E9;
    color: #4a4a4a;
}

#vehicleCatalog div.PriceDetailsList td, #vehicleChargeDetails div.PriceDetailsList td {
    padding : 2px 2px 2px 5px;
}

#vehicleChargeDetails div.PriceDetailsList td {
    font-size : 10px;
}

#vehicleCatalog div.PriceDetailsList td.TotalTD, #vehicleChargeDetails div.PriceDetailsList td.TotalTD{
    font-weight : bold;
}

#vehicleCatalog div.PriceDetailsList th.RateTH {
    width: 220px;
}

#vehicleChargeDetails div.PriceDetailsList th.RateTH {
    width: 220px;
    background: #E9E9E9;
}

#vehicleCatalog div.PriceDetailsList th.FreeTH, #vehicleChargeDetails div.PriceDetailsList th.FreeTH{
    width: 90px;
}

div.NoFreeDays th.FreeTH, div.NoFreeDays td.fd {
    display: none;
}

#vehicleCatalog div.PriceDetailsList th.HireTH {
    width: 90px;
}


div.PriceDetailsList .popup {
    color: #247ac3;	
    cursor: pointer;
}

#vehicleChargeDetails div.PriceDetailsList th.HireTH {
    width: 145px;
}

/*#vehicleCatalog div.PriceDetailsList th.PerTH {
    width: 150px;
}
#vehicleChargeDetails div.PriceDetailsList th.PerTH {
    width: 154px;
}*/


#vehicleCatalog div.PriceDetailsList th.TotalTH {
    width: 80px;
}

 #vehicleChargeDetails div.PriceDetailsList th.TotalTH {
	width: 80px;
 }

#vehicleCatalog div.PriceDetailsList td, #vehicleCatalog div.PriceDetailsList td {
    font-size : 11px;    
}

#vehicleSelectionContainer #disclaimer, #vehicleConfigureContainer #disclaimer {
    background: url("../../images/a/footerbg.png") no-repeat scroll center top transparent;
color: #4a4a4a;
float: left;
font-size: 11px;
font-weight: normal;
height: 145px;
padding-left: 60px;
padding-top:60px;
width: 780px;
margin-bottom:30px;
margin-left:-8px;
z-index:-1;
	
}

#vehicleCatalog .VehicleItem div.TotalPrice li.Hide {
    display:none;
}

#vehicleCatalog .VehicleItem div.TotalPrice li.Fp span {
    color:#8B8B8B;
    font-size:11px;
	font-weight:normal;
}

/* Vehicle Row Branded */

#vehicleCatalog .VehicleItem span.BrandThumb  {
    display : block;
    float : left;
    text-decoration : none;                  
}

#vehicleCatalog li.Branded .VehicleItem div.PriceDescription span {
     font-size : 9px;
}

#vehicleCatalog li.Branded .VehicleItem div.PriceDescription {
    width: 180px; 
}

#vehicleCatalog div.VehicleItem {
    padding:15px 0;
}

#vehicleCatalog .Step1A {
    float: left;
    width: 740px;
    background-color: #fff;
    font-size: 11px; 
    padding: 10px 0 10px 44px;   
}

#vehicleCatalog .Step1AWrap div {
     background-color: #fff1a3;
     font-size: 11px;     
}

/* Configure Page */
#vehicleConfigureContainer .CofR, #vehicleConfigureContainer .Radios, #vehicleConfigureContainer .Model, #vehicleConfigureContainer .Passengers {
    display : none;
}
#vehicleConfigureContainer #bookingControl #rightCol #bottomRight a {
    margin-top: 10px;
}
#vehicleConfigureContainer #bookingControl {
    margin-top:23px;
	margin-left:30px;
	height: 135px !important;
	
}




#vehicleConfigureContainer #ctrlValidationMsg {
    margin-top : 0;
} 

#vehicleConfigureContainer #bottomRight span {
    display : inline;
}

#vehicleConfigureContainer #stepsDisplayer #ConfigureStep {
    background-position:-67px 0 !important;
	color:#000000 !important;
}

#vehicleConfigureContainer #promptTextArea, #quoteDisclaimer {
    float : left;
    width: 720px;
    height : 56px;
    background : url(../../images/icons/exMark.png) no-repeat 0px 0px;
    overflow : hidden;    
    margin:  5px 0 0 20px;
    border : solid 1px #247ac3;
    font-size : 11px;
    color: #4a4a4a; 
}


#vehicleConfigureContainer #promptTextArea span {
    margin: 10px 20px 0 50px;
    display :block;
}

#vehicleConfigureContainer #configurePanel {
    float: left;
    width : 786px;
}

#configurePanel .Hide{   
    display:none;
}

#vehicleConfigureContainer #topHeader {
    width: 760px;
    height : 34px;
    float : left;
}

#vehicleConfigureContainer #topHeader small, #vehicleConfigureContainer #topHeader select, #resultsHeader small, #resultsHeader select {
    font-size: 11px;
    color:#4A4A4A;
}


#vehicleConfigureContainer #vehicleTopPanel {
    float : left;
    width: 800px;
    border-bottom:1px solid #247ac3;
    margin-bottom : 10px;
}

#vehicleConfigureContainer #topHeader h3 {
    float : left;
    display :block;
    margin : 38px 0 0 14px; 
}

#vehicleConfigureContainer #topHeader span, #paymentPanel #topHeader span {
    float : right;
    display : block;
    margin : 5px 4px 5px 0;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader {
    width: 350px;
    float : left;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader div {
    float : left;
    clear: both;
    width: 100%;
	    padding-bottom: 15px; 
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader a {
    color:#247ac3;
	font-weight:bold;
    text-decoration: none;
	
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader a:hover {
    text-decoration: underline;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader h3 {
    font-size: 20px;
    margin-left:12px;
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader h3, #vehicleConfigureContainer #configurePanel div.VehicleHeader h4, #vehicleChargeDetails h4, #insurancePanel h4, #hireItemsPanel h4, #ferryPanel h4 {
    color : #247ac3;    
    padding-bottom : 10px; 
	margin-right:5px; 
}

#vehicleConfigureContainer #configurePanel div.VehicleHeader span {
    display : block;
    font-size : 11px;
    margin: 5px 0 0 10px;
    float:left;
    width: 500px;          
}

#vehicleConfigureContainer #configurePanel div.VehicleImages {
    width: 386px;
    float : right;
}

#vehicleConfigureContainer #configurePanel div.VehicleImages .Left {
    float : left;
    width: 210px;
}

#vehicleConfigureContainer #configurePanel div.VehicleImages .Left img {
    float : right;
    clear : both;
}

#vehicleConfigureContainer #configurePanel div.VehicleImages .Right {
    float : right;
    margin-right:10px;
}


#vehicleChargeDetails {
    float: left;
    margin-bottom: 18px;
    padding-bottom:20px;
    border-bottom:1px solid #247ac3;
	width:800px;
}

#configurePanel h4, ferryPanel h4{
    float :left;
    clear: both;
    font-size:14px;
    font-weight:bold;
    margin-left: 10px;
}

#configurePanel em {
    font-style:normal;
}

#vehicleConfigureContainer a.Quest {
    display : block;
    width: 14px;
    height: 14px;
    background : #fff url(../../images/a/icons/questMark.gif) no-repeat  0 0;
    float: left;
    overflow: hidden;
    text-indent: -1000px;
}


#vehicleConfigureContainer a.QuestText
{
    display: block;
    height: 14px;
    float: left;
    overflow: hidden;
}

#vehicleConfigureContainer a.QuestText:hover
{
    color: #3366CC;
}

#vehicleChargeDetails a.PopUp {
    float: left;
}

#vehicleChargeDetails #ChargeHeader {
    float : left ;
    display : block;
    clear : both;
    width:100%;
}

#vehicleChargeDetails #ChargeHeader span.Title {
    width: 200px;
    height: 20px;
    display:block;
    float: left;
}

#vehicleChargeDetails #ChargeHeader span.Total {
   display:block;
    float: right;
    margin-right:38px;
    font-size: 13px; 
}


#vehicleChargeDetails a.ShowPriceList {
    width : 80px;
    margin: 0 0 0 10px;
    float: left;
}

#vehicleChargeDetails a.ShowPriceList:focus {
    -moz-outline-style: none;

}

#vehicleChargeDetails a.ShowPriceList:active {
    outline: none;
}

#vehicleChargeDetails.Collapse div.PriceDetailsList {/* on collapse */
    display : none;
}

#vehicleCatalog .VehicleItem div.PriceDescription a.Avail:hover, #vehicleCatalog .VehicleItem div.PriceDescription a.OnRequest:hover {
    text-decoration : underline;
    color: #247ac3;
}


#vehicleChargeDetails #ChargeHeader small {
    font-size : 11px;
    float: left;
    margin-left:74px;
}

#vehicleChargeDetails #ChargeHeader span.Title {
    width: 360px;
    height: 20px;
    display:block;
    float: left;
}

#configureUpdatePanel .Total {
    width: 800px;
    line-height: 60px;
    color:#FFF;
    font-size:17px;
    font-weight:bold;
    margin-top:15px;
    padding-left: 5px;
}

#configureUpdatePanel .Total label {
    float : left;
}

#configureUpdatePanel .Total span.Price {
    float : right;
    clear : none;
    margin-right:25px;
}

#allInclusivePanel{
    width : 725px;
    margin: 0 18px;
    float : left;
    clear: both ;   
}
#allInclusivePanel table {
	margin-top:15px;
	width: 744px;
}

#allInclusivePanel small, #insurancePanel td, #hireItemsPanel td {
    font-size:11px;
}


#allInclusivePanel td.pr small { margin-left: 46px;}
#allInclusivePanel td.total small { margin-left: 141px;} 
 


.max{
	margin-left:10px;
}


#allInclusivePanel td.cb, #insurancePanel td.cb, #hireItemsPanel td.cb, #ferryPanel td.cb {
    width:50px;
}


#insurancePanel td.desc, #hireItemsPanel td.desc {
    width:248px;
}
#allInclusivePanel td.desc { width: 169px; }

#allInclusivePanel td.desc small {
    display:block;
    float:left;
    margin-right:5px;
}


#insurancePanel td.days, #hireItemsPanel td.days {
    width: 80px;
}

#allInclusivePanel td.days { width: 100px; }

#insurancePanel td.price, #hireItemsPanel td.price {
    width: 250px;
}


#allInclusivePanel td.pr {
    width: 158px;    
}

#allInclusivePanel #allInclusiveDetails table {
    background: #f9f9f9;
    width: 745px;
	padding:10px 0;
}

#allInclusivePanel table ul li {
    list-style: none;
    margin-left: 55px;
    color:#4a4a4a;
	padding:4px 0;
}

#insurancePanel {
    border-bottom:1px solid #247ac3;    
    width:800px;    
    float: left;
    padding-bottom: 20px;    
}

#insurancePanel table, #hireItemsPanel table, #ferryPanel table {
    margin: 0 0 0 19px;
    clear: both;
}

#insOptionsTable tr td ul li {
	padding:5px 0; 
}

#insurancePanel table small, #hireItemsPanel small, #hireItemsPanel label{
    display:block;
    margin-bottom:4px;
    font-size: 11px;
}

#insurancePanel span {
    display: block;
    float: left;
    clear: both;
    color: #656565;
    font-size: 10px;
    margin-left: 20px;
    width:700px;
}

#insurancePanel .AgeSelector{
    display: block;
    /*display: none;*/
    float: left;
    width:228px; 
    clear: none;    
}

.quote #insurancePanel .AgeSelector {
	width: 
}

#insurancePanel .AgeSelector input { margin-left: 20px; }

#insurancePanel .Show {
    display: block;
}


div.Campervan #vehicleCatalogContainer #configurePanel #insurancePanel .AgeSelector{
    /*display: none !important;*/
	width: 240px;
}


#insOptionsTable.Under21 tr.Over21 {
    display : none !important;
}

#insOptionsTable.Over21 tr.Under21 {
    display : none !important;
}



#hireItemsPanel, #ferryPanel {
    margin-top: 10px;
    border-bottom:1px solid #247ac3;   
    width: 800px; 
    float: left;
    clear: both;
    padding-bottom: 10px; 
}
#hireItemsPanel table tr, #ferryPanel table tr {
	padding:5px 0;
	float:left;
}

.quote #hireItemsPanel table tr { 
	float: inherit !important;
}

#ferryPanel table {
    width: 800px;
	padding:10px;
    background: #f9f9f9;
	margin-left:0px;
	border-bottom:2px solid #FFF;
}
#ferryPanel table .total {
	text-align:right;
	width:210px;
}
#ferryPanel table .pax td.total {
    font-size: 11px;    
}

#ferryPanel .vehicleTable td.desc  {
     width:477px;          
}

#ferryPanel td.desc  {
     width:245px;          
}



#ferryPanel td.price  {
     width:315px;          
}


#ferryPanel td small { 
    font-size: 11px;
}

#ferryPanel table.Hide {
    display : none;
}

#configureUpdatePanel span {
    display : block;
    float: left;
    clear: both;
    margin-left: 20px;
}

#configureUpdatePanel .Total {
    width: 775px;
    line-height: 60px;
    color:#4a4a4a;
    font-size:17px;
    font-weight:bold;
    margin-top:15px;
    background: #ffd503;
	margin-left:0px;
	padding:0 0 0 25px;
}

#configureUpdatePanel .Total label {
    float : left;    
}

#configureUpdatePanel .Total small {
    float : right;   
}

#configureUpdatePanel .TaxMsg {
    margin: 5px 0 15px 20px;
    font-size: 11px;
    width: 100%; 
}

#configureUpdatePanel .Submit {
    display: block;
    width:760px;
    height:40px;
}

#configureUpdatePanel .Submit .BackBtn {
    float: left;
    display: block;
    background : url(../../images/a/btn/btn_matrix.png) no-repeat transparent 0 -399px;
    height: 23px;
    width: 145px;
    overflow:hidden;
    text-indent:-1000px;
}

#configureUpdatePanel .Submit .BackBtn:hover {
    background-position: 0 -479px;
}

#configureUpdatePanel .Submit input {
    float: right;
    background : url(../../images/a/btn/btn_matrix.png) no-repeat transparent -400px -159px;
    border: 0px;
    height: 23px;
    overflow: hidden;
    text-indent:-1000px;
    text-transform: capitalize;/*ie ;o(*/
    width:143px;      
}

#configureUpdatePanel .Submit input:hover {
    background-position: -400px -239px;   
}

#tooltip {
    background: #247ac3 url(../../images/a/tiles/background.png) repeat-x 0 0;
    color: #4A4A4A;
    border: solid 2px #247ac3;
}

.bubbleBody  {
    font-size: 9px;
    color: #7e1f03;     
}

.bubbleBody h3 {
    font-size: 11px;
    color: #fff;
	margin-bottom:8px !important;
}

.bubbleBody td { 
    color: #247ac3;
}

.bubbleBody .total td { 
    color:  #4A4A4A;
}

.bubbleBody .note {
    float : left;
    clear : both;
    color: #247ac3;   
}

/* Payment Page Statrs Here */

#paymentContainer  #stepsDisplayer #PaymentStep {
    background-position:-256px 0;
}
#paymentContainer #stepsDisplayer {
background-position: 0 -800px;
}
#paymentPanel {
    float: left;
    width: 783px;
    font-size: 11px;     
}

#paymentPanel div {
    float: left;
    width: 745px;    
}

#paymentPanel #rentalSummary h3 {
	 width: 715px;
	 
}

#paymentPanel #depositPanel, #paymentPanel #creditCardDetails, #paymentPanel #termsAndConditions, #paymentPanel #personalDetails  { 
	width: 730px; /* fix base refactor */
}

#paymentPanel #topHeader span {
    margin: 10px 0 0 0;
}

#paymentContainer #stepsDisplayer {
    width:800px;
	margin-left:-12px;
} 

#paymentPanel #rentalSummary, #paymentPanel #depositPanel {
    /*background: url("../../images/a/dark-background.jpg") repeat scroll left top transparent;
   padding:5px 0 5px 5px;*/
   margin: 5px 0 0 0px;
}

#paymentPanel h3 {
color:#247ac3;
font-family:Verdana;
font-size:18px;
font-weight:bold;
padding-left:10px;
}

#paymentPanel big {
    float: left;
    width: 790px;
    margin: 10px 0 10px 0;
    color:#247ac3;
    font-family:Verdana;
    font-size:14px;
    font-weight:bold;
    padding-top:10px;
	padding-left:10px;
}

#paymentPanel small {
    font-size: 11px;
}

#paymentPanel #rentalSummary big.ChargeSum {
    border-top:1px solid #247ac3;
}

#paymentPanel #rentalSummary table {
    float: left;
}

#paymentPanel #rentalSummary #travelDetails {
    float: left;
    width:500px;
    margin: 0;
}

#paymentPanel #rentalSummary #travelDetails big  {
    color:#247ac3;
    font-family:Verdana,Helvetica,sans-serif;
    font-size:14px;
    font-weight:bold;
    margin: 20px 0 10px 0;
	}

#paymentPanel #rentalSummary #travelDetails td {
    vertical-align: top;
}

#paymentPanel #rentalSummary #travelDetails .lbl {
    width: 85px;
}

#paymentPanel #rentalSummary #travelDetails .date {
    width: 240px;
}

#paymentPanel #rentalSummary table.ChargeTable {
    width: 745px !important;/* fix base refactor */
	margin-left: 22px !important;/* fix base refactor */
    border-bottom: 1px dotted #247ac3;
	margin-bottom:5px;
}



#paymentPanel #rentalSummary .ChargeTable tr.Totals td small {
    margin: 10px 0 10px 0;
    font-size:12px;
    font-weight:bold;
    color:#247ac3;
    font-family:Verdana,Helvetica,sans-serif;
    display: block;
	text-transform:uppercase;
}

#paymentPanel #rentalSummary .ChargeTable .title {
    width: 350px;
}

#paymentPanel #rentalSummary div.Disclaimer {
    padding-top: 5px;
	padding-left:22px;
	font-style:italic;
}

#paymentPanel #rentalSummary .ChargeTable .desc {
    width: 215px;
}

#paymentPanel #rentalSummary .ChargeTable .cur {
    width: 60px;
}

#paymentPanel #rentalSummary .ChargeTable .price {
    text-align:right;
	padding-right:5px;
}

#paymentPanel #rentalSummary #vehicleSpecs {
    float: right;
    width: 205px;
}

#paymentPanel #rentalSummary #vehicleSpecs img {
    float: right;
    padding-right: 10px;
}

#paymentPanel #rentalSummary #travelDetails table.TravelTable, #paymentPanel #rentalSummary #travelDetails big {
    float : left;
    width: 520px;    
	padding-left:10px;
}

#paymentPanel #creditCardDetails {
    margin:15px 0 0 0px;
    border-bottom: 1px solid #247ac3;
    padding-bottom: 5px;  
	width:790px;
	padding-left:10px;
	
}

#paymentPanel #creditCardDetails h3 {
    margin-top: 20px;
	padding-left:10px;
	margin-left:-10px;
	border-bottom:1px solid #247ac3;
	color:#284c94;
	padding-bottom:5px;
}

#paymentPanel #creditCardDetails big {
    margin : 0;
	padding-left:0px;
}

#creditFormContainer {
	margin-bottom:10px;
}

#ccDesclaimerTxt {font-style:italic;}
#paymentPanel #creditCardDetails #creditFormPanel {
    width: 560px;
    float: left;
}

#paymentPanel #creditCardDetails #creditFormPanel label, #paymentPanel #personalDetails label {
    width : 138px;
    display: block;
    float: left;
}

#paymentPanel #creditCardDetails #sealPanel {
    float: right;
	background :url(../../images/icons/dps_mighty.gif) no-repeat  0 16px;
    display : block;
	width:140px;
	height:100px;
}

#paymentPanel #personalDetails {
    margin:5px 0 0 0px;
    border-bottom: 1px solid #247ac3;
    padding-bottom: 20px; 
	width:800px;
}
#personalDetails ul {
	padding-left:10px;
}
#paymentPanel #personalDetails p, #paymentPanel #creditCardDetails p {
    float: left;
    clear: both;
    margin-top: 5px;    
}

/* Payment Form */
#paymentPanel #cardTypeDD {
    width: 154px;
}

#paymentPanel #cardNumberTxt {
    width: 150px;
    float: left;
}

#paymentPanel #cardHolderName {
    width: 150px;
}

#confirmEmailAddressTxt, #customerFirstName, #customerLastName, #emailAddressTxt {
    width: 265px;
    float: left;
}

#telephoneTxt3 {
    width: 120px;
}

#paymentPanel #personalDetails .number {
    display: block;
    float: left;
    margin-right: 10px;    
}

#paymentPanel #personalDetails .number small {
    font-size: 11px;
}

#paymentPanel #personalDetails .PhoneNumber {
    display: block;
    width: 550px;
    float: left;
}

#otherTravellers table th {
    font-weight: normal;
}

#paymentPanel #personalDetails .number small, #paymentPanel #personalDetails .number input {
    float: left;
    clear: both;
}

#paymentPanel #otherTravellers, #paymentPanel #termsAndConditions, #paymentPanel #footerPanel {
    margin:5px 0 0 20px;
}
#termsAndConditions big {
	padding-left:0px;
}

#paymentPanel .onRequest .Buttons .SubmitBtn {
    background:#FFFFFF url(../../images/a/btn/RequestNow.gif) no-repeat scroll 0 0 !important;
}

#paymentPanel #otherTravellers td.lbl {
    width : 145px;    
}

#paymentPanel #otherTravellers table {
    clear: both;
}

#paymentPanel #termsAndConditions input{
    float : left;
    display: block;    
}

#paymentPanel #termsAndConditions span {
    display: block;
    width : 700px;
    float : left;
    margin-left: 3px;
}

.PopUp{
	color:#247ac3;
}

#payTotalPanel {
    margin: 20px 0 0 0;
    width: 750px !important;
}

#payTotalPanel span, #payTotalPanel input {
    float: right;
}

#payTotalPanel span {
    color:#247ac3;    
    font-size:12px;
    font-weight:bold;
    margin-right: 5px; 
}

#paymentPanel #depositPanel .left {
    margin: 0;
    display: block;
    float: left;
    width: 240px;
}

#paymentPanel #depositPanel .left big, #paymentPanel #depositPanel .left small {
    padding : 0;
    margin: 10px 0 0 0;
    float :left;
}

#paymentPanel #depositPanel .left big{
	font-size:17px;
}

#paymentPanel #depositPanel .right {
    margin: 0;
    display: block;
    float: right;
    width: 240px;
    text-align:right;
    margin: 0;
    padding : 0;
}

#paymentPanel #depositPanel .right small {
    float: right;
    margin: 0 0 10px 0;
}

#paymentPanel #depositPanel .right big {
    float: right;    
    margin: 5px 0 10px 0;
    padding : 0;
    font-size : 17px;   
}

#paymentPanel #footerPanel span {
    display: block;
    float: left;
    clear: both;
    width: 725px;
    padding: 5px;
}

#footerPanel input {
    float: right;
    background : url(../../images/a/btn/btn_matrix.png) no-repeat  -600px -160px;
    border: 0px;
    height: 40px;
    overflow: hidden;
    text-indent:-1000px;
    text-transform: capitalize;/*ie ;o(*/
    width:143px;      
}

#footerPanel input:hover {
    background-position: -600px -240px;     
}

#paymentPanel .Submitting .Buttons{
    background : url(../../images/tiles/ajax-loader.gif) no-repeat  228px 9px;
}

#footerPanel a {
    float: left;
    display: block;
    background : url(../../images/a/btn/btn_matrix.png) no-repeat transparent 0 -399px;
    height: 23px;
    width: 143px;
    overflow:hidden;
    text-indent:-1000px;
}

#footerPanel a:hover {
    background-position: 0 -479px;
}

#paymentContainer #disclaimer {
    background: url("../../images/a/footerbg.png") no-repeat scroll center top transparent;
    color: #4A4A4A;
    float: left;
    font-size: 11px;
    font-weight: normal;
    height: 145px;
    margin-bottom: 30px;
    margin-left: -8px;
    padding-left: 60px;
    padding-top: 60px;
    width: 780px;
    z-index: -1;
}

/* validation */

#paymentForm label.error {
    float: right !important;    
    width: 247px !important; 
}  

#cardExpiryMonthTxt, #cardExpiryYearTxt, #cardExpirySpan span {
    float: left;
}

#telephoneTxt1, #telephoneTxt2, #telephoneTxt3 {
    width: 60px;
}


/* EmailForm */
#paymentPanel #infoPanel p {
	margin-bottom: 20px;	
}

#paymentPanel #infoPanel img {
	float: right;
	margin: 10px;
}

#paymentPanel div.FormSection {
    border-bottom:1px solid #5892A1;
    width: 720px;
    margin-left: 20px;
    padding-bottom:20px;
    padding-top:20px;
}

#paymentPanel div.FormSection label {
    display:block;
    float:left;
    width:138px;
}

#personalDetailsForm  p {
    clear:both;
    float:left;
    margin-top:5px;
}

#personalDetailsForm  p .number small, #personalDetailsForm  p .number input {
    clear:both;
    float:left;
}

#personalDetailsForm  p .number {
    display:block;
    float:left;
    margin-right:10px;
}

#personalDetailsForm  p .PhoneNumber {
    display:block;
    float:left;
    width:550px;
}

#personalDetailsForm  p #countryOfResidenceDD, #personalDetailsForm  p #customerTitleDD {
    width: 270px;
}

#personalDetailsForm  #contactSelector label.title, #personalDetailsForm  #contactSelector input {
    float: left;
    width: auto;
    margin-left: 10px; 
}

#bottomPanel, #rentalsDetailsForm {
    border-bottom: none !important;
}

#rentalsDetailsForm span, textarea {
    margin-top: 20px;
    float: left;
    clear: both;
}

#rentalsDetailsForm span {
    display:block;
    width:700px;
}

#rentalsDetailsForm td label {
    margin-bottom: 4px;
}

#bottomPanel input , #bottomPanel a, #bottomPanel label {
    float: right;
}

#bottomPanel input {
    background:#FFFFFF url(../../images/a/btn/send.gif) no-repeat scroll 0 0;
    border:0 none;
    height:27px;
    overflow:hidden;
    text-indent:-1000px;
    text-transform:capitalize;
    width:150px;
}

#bottomPanel a {
    background:#FFFFFF url(../../images/a/btn/cancel.gif) no-repeat scroll 0 0;
    border:0 none;
    height:27px;
    overflow:hidden;
    text-indent:-1000px;
    text-transform:capitalize;
    width:150px;
    margin-right: 20px;
}

#bottomPanel label {
    clear:none !important;
    color:Red;
    display:none;
    float:left;
    font-size:11px;
    width:300px;
}

/* confirmation */
.Confirmation h2 {
    height:25px;
    width:726px;
    margin: 20px 0 10px 2px !important;
}

#confirmationPanel #ConfText p big {
color:#247ac3 !important;
}


#rentalSum tr.total td, #paymentDet tr.total td {
    color:#247ac3;
    font-size:12px !important;
    font-weight:bold;    
}


#printLinkDiv a{
	background: url(../../images/a/btn/btn_matrix.png) no-repeat scroll -600px -400px !important;
	width:150px !important;
	height:27px !important;
}


#printLinkDiv a:hover{
	background-position:-600px -480px!important;
}




#vehicleCatalogContainer #paymentPanel #yourDetails,#vehicleCatalogContainer #paymentPanel.Confirmation #travelDetails, #vehicleCatalogContainer #paymentPanel #rentalSum, #vehicleCatalogContainer #paymentPanel #paymentDet {
	width:800px !important;
	margin-left:0px !important;
}

#vehicleCatalogContainer #paymentPanel #contactUs, #vehicleCatalogContainer #paymentPanel #feedBack{
	width:730px;
	margin-left:0px;
}

#vehicleCatalogContainer #paymentPanel #rentalSum table, #vehicleCatalogContainer #paymentPanel #paymentDet table, #vehicleCatalogContainer #paymentPanel #travelDetails table, #vehicleCatalogContainer #paymentPanel #yourDetails table {
margin-left:0px !important;
width:730px !important;
padding-left:10px;
}


#vehicleCatalogContainer #paymentPanel H2{
	font-size:14px !important;
}

#vehicleCatalogContainer #paymentPanel table{
	font-size:11px !important;
}

#feedBack p {
width:730px !important;
	
}

#feedbackForm  #sendBtn {
    float: right;
    background : #fff url(../../images/a/btn/send.gif) no-repeat  0 0;
    border: 0px;
    height: 27px;
    overflow: hidden;
    text-indent:-1000px;
    text-transform: capitalize;/*ie ;o(*/
    width:150px;
    margin: 20px;      
}

#completedMessage span {
    font-size: 13px;
    display:block;
    height: 200px;
}

#completedMessage big {
    color:#7A8F00;
    font-size:15px;
    font-weight:bold;
} 

#vehicleCatalogContainer #emptySelectionMsg span {
	font-weight:bold;
	color:#247ac3;
}

/* save Quote */
#configureUpdatePanel #saveQuoteLnk {
    background : url(../../images/a/btn/btn_matrix.png) no-repeat transparent -200px -159px;
	height: 50px !important; /* refactor base here */
}
#configureUpdatePanel #saveQuoteLnk:hover {
    background-position: -199px -239px;
}

#configureUpdatePanel .Submit .selected {
    background-position: -199px -320px !important;
}

.saveQuote .ui-widget-header .ui-icon {
    background-image: url(../../images/a/btn/btn_matrix.png); 
    background-position: -800px -160px;
     margin-right: 10px;
}

.saveQuote .ui-icon {
    width: 20px;
    height : 20px;
}

.saveQuote .ui-dialog-titlebar {
     background: #02171F;
     height: 45px;
}

.saveQuote  .ui-dialog-titlebar-close {
    margin-right : 10px !important;
}

.saveQuote .ui-dialog-title {
    margin: 10px 0 0 125px !important;
    color: #fff; 
    text-align: center;
    font-size: 15px; 
}

#saveQuoteDiv {
    background: #fff url(../../images/a/tiles/qn_bg.png) repeat-x  0 -45px;  
}

#saveQuoteDiv p.submitPanel {
    width: 100%;
} 

#saveQuoteDiv .submitPanel input {
    float: right;
    background : #fff url(../../images/a/tiles/qn_bg.png) no-repeat  -400px -400px;
    border: 0px;
    height: 23px;
    overflow: hidden;
    text-indent:-1000px;
    text-transform: capitalize;/*ie ;o(*/
    width:143px;      
}

.quote #footerPanel input {
    background : url(../../images/a/btn/btn_matrix.png) no-repeat transparent -200px -159px;
    width: 143px;
    height: 23px;
}

.quote #footerPanel input:hover {
    background-position:-200px -240px!important;
}

#printQuoteDiv a{
	background: url(../../images/a/btn/btn_matrix.png) transparent no-repeat scroll -600px 0 !important;
}

#printQuoteDiv a:hover{
	background-position: -600px -79px!important;
}

#printQuoteLnk {
    background-image: url(../../images/a/btn/btn_matrix.png);
    width: 158px !important;
    height: 25px !important;
}

#printQuoteDiv #searchAgainLnk { 
    margin-top: 10px;
    background-position: -400px 0 !important;
    width:150px!important;
}

#printQuoteDiv #searchAgainLnk:hover { 
    margin-top: 10px;
    background-position: -400px -80px !important;
}

a.priceMatch {
	display:none;
	background:url(../../images/a/tiles/price-match.png) no-repeat 0 0 ;
    	height: 41px;
	margin: 65px 0 0 99px;
    overflow: hidden;
    text-indent: -1000em;
    visibility: visible !important;
    width: 215px !important;
}

/* Save Quote */
.quote #saveQuoteLnk {
    background: transparent url(../../images/a/btn/btn_sprites.png) no-repeat -199px -720px !important ; 
    height: 50px !important;    
}

.quote #saveQuoteLnk:hover {
     background-position: -200px -720px;
}

.quote #confirmQuoteSubmit,  .quote #promptContainer input {
   background: transparent url(../../images/a/btn/btn_sprites.png) no-repeat 0 -640px !important ; 
   height: 50px !important ;
   width: 144px !important ;
   cursor: pointer;
}

.quote #confirmQuoteSubmit:hover, .quote #promptContainer input:hover {
     background-position: 0 -720px !important ;
}


.quote #configureUpdatePanel .Submit {
    height: 50px;
}

.quote #promptContainer input {    
    border: 0px;
    height: 25px;
    overflow: hidden;
    text-indent:-1000px;
    text-transform: capitalize;/*ie ;o(*/
    width:135px;
    margin: 5px 0 0 30px;
}


#submitExpiredQuote a{
    background: transparent url(../../images/a/btn/btn_sprites.png) no-repeat;
    height: 40px;
    width: 143px;
}

#submitExpiredQuote #searchAllVehicles {
     background-position: -200px -640px;
}

#submitExpiredQuote #searchAllVehicles:hover {
    background-position: -200px -720px;
}

#submitExpiredQuote #searchVehicle {
     background-position: -400px -640px;
}

#submitExpiredQuote #searchVehicle:hover {
    background-position: -400px -720px;
}

.quote #paymentContainer input.SubmitBtn  {
    background: transparent url(../../images/a/btn/btn_sprites.png) no-repeat -600px -160px;
    height: 40px;
    width: 143px;
    
} 

.quote #paymentContainer input.SubmitBtn:hover {
	 background: transparent url(../../images/a/btn/btn_sprites.png) no-repeat -600px -240px!important;
}

/* Save Quote Ends*/

/* Alternate Availability */

div.AltRow .AltPrice {
    width: 195px;
    height: 100px;
    float: left;
}


div.AltRow div.noAvailability {
    background: url("../../images/a/icons/altx.png") no-repeat 0px 6px;    
    float: left;
    height: 60px;
    margin-top: 20px;
    width: 270px;
}

div.AltRow div.noAvailability span {
    clear: both;
    display: block;
    float: left;
    font-size: 10px;
    font-weight: bold;
    line-height: 15px;
    margin-left: 50px; 
}

div.AltRow .AltPrice li span {
    color: #247ac3;
    font-size: 11px;
    font-weight: bold;
    display:block;
    height: 20px; 
    background: url("../../images/a/icons/altCB.png") no-repeat 0 0 transparent !important;
    padding-left: 50px;
    margin-top: 26px;  
}

div.AltRow .AltPrice li.Fp span {
    color: #8B8B8B;
    font-size: 11px;
    font-weight: normal;
}

div.AltRow .AltPrice li.Hide {
    display: none;
}

#selectedVehiclePanel {
    float: left;
    clear: both;
    width: 978px; 
    height: 130px;
    border-top: 1px solid #247ac3;     
}


#selectedVehiclePanel h3,#selectedVehiclePanel img {
    float: left;
    display:block;
    margin-top: 5px;     
}
#selectedVehiclePanel #selectedVImage
{
    margin-left:40px;
}
#selectedVehiclePanel #selectedVIncs {
    margin-left: 36px;
    margin-top:17px;
}

#selectedVehiclePanel span.reel {
    float: right;
    margin-right:15px;
	margin-top:15px;
}

#selectedVehiclePanel h3 {
    color: #247ac3;
    font-size: 16px; 
    margin: 17px 0px 0px 17px;
    width:180px;
    overflow: hidden;
	
}

#alternativeMessagePanel, #alternateContactPanel {
    float: left;
    clear: both;
    height: 40px;
    width: 978px; 
    background: url("../../images/a/tiles/aaArrow.png") no-repeat 10px 10px #247ac3;
    border-bottom: 1px solid #fff; 
}

#alternativeMessagePanel span, #alternateContactPanel span {
    color: #fff;
    font-size: 12px;
    float: left;
    margin: 14px 10px 0 40px;
    font-weight: bold;
     
}

#alternativeMessagePanel small, #alternateContactPanel small {
    float: left;
    display: block;
    margin: 14px 0 0 20px;
    font-size: 9px;
    font-weight: bold; 
    color: #7E550F;
}

div.AltRow {
    width: 976px;
    height: 88px; 
    float: left;
    clear: both;
}                        

div.AltRow .AltType {
    float: left;/* base */
    height: 87px;/* base */
    width: 155px; /* base */
    background: url("../../images/a/tiles/aa-arrow.png") no-repeat scroll transparent;
}

div.SwitchLocation .AltType {  
    background-color: #8b2a77;
    background-position: 147px 0;
}

div.OneWaySwitchLocation .AltType {  
    background-color: #8B2A77;
    background-position: 147px 0;
}


div.MoveForward .AltType {
    background-color: #7ab4e5;
    background-position: 147px -82px;
}

div.OriginalSearch .AltType 
{
    background-color: #247ac3;
    width:145px;
    margin-right:10px;
    background-image:none;
}


div.PickUpBased .AltType {
    background-color: #4086c2;
    background-position: 147px -340px;
}

div.MoveBackwards .AltType {
    background-color: #7ab4e5;
    background-position: 147px -82px;
}

div.DropOffBased .AltType {
    background-color: #4086c2;
    background-position: 147px -340px;
}

/* add all avail types here..*/ 

div.AltRow .AltType span {
    font-size: 11px;
    font-weight: bold; 
    display: block;
    width:80px;                             
    color: #fff;  
    margin: 20px 0 0 16px;
}

div.AltRow div.AltTime {
    float: left;
    width: 538px;
    height: 86px;
}


div.AltRow .TimeSpan {
    height:10px;
    width:400px;
    float: left;
    border: solid 1px #aaa;
    margin: 0 0 0 74px;
    background-color: #fff;                            
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div.AltRow .TimeSpan span {
    display: block;
    float: left;
    height: 10px;                            
}

div.AltRow .TimeSpan span.Avail {
    background-color: #499d3e;
}

div.AltRow .TimeSpan span.noAvail {
    background-color: #eeda1a;
}

div.AltRow .TimeSpan span.hireDates {
    /*background-color: #4EA143;*/                            
}

div.AltRow .TimeLabels {
    float: left;
    display: block;                            
    width:462;    
    margin-left: 72px;                              
}

div.AltRow .TimeLabels span {    
    font-size: 11px;
    float: left;
    display:block; 
    text-align: center;                            
}
div.AltRow .TimeLabels.period .hireORDates small
{
    white-space:nowrap;
}
div.AltRow .TimeLabels .hireORDates small {

}              

.hireORDates small {
    text-align: center;
}          

div.AltRow .TimeLabels .postORDates small {
    width: 40px;
}

div.AltRow .dates {                             
    height: 30px;
}

div.AltRow .period {
    margin-top: 13px;
    height:15px;
}

div.OptionRow ul.Prices {
    margin-top:22px;
}

div.OptionRow .ShowPriceList {
    color: #247ac3;
    text-decoration: underline; 
    font-size: 9px;
    cursor: pointer;
    margin-top: 5px;  
    display: block;
    margin-left: 50px; 
}

div.OptionRow .PriceDetailsList { /* base */
    display:none;
}

div.Expand .PriceDetailsList {/* base */
    display: block;
    float:left;
    margin-left: 80px;
    font-size: 11px; 
}

div.AltRow .AltSelect {
    display: block;/* base*/
    float: right;   /* base*/
    background: url("../../images/a/btn/btn_matrix.png") no-repeat 0 -159px transparent;                           
    height: 23px;                           
    text-decoration: none;/* base*/
    text-indent: -9999px; /* base*/
    width: 72px;
    margin: 22px 15px 0px 0px; 
    overflow: hidden;
}

div.AltRow .AltSelect:hover {
    background-position: 0 -239px;
}


div.AltRow chargeTable {
    float: left
}
div.OptionRow .NoAlt
{
    float:left;
    padding: 0px 15px 0px 75px;
    width:731px;
}
div.OptionRow .NoAlt span, div.OptionRow .NoAlt a {
    display: block;
    float: left;
    margin-top: 28px;    
}

div.OptionRow .NoAlt span {   
    height: 20px;    
    line-height: 18px; 
    font-size: 11px;
    font-weight: bold;    
}

div.OptionRow .NoAlt small{
    background: url("../../images/a/icons/altx.png") no-repeat 0 0 transparent;
    height: 20px;
    width: 20px;
    display: block;
    float: left; 
    margin-top:35px;  
    overflow: hidden;
    text-indent: -1000em 
}

div.OptionRow .NoAlt a.details {
    color:  #7C2424;
    text-decoration: underline;
    font-size: 9px;
    line-height: 18px;
    margin-left: 10px;
    margin-right: 358px;     
}

div.OptionRow .NoAlt a.call{
    width: 150px;
    height: 32px;
    background: url("../../images/a/btn/btn_matrix.png") no-repeat 0 -559px transparent;
    overflow: hidden;
    text-indent: -1000em; 
    float: right;
}

div.OptionRow .NoAlt a.call:hover {
    background-position:  0 -639px;
}

#alternate
{
	background:url(../../images/a/background.jpg) repeat-x scroll left top;
    min-width:977px;
}

#alternate span.ContactUs {
    display: none;
}

#vehicleAAContainer
{
    width:977px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    border: solid 0px #fff;    
}

#vehicleAAContainer div
{
    font-family:Tahoma;
}
/* AA - New Header*/
#catalogAAHeader {
    width:985px;
    height:106px;
    float:left;
    background: url('../../images/a/header-AA.jpg');    
    float: left;
    margin-left:-3px;
	margin-top:-1px;
}

#catalogAAHeader span.Image {
    float: left;
    width: 185px;
    height : 77px;
    margin:10px 0 0 19px;
}
#catalogAAHeader a.ContactUs
{
    float:right;    
    margin:0px 10px 0 0px; 
    border:none;
}
#catalogAAHeader a.ContactUs img
{
    border:none;
}
/* AA - New breadcrumb*/
#b2c-steps {    
    width:978px;
    height:34px;
    float:left;    
    overflow:hidden;
}
#b2c-steps .steps
{
    width:978px;
    height:34px;    
    display:block;
    margin-left:1px;
}
#b2c-steps #step-1 {
     background:url(../../images/a/btn/Sprites-Breadcrumbs.png) #E3E3E3 no-repeat 0px -228px;
}

#vechileCatalogAAContainer {
    float : left;
    width: 978px;    
    background-color: #fff;     
}
#vechileCatalogAAContainer h2 {
    float:left;
    font-size:18px;
    font-weight:bold;
    color:#4A4A4A;
    padding: 25px 0px 0px 15px;
    width: 450px;
    height: 33px; 
    line-height: 30px; 
	
}
#vechileCatalogAAContainer #resultsHeader {
    background-color: #fff;
    width:450px;
    height:30px;
    font-size:12px;
    margin-right:16px;
    color:#000;
    float:right;
    padding: 34px 0px 0px 0px;    
}

#alternativeCatalogContainer a.freephone
{
    background:url('../../images/a/btn/btn_matrix.png') no-repeat;
    width: 152px;
    height:38px;
    display:block;
    text-indent:-9999px;
    background-position: -400px -1040px;
}

#alternativeCatalogContainer a.freephone:hover {
    background-position: -400px -1119px;
}
#alternativeCatalogContainer .rightHandBanner
{
    display:none;
}
#alternativeCatalogContainer.unavailable {
    float:left;
    width:977px;
    background:url(../../images/a/tiles/no-aa-right.png) no-repeat right 259px;
}


#alternativeCatalogContainer.unavailable .rightHandBanner
{
    display:block;
}
#alternativeCatalogContainer.unavailable .OptionRow
{
    float:left;
}

#alternativeCatalogContainer.unavailable .OptionRow .AltRow
{
    width:706px;
}
#alternativeCatalogContainer.unavailable .OptionRow .AltRow.OriginalSearch
{
    width:977px;
}
#alternativeCatalogContainer.unavailable .OptionRow .AltRow.OriginalSearch .noAvailability
{
    margin-left:20px;
    width:250px;
}
#alternativeCatalogContainer.unavailable .rightHandBanner
{
    width:225px;
	padding-left:45px;
    overflow:hidden;
    display:block;
    float: right;
}
#alternativeCatalogContainer.unavailable .rightHandBanner a.freephone{
    margin-left:18px;
    margin-top: 275px;
}

#alternativeCatalogContainer.unavailable .rightHandBanner img
{
     visibility:hidden;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt
{
    width:461px;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt a.details
{
    margin-right:30px;
}
#alternativeCatalogContainer.unavailable .OptionRow .NoAlt small
{
    margin-top:30px;   
}
#alternativeCatalogContainer.unavailable  .OptionRow .NoAlt a.call 
{
    display:none;
}


#footerContainer {
    background: url("/images/a/tiles/footer-24-7-image.jpg") no-repeat scroll left top transparent;   
    float:left;
    display:block;
    width:978px;    
}
#footerContainer #footerWrapper {    
    display:block;
    height:165px;
    width: 475px;
    padding-left: 380px;    
    float:right;
    text-indent:-9999px;
}
#footerContainer .resText
{
    background: url("/images/a/tiles/24-7-reservations-title.gif") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 40px;
    margin-top: 20px;
    width: 210px;
}
#footerContainer a
{
    display:block;
    float:left;
    width:1px;
    height:1px;
    background:url('../../images/a/btn/btn_matrix.png') no-repeat;

}
#footerContainer a.freephone {

    width: 152px;
    height:38px;
    background-position: -400px -1039px;
    margin-top:20px;
    margin-left:20px;
}
#footerContainer a.freephone:hover
{
    background-position: -400px -1119px;
}
#footerContainer span.searchall
{
    background: none;
    clear: both;
    display: block;
    height: 51px;
    width: 290px;
}
#footerContainer a.returntosearch {
    width: 180px;
    height:22px;
    background-position: 0px -1200px;
    margin-top:13px;
    margin-left: 230px; 
    
}
#footerContainer a.returntosearch:hover
{
   background-position: 0px -1280px;
}
#footerContainer a.otherbrands
{
    width: 180px;
    height:25px;
    background-position: -200px -1200px; 
    margin-top:10px;
    margin-left:20px;    
    display:none;
}
#footerContainer a.otherbrands:hover
{
    background-position: -200px -1280px; 
}

#vehicleAAContainer #disclaimer {
    float : left;
    width: 961px;
    padding-top: 10px;    
	padding-left:17px;
    height : 45px;	
    font-size : 11px;
    color:#000000;
    background-color: #FFFFFF;     
}
#footerLinksBottom {
    clear:both;
    padding-top: 25px;
    width:948px;
    height:55px;
    text-align: center;
    width:100%;
    background-color:#fff; 
}

#footerLinksBottom #footerLinksLogos {
    width:700px;
    margin-left:110px;
}

#footerLinksBottom #footerLinksLogos li#logos {
    background: url("../../images/logo-lockup.png") no-repeat scroll 0 0 transparent;
}

#footerLinksBottom #footerLinksLogos li {
    font-size:9px;
    color:#999;
    float: left;
    line-height: 15px;
    padding: 0;
    text-align: left;
    vertical-align: top;
}
#footerLinksBottom #footerLinksLogos li#logos a {
    display: block;
    float: left;
    height: 40px;
    outline: medium none;
    text-indent: -9999px;
    width: 50px;
}
#footerLinksBottom #footerLinksLogos li#copyright
{
    margin-left:20px;
}
#footerLinksBottom #footerLinksLogos li#logos #THLLogo {
    width: 80px;
}
#footerLinksBottom #footerLinksLogos li#logos a#MauiLogo {
    width: 60px;
}
#alternate #tooltip
{
    opacity:1;
}

#tooltip .SmallContainer
{
    background-color: #fff;
    border: 2px solid #247ac3;
    color:#000;
    padding: 5px 10px 15px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    float: left;
    max-width:500px;
    opacity: 0.95;
}
#tooltip .LargeContainer
{
    font-family:Tahoma !important;
    background-color: #247ac3;
    border: 2px solid #247ac3;
    color: #FFF;
    padding: 5px 10px 15px;
    float: left;
    width:610px;
    position:relative;
    /*css3*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;                  
    border-radius: 5px;
    z-index:2;
}
#tooltip .LargeContainer .ads
{
    float:right;
    max-height:44px;
}
#tooltip .LargeContainer h3
{
    line-height: 20px;
    float: left;            
    margin-top: 22px;
    vertical-align: bottom;
    padding-bottom:10px;
	font-size:16px;
}
    #tooltip .LargeContainer .chargesTable
    {
        width:100%;
        border-collapse:collapse;
        clear:both;
        text-align:left;
        font-size:11px;             
    }
#tooltip .LargeContainer .chargesTable th
{
    color:#FFF;
    text-align:left;            
    padding:10px 0px 10px 5px;
    background:#3061a4;            
}
#tooltip .LargeContainer .chargesTable td
{
    padding:5px 0px 5px 5px;
    background:#fff;
    color:#333;
    text-align:left;            
}

#tooltip .LargeContainer .chargesTable th.PerTH,
#tooltip .LargeContainer .chargesTable td.pth
{
    width:60px;
}
#tooltip .LargeContainer .chargesTable th.DiscTH,
#tooltip .LargeContainer .chargesTable td.dth
{
    width:80px;
}
        
#tooltip .LargeContainer .chargesTable tfoot td
{
    background:#bce7ff;
}
        
#alternate .steps a {
    display: block;
    overflow: hidden;
    width: 300px;
    height: 30px; 
    overflow: hidden;
    text-indent: -1000em 
}

#alternate div.AltRow .AltPrice li.Fp span  {
    margin-top: 0 !important;
    background-image: none !important; 
}


.availPopUp {
    width:280px;
    line-height:18px;
    color:#FFF;
    background-color:#fff;
    padding: 5px 10px 15px;
    max-width:500px;
    border: 2px solid #247ac3;    
    background: url("../../images/a/tiles/availabilitybg.png") repeat-x scroll 0 0 #247ac3;
	font-size:11px;
}
.preloaderIframe
{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    visibility:hidden;
}
#staticLoader {	
    float : left;
    width: 778px;
    margin-left: 12px;   
    padding-bottom: 6px;
    padding-top:20px;
    padding-bottom:20px;
    display:none;
    text-align:center;
    font-size:16px;
    font-weight:bold;
    color:#333;
    background-color: #fff; 
}


#vehicleCatalogContainer .VehicleItem div.Limited .AALink a {
	color:#F58220;
	display: block;
	background:transparent url(../../images/a/btn/btn_matrix.png) no-repeat  0 -1039px;
    text-indent: -9999px;
    overflow: hidden;
	height: 48px;
    width: 157px;
	margin-left: 13px;
}

#vehicleCatalogContainer .VehicleItem div.Limited .AALink a:hover {
     background-position: 0 -1119px;
}

#vehicleCatalogContainer .VehicleItem div.Limited .CallLink a {
	color:#F58220;
	display: block;
	background:transparent url(../../images/a/btn/btn_matrix.png) no-repeat  0 -559px;
    text-indent: -9999px;
    overflow: hidden;
	height: 32px;
    width: 145px;
	margin-left: 25px;
}

#vehicleCatalogContainer .VehicleItem div.Limited .CallLink a:hover {
     background-position: 0 -639px;
}

#vehicleCatalogContainer .VehicleItem div.Limited .AALink a:hover {
	color:#F58220 !important; /* REMOVE FROM BASE.CSS */
	text-decoration:underline;
}

#bookingControl #rightCol #bottomRight a {
    background: url("../../images/a/btn/btn_matrix.png") no-repeat scroll 0 0 transparent;
}

#bookingControl #rightCol #bottomRight a:hover {
	background-position: 0 -79px;
}

#vehicleCatalog .VehicleItem a.SelectBtn:hover {
    background-position: 0 -238px;
}

#carousel { position: relative; height: 200px; margin: 0; padding: 0; }
#carousel li { float: left; cursor: pointer; cursor: hand; list-style: none; margin: 0px; padding: 0px; width: 294px; height:171px;}
#carousel li img { height: 100%; width: 100%;}
.preloader  #configurePanel .progressIndicator {
        float: left;
        clear:both;                 
        font-size: 13px;  
        text-align: center;    
        width: 100%;
        height: 400px; 
        padding-top: 50px;                      
}
.preloader  #configurePanel .progressIndicator img {
           
}   
/* Alternate Availability Ends */


/* Cross Sell Starts */

body.selection #HorizontalControlContainer .CSell, body.selection #HorizontalControlContainer .CSellLbl {
    display: block!important;
    color:#000000!important;
}

#thlCrossSellBanner {	
	display: none;
	padding-top: 0px;	
	float:left;
	height:25px;
	width:100%;
	/*background:url(../../images/crosssell/cs.png) 0 0 no-repeat;*/
	background: url("../../images/crosssell/cs.png") no-repeat scroll 0 0 transparent;
	cursor:pointer;
    margin-left: 12px;	
}


#preLoaderPanel {	
	width: 1000px;
	height: 768px;
	margin-left:auto;
	margin-right:auto;	
}

#preLoaderPanel span {
	display: block;
	margin-top: 105px;
	margin-left: 480px;
	width: 40px;
	height: 40px;
	background: url(../../images/b/icons/ajax-loader.gif) no-repeat;
}
 .CSell_AU {
	background: url(../../images/crosssell/cs_preload_au.png) no-repeat;
 }

 .CSell_NZ {
	background:url(../../images/crosssell/cs_preload_nz.png) no-repeat;
 }

 #bookingControl #leftCol span {
	float: right;
	margin-bottom:8px;
 }
 
 
 #bookingControl span { 
	font-size : 11px;
	color:#FFFFFF!important;
 }
 
 #bookingControl {
	background:none!important;
	padding-left: 0px;
	height:160px !important;
	border:none!important;
	margin:7px 0 0 0!important;
 }
 
 #bookingControl span.CSellLbl {
	display:none;
	float:right;
	clear:both;
}


 /* cross sell new */
 
#bookingControl span.Radios
{
    font-size: 10px;
    padding-bottom: 5px;
	visibility: hidden;
}

#bookingControl span.Model, #bookingControl span.RightPass
{
    padding-bottom:5px;
}
#bookingControl span .select{
	height: 17px;
}

#bookingControl #leftCol span  {
	text-align: right;
	width:100%;
}

#bookingControl #leftCol span.required  {
	font-weight:bold;
}

#bookingControl .botCol a.searchBtn {
    background : transparent url(../../images/a/btn/btn_matrix.png) no-repeat 0 0;
    display:block;
    height : 23px;
    overflow:hidden;
    text-indent:-100px;
    width: 92px;
    float:right;
    margin-top:12px;
	margin-right:-70px;
}

#bookingControl .botCol a.searchBtn:hover {
    background-position:0 -79px;
}

#bookingControl .crossSell .crossSellBrand
{
    width:40px;
    background-position:40px 0px;
}
#bookingControl .botCol
{
    margin-top:22px;
}
#bookingControl span.Model, #bookingControl span.RightPass
{
    padding-bottom:5px;
}

#bookingControl .crossSell, #vehicleSelectionContainer #bookingControl.cars .crossSell
{
    display: none;
}

#vehicleSelectionContainer #bookingControl .crossSell
{
    /* display: block; none for now */
}

#bookingControl #leftCol
{
    width:155px;
}
#bookingControl span.CSellLbl
{
     float: left;
    font-weight: bold;
    line-height: 17px;
    padding-left: 20px;
    width: 102px;
}

#ctrlValidationMsg
{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
#bookingControl .botCol
{
    float: left;
    clear: left;
    width: 100%;
    display:block;
}
#bookingControl .crossSell
{
    float: left;
    background: url('../../images/crosssell/cs-background.png') repeat-x scroll 0pt 0pt transparent;
    margin-left: 16px;
    padding: 10px;
}
#bookingControl .crossSell .CSellOpt
{
    float: left;
    margin-right: 10px;
    margin-left: 8px;
}

 /* cross sell new ends*/

/* Cross Sell Ends */


/* CrossSell header begins */
#crossSell{
	margin: 0 auto;
	top: 0px;
	height:25px;
	width: 760px;
	font-size:11px;	
	z-index:1;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
}
#crossSellLogo{
	float:left;
	height:25px;
	width:85px;
}
#crossSell #crossSellCountry {
	float:right;

}
#crossSell .crossSellNav{
			/*border:1px solid #ccc;
			border-width:1px 0;*/
			list-style:none;
			margin:0;
			padding:0;
			text-align:left;
			float:left;
}
#crossSell .crossSellNav li{
			position:relative;
			display:inline;	
			height:25px;
}
#crossSell .crossSellNav a{
			display:inline-block;
			padding:5px 10px 0px 10px;
			height:20px;
}
#crossSell .crossSellNav ul{
			position:absolute;
			top:100%; /*Uncommenting this makes the dropdowns work in IE7 but looks a little worse in all other browsers. Your call. */
			left:-9999px;
			margin:0;
			padding:0;
			text-align:left;
}
#crossSell .crossSellNav ul li{
			display:block;
}
#crossSell .crossSellNav li:hover ul{
			left:0;
}
#crossSell .crossSellNav li:hover a.maui, #crossSell  li.current a.maui{
			text-decoration:none;
			background:#01606f;
			color:#fff;
}
#crossSell .crossSellNav li:hover a.britz{
			text-decoration:none;
			background:#f58220;
			color:#fff;
}

#crossSell .crossSellNav li:hover a.BP, li.current a.BP {
			text-decoration:none;
			background:#0080b5;
			color:#fff; 
}

#crossSell .crossSellNav li:hover a.country{
			text-decoration:none;
			background:#353535;
			color:#fff; 
}

#crossSell .crossSellNav li:hover ul a{
			text-decoration:none;
			width:140px;
			background:#fff;
}
#crossSell .crossSellNav li:hover ul a:hover{
			text-decoration:none;
			background:#fa8300;
			color:#fff; 
}
#crossSell .crossSellNav ul a{
			white-space:nowrap;
			display:block;
}
#crossSell a{
			color:#8e929b;
			text-decoration:none;
			font-weight:normal;
}
#crossSell a.britzCurrent, #crossSell li.current a.britz{/* Remove the britzCurrent */
			text-decoration:none;
			font-weight:normal;
			background:#f58220;
			color:#fff;

}

#crossSell a:hover{
			text-decoration:none;
			background:#f1f1f1;
}
/* CrossSell header ends */	

#bookingControl #leftCol
{
      height: 72px;
    padding-left: 8px;
    width: 138px;
}
#bookingControl #centreCol
{
    width:190px;
}
#bookingControl #centreCol span.CofR
{
    display:block;
    margin-top:2px;
    margin-right:0px;
    white-space:nowrap;     
}     
#bookingControl #centreCol span.CofR input
{
    width:13px;
}
#bookingControl span,#bookingControl input,#bookingControl select
{
    font-family:Tahoma !important;
}
#bookingControl input
{
    height:14px;
}
#bookingControl select
{
    height:18px;
}
#bookingControl small
{
    font-size:10px;
}
#bookingControl *
{
    vertical-align:top;
}

#vehicleConfigureContainer #bookingControlContainer{
  	height:233px;
	background: url("../../images/a/booking-bg-small.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 148px;
    margin-left: 12px;
    width: 800px;
    display: none; /* v2.5 */
}

.returntoseachBreadCrumb
{
    float:left;
    width:100%;
    clear:both;
}
.returntoseachBreadCrumb a
{
    padding: 5px 0px 5px 16px;
    font-size:9px;
    color:#247ac3;
    display:block;
    text-decoration:none;
    border-bottom: 1px solid #e7e7e7;
	background: url("../../images/b/tiles/altRowBG.png") repeat-x scroll 0 0 transparent !important;
}
.returntoseachBreadCrumb a:hover {
	text-decoration:underline;
}

/* Promo Text */
.PriceDescription .promo {
	background: url("../../images/a/tiles/promo_bg.jpg") no-repeat scroll 0 0 transparent; 
	margin-top: 5px;
	overflow: hidden;
	min-height: 40px;
}
.PriceDescription .promo big { 
	color: #007cb3; 
	margin-left:58px; 
}
.PriceDescription .promo small { color:#4a4a4a; margin-left:58px;}

#sslSeal {
    float: left;
    height: 90px;
    margin-left: 30px;
    padding: 6px;
    width: 35px;
    margin-top:32px;
}

.Confirmation a.contactUsLink {
    color:#247ac3;
}

#bookingControl .spinner {
	margin-top:15px;
}

#vehicleConfigureContainer #ctrlSearchBox_dropCountryOfResidence {display: none;}

tr.CCSurchargeRow { display: none; }